<table class="grid" *ngIf="procedures.length > 0">
  <thead>
    <tr>
      <th style="width:20pt"></th>
      <th style='width:60%'>Procedure name and Official code</th>
      <th style='width:100px'>Entity</th>
      <th style='width:12%'>Topic</th>
      <th style='width:10%'></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let procedure of procedures" [class.selected-row]="selectedProcedureUID === procedure.uid">
      <td>
        <mat-icon (click)="selectProcedure(procedure.uid)" color="accent">contact_mail_outline</mat-icon>
      </td>
      <td style='width:60%'>
        <a (click)="selectProcedure(procedure.uid)">{{procedure.name}}</a>
        <br />
        <span *ngIf="procedure.modality.length !== 0">Modality: {{procedure.modality}} | </span>{{procedure.code}}
      </td>
      <td style='width:100px'>{{procedure.entityName}}</td>
      <td style='width:12%'>{{procedure.theme}}</td>
      <th style='width:10%'></th>
    </tr>
  </tbody>
</table>
