<div class="card card-border">

  <div class="card-header">

    <div class="card-title">
      {{dataObject.name}}
      <div class="card-hint">{{dataObject.step.name}}</div>
    </div>

    <div class="card-header-options">
      <i class="fa fa-times close-icon" aria-hidden="true" (click)="onClose()"></i>
    </div>

  </div>

  <mat-tab-group color="accent">

    <mat-tab label="PDF File" i18n-label>
      <div class="expand-no-scroll">
        <emp-ng-object [data]="dataObject.templateUrl"></emp-ng-object>
      </div>
    </mat-tab>

    <mat-tab label="Edition" i18n-label>

    </mat-tab>

    <mat-tab label="Annotations" i18n-label>
      <emp-kb-postings-list [target]="dataObject"></emp-kb-postings-list>
    </mat-tab>

  </mat-tab-group>

</div>
