<table class="grid">
  <thead>
    <tr>
      <th style="width:20pt"></th>
      <th style="width:60%">Nombre</th>
      <th style="width:30%">Acrónimo / Tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let document of documentsList" [class.selected-row]="selectedDocumentUID === document.uid">
      <td style="width:20pt" class="main-icon">
        <a (click)="setSelectedDocument(document)"><i class="fa fa-book" aria-hidden="true"></i></a>
      </td>
      <td style="width:60%">
        <a (click)="setSelectedDocument(document)">{{document.name}}</a>
      </td>
      <td style="width:30%">
        {{document.code}}<br> {{document.type}}
      </td>
    </tr>
  </tbody>
</table>
