<div class="editor-container editor-container-style">
  <div class="header">
    <div class="title">{{title}}</div>
  </div>

  <div class="tab">
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='meetingData'"
      (click)="setSelectedTask('meetingData')">Informacion general</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='recomendations'"
      (click)="setSelectedTask('recomendations')">Recomendaciones</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='agreements'"
      (click)="setSelectedTask('agreements')">Acuerdos</button>
  </div>
  <br>
  <div class="form-frame" [ngSwitch]="selectedTask">
    <div *ngSwitchCase="'meetingData'">
      <emp-kb-meeting-root [meetingUID]="meetingUID" (update)="updateMeetingData($event)">
      </emp-kb-meeting-root>
    </div>
    <div *ngSwitchCase="'recomendations'">
      <emp-kb-recomendations></emp-kb-recomendations>
    </div>
    <div *ngSwitchCase="'agreements'">
      <emp-kb-agreements></emp-kb-agreements>
    </div>
  </div>
</div>
