@import "../../../styles/grid";
table.grid tbody {
  height: calc(100vh - 245px);
}

.selected-row {
  border-bottom: 2px solid $dark-blue;
  border-top: 2px solid $dark-blue;
  z-index:1000;
  font-weight: 600;
}