<div class="editor-container editor-container-style">

  <div class="header">
    <div class="close-button right-position" (click)="onClose()">&times;</div>
    <div class="title">{{task.name}}</div>
  </div>

  <div class="tab">

    <button class="tab-links left-position" [disabled]="isDisabled"
            [class.selected]="selectedTab==='generalInfo'"
            (click)="selectTab('generalInfo')">Información general</button>

    <ng-container *ngIf="task.procedure.uid !== 'Empty'">
      <button class="tab-links left-position" [disabled]="isDisabled"
              [class.selected]="selectedTab==='requirements'" 
              (click)="selectTab('requirements')">Requisitos y documentos</button>
    </ng-container>

    <button class="tab-links left-position" [disabled]="isDisabled"
            [class.selected]="selectedTab==='closeTask'"
            (click)="selectTab('closeActivity')">
            <span [innerHTML]="closeActivityLabel"> </span>
    </button>

  </div>

  <div [ngSwitch]="selectedTab" class="form-frame">

    <activity-editor *ngSwitchCase="'generalInfo'"
                 [activity]="activity"
                 (onUpdateActivity)="updateActivity($event)"
                 (onCloseEvent)="onClose()"></activity-editor>

    <close-activity *ngSwitchCase="'closeActivity'"
                    [activity]="activity"
                    (onCloseActivity)="updateActivity($event)"
                    (onCloseEvent)="onClose()"></close-activity>

    <pe-requirements *ngSwitchCase="'requirements'"
                     [procedureUID]="task.procedure.uid"></pe-requirements>
  </div>
</div>
