<table class="grid-search-table">
  <tr>
    <td i18n>Contract:</td>
    <td>
      <select #contract class="select-box" style="width:210px;" (change)="onChangeContract(contract.value)">
        <option value="" i18n>( Select a contract )</option>
        <option *ngFor="let contract of contractsList" [value]="contract.uid">{{contract.name}}</option>
      </select>
    </td>
    <td i18n>Section:</td>
    <td>
      <select #section class="select-box" [(ngModel)]="selectedSection" style="width:210px;" (change)="onChangeSection(section.value)">
        <option value="" i18n>( Select a section )</option>
        <option *ngFor="let section of sections" [value]="section">{{section}}</option>

      </select>
    </td>
    <td i18n>Search:</td>
    <td>
      <input class="text-box" type="search" style="width:310px" (keyup.enter)="onSearch()" [(ngModel)]="keywords">
      <button class="btn" style="width:55px;" (click)="onSearch()" i18n>Search</button>
    </td>
    <td>

    </td>
  </tr>
</table>
