<div class="card">

  <div class="card-header card-header-flat">

    <div class="card-title">
      All contract files
      <div class="card-hint">{{filteredFiles.length}} files found</div>
    </div>

    <div class="card-header-options">
      <input class="text-box" type="search" style="width:210px"
             placeholder='Find a file ...' (keyup.enter)="onSearch()" [(ngModel)]="filter">
      <button type="button" class="btn"
              (click)="onSearch()" i18n>Search</button>
    </div>

  </div>

  <div class="card-body" #gridContainer>

    <mat-grid-list [cols]="gridColumns" rowHeight="300px" gutterSize="16px">

      <mat-grid-tile *ngFor="let file of filteredFiles">

        <div class="tile" [class.selected-tile]="isSelected(file)"
              matRipple [matRippleTrigger]="trigger">

          <div class="tile-header">
            <a #trigger (click)="onSelect(file)">{{file.mediaFile.name}}</a>
            <div class="hint">
              {{file.mediaFile.metadata.type}}
            </div>
          </div>

          <div class="tile-content">
            <label>Activity:</label>
            {{file.projectItem.name}}
            <label>Project:</label>
            {{file.projectItem.project.name}}
          </div>

          <div class="tile-footer">
            <a (click)="onSelect(file)">
              <i class="fa fa-file-o tile-icon"></i>
            </a>
            <div style="margin-left:8pt">
              {{file.postedBy.name}}<br>
              {{file.postingTime | date:'dd/LLL/yyyy'}}
            </div>
          </div>

        </div>

      </mat-grid-tile>

    </mat-grid-list>

  </div>

</div>
