<h4 mat-dialog-title i18n>Add obligation</h4>

<mat-dialog-content [formGroup]="form">

  <div class="form-section column">
    <div i18n>Please select the obligation to add to the contract:</div>
    <div>
      <input class="text-box" type="text"
           placeholder="Search and pick an obligation"
           matInput
           formControlName="selectedEvent"
           [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let event of filteredEvents | async" [value]="event">
          {{event.name}}
        </mat-option>
      </mat-autocomplete>

    </div>
    <div *ngIf="insertionPoint?.uid" class="row">Insertion point: {{insertionPoint.name}}</div>
    <div class="row">
      <div class="column nowrap">
        <div i18n>Event date:</div>
        <div>
          <emp-ng-datepicker formControlName="eventDate"></emp-ng-datepicker>
          <button class="btn" [disabled]="!this.form.valid" (click)="loadWhatIfList()" i18n>Show tasks list</button>
        </div>
      </div>
      <div *ngIf="insertionPoint?.uid" class="column nowrap">
        <div i18n>Insert as:</div>
        <div>
          <select class="select-box" style="width:280px" formControlName="position">
            <option value="" i18n>( Insert as )</option>
            <option value="AsSiblingBeforeInsertionPoint" i18n>As sibling, before insertion point</option>
            <option value="AsSiblingAfterInsertionPoint" i18n>As sibling, after insertion point</option>
            <option value="AsChildAsFirstNode" i18n>As the first child of the insertion point</option>
            <option value="AsChildAsLastNode" i18n>As last child of the insertion point</option>
            <option value="AsTreeRootAtStart" i18n>At tree root, at the start</option>
            <option value="AsTreeRootAtEnd" i18n>As tree root, at the end</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="what-if-section">

    <div *ngFor="let stateChange of (whatIfResult | async)?.stateChanges"
         class="activity-row"
         [class.selected-activity]="isSelected(stateChange)">

      <div class="activity-container"
           [style.border-left-color]="timelineHelper.getTimelineColor(stateChange, stateChange.deadline, 'border')"
           [style.padding-left.pt]="stateChange.level * 14">

          <div class="activity-name">
            <a [class.blink]="timelineHelper.getTimelineColor(stateChange, stateChange.deadline, 'title')"
               [style.color]="timelineHelper.getTimelineColor(stateChange, stateChange.deadline, 'title')">
                {{stateChange.name}}
            </a>
          </div>

          <div class="activity-status">
              <div class="activity-theme" i18n>
                {{stateChange.theme || 'No topic'}}
              </div>

              <div class="right-column nowrap"
                   [style.color]="timelineHelper.getTimelineColor(stateChange, stateChange.deadline)">
                <div i18n>Deadline:</div>
                <div i18n>
                  {{(stateChange.deadline | date:'dd/LLL/yyyy') || 'Not determinated'}}
                </div>
              </div>
          </div>

      </div>

    </div>

  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="btn btn-margin-right" (click)="close()" i18n>Close</button>

  <button class="btn-action right" [disabled]="!this.form.valid" (click)="save()" i18n>Add to contract</button>
</mat-dialog-actions>
