<div class="card card-border">

    <div class="card-header">

      <div class="card-title">
        {{document.title}}
        <div class="card-hint">{{document.authors}}</div>
      </div>

      <div class="card-header-options">
        <i class="fa fa-times close-icon" aria-hidden="true" (click)="onClose()"></i>
      </div>

    </div>

    <mat-tab-group color="accent">

      <mat-tab label="PDF File" i18n-label>
        <div class="expand-no-scroll">
          <emp-ng-object [data]="document.fileUrl"></emp-ng-object>
        </div>
      </mat-tab>

      <mat-tab label="Annotations" i18n-label>
        <emp-kb-postings-list [target]="document"></emp-kb-postings-list>
      </mat-tab>

      <mat-tab label="Edition" i18n-label>
        <emp-kb-update-faq [faq]="document"></emp-kb-update-faq>
      </mat-tab>

    </mat-tab-group>

  </div>
