@import "../../../styles/general-styles";

$margin-size: 8px;

.header {

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  //box-shadow: 0 6px 4px -2px rgba(0,0,0,0.30);

  min-height: 100px;
  overflow: visible;

  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%,
                                     rgba(16,64,112,1) 33%,
                                     rgba(19,68,119,1) 46%,
                                     rgba(22,89,156,1) 100%);

  > div {
    margin-bottom: $margin-size;
    margin-left: 42px;
  }

}

.title {
  color: $white;
  font-size: 20pt;
  font-weight: 200;
  min-width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: $white;

  .breadcrumb {
    color: $gray;
    font-size: $font-size-hint;
    font-weight: 400;
  }

  i {
    font-size: 12pt;
    color: $gray;
    margin-right: 12px;
    margin-left: 8px;
  }

}

.menu-bar {
  margin-left: !important;

  padding-bottom: 8px;
}

.menu {
  //margin-left: 16px;
}
