@import "../../../styles/general-styles";

$margin-size: 8px;

.header {
  background: $primary-color;
  min-height: 60px;

  > div {
    margin-left: 42px;
  }

  padding-bottom: 8px;
  padding-top: 8px;
}

.title {
  color: $white;
  font-size: 16pt;
  font-weight: 200;
  min-width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: $white;
  text-transform: uppercase;

  .breadcrumb {
    color: $white;
    font-size: $font-size-hint;
    font-weight: 400;
    text-transform: uppercase;
  }

  i {
    font-size: 12pt;
    color: $border-color-dark;
    margin-right: 12px;
    margin-left: 8px;
  }

}

.menu-bar {
  @include row;

  align-items: center;
  justify-content: space-between;

  background-color: $secondary-color;
  padding-bottom: 8px;
  padding-top: 8px;
  height: 48px;

  select.select-box {
    background-color: #EDEEF0;
  }

}

.menu {
  margin-left: 42px !important;
}

a {
  font-size: 10pt;
  color: $border-color-dark;
}

a:hover {
  color: $white;
  cursor: pointer;
}

.label {
  color: $white;
  font-size: 10pt;
}
