<div class="header">

  <div class="title">

    <div>{{title}}</div>
    <div class="breadcrumb">{{breadcrumb}}</div>

  </div>

  <div class="menu-bar">

    <nav-menu class="menu"
              [items]="mainMenuItems"
              (click)="onClickMenu($event)"></nav-menu>

    <nav-menu class="menu"
              [items]="secondaryMenuItems"
              (click)="onClickMenu($event)"></nav-menu>

    <select *ngIf="layoutType === 'Projects'" #cboProjects
            class="select-box" style="width:260px;"
            (change)="onSelectProject(cboProjects.value)">
      <option value="">( Seleccionar un contrato )</option>
      <option *ngFor="let project of projectStore.projects | async"
              [value]="project.uid">{{project.name}}</option>
    </select>

    <select *ngIf="layoutType === 'ProjectsTemplates'" #cboTemplates
            class="select-box" style="width:360px;"
            (change)="onSelectTemplate(cboTemplates.value)">
      <option value="">( Seleccionar un patrón de obligaciones )</option>
      <option *ngFor="let template of templateStore.templates | async"
              [value]="template.uid">{{template.name}}</option>
    </select>

  </div>

</div>
