<div class="header">

  <div class="title">

    <div>{{title}}</div>
    <div class="breadcrumb">{{breadcrumb}}</div>

  </div>

  <div class="menu-bar">

    <nav-menu class="menu"
              [items]="mainMenuItems"
              (click)="onClickMenu($event)"></nav-menu>

    <nav-menu class="menu"
              [items]="secondaryMenuItems"
              (click)="onClickMenu($event)"></nav-menu>

    <select #projectCtrl class="select-box" style="width:210px;" (change)="onSelectProject(projectCtrl.value)">
      <option value="">( Seleccionar proyecto )</option>
      <option *ngFor="let project of projectStore.projects | async" [value]="project.uid">{{project.name}}</option>
    </select>

  </div>

</div>
