<emp-gov-obligations-filter (search)="getObligations($event)"></emp-gov-obligations-filter>
<table class="grid">
  <thead>
    <tr>
      <th style='width:40%'>Obligación</th>
      <th style='width:20%'>Etapa</th>
      <th style='width:12%'>Tema</th>
      <th style='width:30%'></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obligation of obligations">
      <td class="main-icon">
        <a (click)="onOpenObligationViewer(obligation.uid)"><i class="fa fa-university" aria-hidden="true"></i></a>
      </td>
      <td style='width:40%'>
        <a (click)="onOpenProcedureEditorWindow(procedure.uid)">{{obligation.name}}</a>
      </td>
      <td style='width:12%'>{{obligation.stages}}</td>
      <td style='width:12%'>{{obligation.theme}}</td>
      <th style='width:40%'></th>
    </tr>
  </tbody>
</table>

<div class="grid-footer">
  <table class="grid-footer-style">
    <tr>
      <td class="grid-footer-items">0 obligaciones encontradas</td>
      <td class="grid-footer-items text-align-center">

      </td>
      <td class="grid-footer-items text-align-right ">Página 1 de 1</td>
    </tr>
  </table>
</div>
