<div class="main-container">
  <contract-filters (clauses)="onLoadClauses($event)"></contract-filters>
  <div class="left-panel" *ngIf="isVisibleLeftPanel" [ngStyle]="{'width' : leftPanelWidth }">
    <div class="clauses-container">
      <contract-clause-selector [clauses]="clauses" (selectedClause)="onSelectedClause($event)"></contract-clause-selector>
    </div>
  </div>
  <div class="left-resize" *ngIf="!isHideLeftPanel" (mousedown)='onResize($event)' [style.width.px]="leftResizeWidth"></div>
  <div class="center-panel" [ngStyle]="{'width' : centerPanelWidth }">


    <div style="overflow-y: scroll; height:100%; width:100%;">

      <!-- <button type="button" (click)="onHideLeftPanel()">Ocultar el panel izquierdo</button>-->
      <div *ngIf="isSelectedClause">
        <selected-clause [clause]="clause"></selected-clause>
      </div>
      <!-- -->
    </div>
  </div>
