<table class="contracts-filter">
  <tr>
    <td>Contrato:</td>
    <td><select style="width:210px;" class="select-box">
         <option>( Todos )</option>
         <option>Ronda 1.3 Individual</option>
         <option>Ronda 1.4 Individual</option>
         <option>Ronda 1.5 Individual</option>
         </select>
      <button style="width:40px;" class="btn">PDF</button>
    </td>
    <td>Buscar:</td>
    <td><input style="width:364px;" type="search " class="text-box ">
    </td>
    <td><button class="btn" style="width:55px;">Buscar</button></td>
    <td class="align-center">
      <button style="width:140px" class="btn-warning">+Agregar cláusula</button>
    </td>
  </tr>
  <tr>
    <td>Claúsula anexa:</td>
    <td colspan="3 "><select style="width:670px;" class="select-box">
                <option>4. Evalución</option>
              </select>
    </td>
    <td colspan="2 "><a href="#">Limpiar</a></td>
  </tr>
</table>

<table class="grid ">
  <thead>
    <tr>
      <th>Claúsula</th>
      <th>Nombre</th>
      <th>Texto</th>
      <th>...</th>
      <th>Regulación</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>4.1</td>
      <td>Plan de evaluación</td>
      <td>Dentro de los 120 (120) días siguientes a la fecha efectiva <br> el contrato deberá presentar a la CNH para su aprobación...</td>
      <td>pdf</td>
      <td>4 trámites</td>
    </tr>
    <tr>
      <td>4.2</td>
      <td>Período Inicial de evaluación</td>
      <td>El período de Evaluación iniciará con la Fecha efectiva y tendrá una <br> duración de hasta un año a partir de la arobación del Plan de Evaluación.</td>
      <td>pdf</td>
      <td>2 trámites</td>
    </tr>
    <tr>
      <td>4.3</td>
      <td>Período Adicional de evaluación</td>
      <td>Sujeto a lo establecido en esta Claúsula 4.3 el Contrato podrá<br> solicitar a la CNH mediante notificación por escrito realizada con cuando menos 45 días de anticipación <br> a la terminación...</td>
      <td>pdf</td>
      <td>Sin trámites</td>
    </tr>
    <tr>
      <td>4.1</td>
      <td>Plan de evaluación</td>
      <td>Dentro de los 120 (120) días siguientes a la fecha efectiva <br> el contrato deberá presentar a la CNH para su aprobación...</td>
      <td>pdf</td>
      <td>1</td>
    </tr>

  </tbody>
</table>

<div class="footer">
  <table class="footer-items">
    <tr>
      <td>3 Tramites encontrados</td>
      <td>
        <img src="../../assets/icon/backward-icon.png " alt="back icon " />
        <img src="../../assets/icon/play-icon.png " alt="back icon " />
        <img src="../../assets/icon/forward-icon.png " alt="back icon " />
      </td>
      <td class="align-right ">Pagina 1 de 4</td>
    </tr>
  </table>
</div>
