<div class="main-container">
  <emp-gov-contract-filters (clauses)="onChangeClausesList($event)"></emp-gov-contract-filters>
  <div class="left-panel" *ngIf="isVisibleLeftPanel" [ngStyle]="{'width' : leftPanelWidth }">
    <div class="clauses-container">
      <emp-gov-contract-clause-selector [clauses]="clausesList"
                                        (selectedClause)="onSelectedClauseRef($event)"></emp-gov-contract-clause-selector>
      <br /><br /><br /><br />
    </div>
  </div>
  <div class="left-resize" *ngIf="!isVisibleLeftPanel" (mousedown)='onResize($event)' [style.width.px]="leftResizeWidth"></div>
  <div class="center-panel" [ngStyle]="{'width' : centerPanelWidth }">
    <!--<div class="right"><i class="fa fa-arrows-alt full-window-button" aria-hidden="true" (click)="onHideLeftPanel()"></i></div> !-->
    <div class="clause-info-container">
      <div *ngIf="isSelectedClause">
        <emp-gov-selected-clause [clauseRef]="clause"></emp-gov-selected-clause>
      </div>
    </div>
  </div>
