<div>
  <table>
    <thead>
      <th colspan="2" class="header text-align-left" i18n>
        Procedure general information
        <span class="right" (click)="onDisplayGeneralInfo()"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
      </th>
    </thead>
    <tbody *ngIf="isVisibleGeneralInfo">
      <tr>
        <td class='label' i18n>Official name:</td>
        <td>{{procedure.name}}</td>
      </tr>
      <tr>
        <td class='label' i18n>COFEMER Code:</td>
        <td>{{procedure.code}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Short name:</td>
        <td>{{procedure.shortName}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Other name:</td>
        <td>{{procedure.govName}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Modality:</td>
        <td>{{procedure.modality || 'No aplicable' }}</td>
      </tr>
      <tr>
        <td class='label' i18n>Topic:</td>
        <td>{{procedure.theme}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Subtopic:</td>
        <td>{{procedure.subtheme}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Tags:</td>
        <td>{{procedure.tags}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Project type:</td>
        <td>{{projectTypes}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Stage:</td>
        <td>{{stages}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Official web page:</td>
        <td><a (click)="openExternalWindow(procedure.officialUrl)">{{procedure.officialUrl}}</a></td>
      </tr>
      <tr>
        <td class='label' i18n>COFEMER web page:</td>
        <td><a (click)="openExternalWindow(procedure.regulationUrl)">{{procedure.regulationUrl}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div>
  <table>
    <thead>
      <th colspan="2" class="header text-align-left" i18n>
        Obligation
        <span class="right" (click)="onDisplayObligationsInfo()"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
      </th>
    </thead>
    <tbody *ngIf="isVisibleObligationsInfo">
      <tr>
        <td class='label' i18n>Obligation:</td>
        <td>{{procedure.legalInfo.obligation}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Legal basis:</td>
        <td>
          <div [innerHTML]="procedure.hypertext.legalBasis | safeHtml "></div>
        </td>
      </tr>
      <tr>
        <td class='label' i18n>Observations:</td>
        <td>
          <div [innerHTML]="procedure.hypertext.notes | safeHtml "></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div>
  <table>
    <thead>
      <th colspan="2" class="header text-align-left" i18n>
        Filing conditions and terms
        <span class="right" (click)="onDisplayInitialTerms()"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
      </th>
    </thead>
    <tbody *ngIf="isInitialTermsVisible">
      <tr>
        <td class='label' i18n>When must be filed:</td>
        <td>{{procedure.filingCondition.startsWhen}} {{procedure.filingCondition.startsWhenTrigger}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Notes:</td>
        <td>{{procedure.filingCondition.startsWhenNotes}}</td>
      </tr>
      <tr>
        <td class='label' i18n>How to file:</td>
        <td>{{procedure.filingCondition.howToFile}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Filing Email:</td>
        <td *ngIf="procedure.filingCondition.howToFileAddress !== 'No aplicable'">
          <a href="mailto:{{procedure.filingCondition.howToFileAddress}}">{{procedure.filingCondition.howToFileAddress}}</a>
        </td>
        <td *ngIf="procedure.filingCondition.howToFileAddress === 'No aplicable'">
          {{procedure.filingCondition.howToFileAddress}}
        </td>
      </tr>
      <tr>
        <td class='label' i18n>Max filing term:</td>
        <td>{{procedure.filingCondition.maxFilingTerm}} {{procedure.filingCondition.maxFilingTermUnit}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Notes about<br/>Max filing term:</td>
        <td>
          <div [innerHTML]="procedure.hypertext.maxFilingTermNotes | safeHtml"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div>
  <table>
    <thead>
      <th colspan="2" class="header text-align-left" i18n>
        Issuance legal term
        <span class="right " (click)="onDisplayInitialTerms()"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
      </th>
    </thead>
    <tbody *ngIf="isInitialTermsVisible">
      <tr>
        <td class='label' i18n>Issuance legal term:</td>
        <td>{{procedure.filingCondition.issuanceLegalTerm}} {{procedure.filingCondition.issuanceLegalTermUnit}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Ficta:</td>
        <td>{{procedure.filingCondition.ficta}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Ficta notes:</td>
        <td>{{procedure.filingCondition.fictaNotes}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Deferrals term notes:</td>
        <td>
          <div [innerHTML]="procedure.hypertext.deferralsTermNotes | safeHtml "></div>
        </td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>
<br>
<div>
  <table>
    <thead>
      <th colspan="2" class="header text-align-left" i18n>
        Fees
        <span class="right" (click)="onDisplayPaymentInfo()"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
      </th>
    </thead>
    <tbody *ngIf="isPaymentInfoVisible">
      <tr>
        <td class='label' i18n>Fee type:</td>
        <td>{{procedure.filingFee.filingFeeType}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Fee:</td>
        <td>{{procedure.filingFee.feeAmount}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Legal basis:</td>
        <td>{{procedure.filingFee.legalBasis}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div>
  <table>
    <thead>
      <th colspan="2" class="header text-align-left" i18n>
        Contact information
        <span class="right" (click)="onDisplayAuthorityInfo()"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
      </th>
    </thead>
    <tbody *ngIf="isAuthorityInfoVisible">
      <tr>
        <td class='label' i18n>Agency:</td>
        <td>{{procedure.entityName}}</td>
      </tr>
      <tr>
        <td class='label' i18n>Authority:</td>
        <td>{{procedure.authorityName}}</td>
      </tr>
    </tbody>
  </table>
  <br><br>&nbsp;
</div>
