<p class="title title-text">Condiciones</p>
<table class="grid">
  <thead>
    <tr>
      <th style="width:50%">Nombre</th>
      <th style="width:21%">Aplica a</th>
      <th style="width:15%">Copias</th>
      <th style="width:14%">Ejemplo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let condition of conditions">
      <td style="width:50%">{{condition.name}}</td>
      <td style="width:21%">{{condition.appliesTo}}</td>
      <td style="width:15%">{{condition.copies}}</td>
      <td style="width:14%"><a *ngIf="condition.sourceUrl !== ''" (click)="openExternalWindow(condition.sourceUrl)">Formato</a><br>
        <a *ngIf="condition.sampleUrl !== ''" (click)="openExternalWindow(condition.sampleUrl)">Ejemplo</a>
      </td>
    </tr>
    <tr *ngIf="conditions.length === 0">
      <td colspan="4"><b>No hay condiciones iniciales</b></td>
    </tr>
  </tbody>
</table>
<p class="title title-text">Documentos por entregar</p>
<table class="grid">
  <thead>
    <tr>
      <th style="width:50%">Nombre</th>
      <th style="width:21%">Aplica a</th>
      <th style="width:15%">Copias</th>
      <th style="width:14%">Ejemplo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inputDocument of inputDocuments">
      <td style="width:50%">{{inputDocument.name}}</td>
      <td style="width:21%">{{inputDocument.appliesTo}}</td>
      <td style="width:15%">{{inputDocument.copies}}</td>
      <td style="width:14%"><a *ngIf="inputDocument.sourceUrl !== ''" (click)="openExternalWindow(inputDocument.sourceUrl)">Formato</a> <br>
        <a *ngIf="inputDocument.sampleUrl !== ''" (click)="openExternalWindow(inputDocument.sampleUrl)">Ejemplo</a>
      </td>
    </tr>
    <tr *ngIf="inputDocuments.length === 0">
      <td colspan="4"><b>No se entregan documentos a la autoridad</b></td>
    </tr>
  </tbody>
</table>
<p class="title title-text">Documentos expedidos por la autoridad</p>
<table class="grid">
  <thead>
    <tr>
      <th style="width:60%">Nombre</th>
      <th style="width:40%">Ejemplo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let outputDocument of outputDocuments">
      <td style="width:60%">{{outputDocument.name}}</td>
      <td style="width:40%">
        <a *ngIf="outputDocument.sourceUrl !== ''" (click)="openExternalWindow(outputDocument.sourceUrl)">Formato</a> <br>
        <a *ngIf="outputDocument.sampleUrl !== ''" (click)="openExternalWindow(outputDocument.sampleUrl)">Ejemplo</a></td>
    </tr>
    <tr *ngIf="outputDocuments.length === 0">
      <td colspan="4"><b>No hay documentos expidos por la autoridad</b></td>
    </tr>
  </tbody>
</table>
