@import "../../../../styles/form";
@import "../../../../styles/grid";
.sub-header {
  color: $form-title-color;
  font-size: 9pt;
  padding-top: 12pt;
  padding-bottom: 2pt;
  font-weight: 600;
  width: 90%;
  margin-left: 15pt;
  margin-top: 0pt;
}

table.grid {
  width: 90%;
  font-size: 10pt;
  margin-left: 15pt;
  font-size: 10pt;
}
