@import "../../../../styles/general-styles";
@import "../../../../styles/former-form-style";
//
// User login scss
//
.outer {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
  width: 100%;
  color: $primary-color;
}

.login-div {
  display: flex;
  height: 340px;
  width: 600px;
}

.left-column {
  height: 340px;
  width: 220px;
}

.logo {
  margin-top: 40px;
  height: 200px;
}

.central-column {
  height: 340px;
  width: 16px;
  background-color: $primary-color;
}

.right-column {
  margin-left: 50px;
  height: 340px;
  width: 340px;
}

.authentication-section-welcome {
  padding-top: 12px;
  padding-left: 12px;
  font-size: 15pt;
  text-transform: uppercase;
  color: $primary-color;
  line-height: 16pt;
}

.authentication-section-form {
  padding-left: 12px;
  padding-top: 12px;
  width: 75%;
}

.authentication-section-form input {
  margin-bottom: 20px;
}

.authentication-section-footer {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 10pt;
}

label {
  font-size: 10pt;
  font-weight: 500;
  padding-top: 12px;
}

.hint {
  font-size: 10pt;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 32px $control-background-color inset;
  -webkit-box-shadow: 0 0 0 32px $control-background-color inset;
}
