<table class="grid">
  <thead>
    <tr>
      <th style="width:30%">Etapa » Obligación » Actividad</th>
      <th style="width:14%">Fechas límite</th>
      <th style="width:8%">Estado</th>
      <th style="width:15%">Responsable</th>
      <th style="width:20%">Etiquetas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of taskList">
      <td style="width:30%">
        <a (click)="onShowTaskEditor(task)">{{task.name}}</a><br />
        <i *ngIf="task.procedure.uid !=='Undefined'">
              <a (click)="onShowProcedureInfo(task.procedure.uid)">Trámite {{task.procedure.entity}}</a>
            </i>
      </td>
      <td *ngIf="task.stage !=='Done'" style="width:15%;white-space:nowrap">
        Objetivo: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{task.targetDate | date: 'dd/MMM/yyyy'}} <br> Fecha Máxima: &nbsp;{{task.dueDate | date: 'dd/MMM/yyyy'}}
      </td>
      <td *ngIf="task.stage ==='Done'" style="width:15%;white-space:nowrap">
        Concluida el: {{task.endDate | date: 'dd/MMM/yyyy'}}
      </td>
      <td style="width:8%;white-space:nowrap;" class="text-align-center">
        <rag-control [status]="task.ragStatus"></rag-control>
      </td>
      <td style="width:15%;white-space:nowrap">{{task.responsible.name}} </td>
      <td style="width:20%">
        <ng-container *ngFor="let tag of task.tags">
          <span class="tag">{{tag}}</span>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
<div class="grid-footer">
  <table class="grid-footer-style">
    <tr>
      <td class="grid-footer-items" style="width:30%">{{taskList.length}} tareas encontradas</td>
      <td class="grid-footer-items text-align-center">

      </td>
      <td class="grid-footer-items text-align-right ">Página 1 de 1</td>
    </tr>
  </table>
</div>
<div *ngIf="isTaskEditorVisible" class="popup">
  <activity-editor [task]="selectedTask" (onUpdateActivity)="onUpdateActivity($event)" (onCloseEvent)="onCloseTaskEditorWindow()"></activity-editor>
</div>

<div *ngIf="isVisibleProcedureInfo" class="popup ">
  <procedure-viewer [procedureUID]="procedureUID" (onCloseEvent)="onCloseProcedureInfoWindow()"></procedure-viewer>
</div>
