<div class="body">
  <div class="header-container">
    <div class="header-box header-right">
      <img class="logo" src="./assets/img/customer-logo.png" alt="COVAR Energy Consulting">
      <title>{{title}}</title>
    </div>

    <div class="header-box header-left">
      Hola {{userName}}
    </div>
  </div>
  <div class="main-nav">
    <ul>
      <li><a href="#">Procesos</a></li>
      <li><a href="#">Implementación</a></li>
      <li><a href="#">Ejecución</a></li>
      <li><a href="#">Monitoreo</a></li>
      <li><a href="#">Optimización</a></li>
      <li><a href="#">Tableros de información</a></li>
    </ul>
  </div>
  <div class="content">
    <ng-content> </ng-content>
  </div>
</div>