:root {
    --header-height: 48px;
    --header-height-space: 8px;
    --content-min-height: calc(100vh - var(--header-height));
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;  
}

.logo { 
  height: 70px;   
}
    
.header-container {
  align-items: center;
  display: flex;
  height: var(--header-height);
  top: 0;
}
    
.header-box {
  align-items: center;
  color: black;
  display: flex;
  font-family: 'Oswald', sans-serif;      
  height: calc(var(--header-height) - var(--header-height-space));
  margin: 8px;
  width: 50%;
}
    
.header-right {
  font-size: 20px;
  font-weight: normal;      
  justify-content: flex-start;
}
    
.header-left {
  font-size: 14px;
  justify-content: flex-end;
}

.main-nav {
  background-color: #2C3942;
  color: white;
  height: 30px;
}
    
.main-nav ul {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}
    
.main-nav ul li {
  justify-content: center;
}

/*    
.main-nav ul li:nth-last-child(1) {
  margin-left: auto;
}
*/

.main-nav a {
  color: #fff;
  display: block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}
    
.main-nav a:hover {
  background-color: #636466;
}

.content { 
  display: flex;
  flex-direction: column;
  min-height: var(--content-min-height);
  width: 100%;
}
 