<div class="card">

  <div class="card-header card-header-flat">

    <div class="card-title">
      {{getCardTitle()}}
      <div class="card-hint">{{getCardHint()}}</div>
    </div>

    <div class="card-header-options">
        Show:&nbsp; {{inboxTypeTitle}}
        <button mat-icon-button [matMenuTriggerFor]="menu1" class="menu-trigger-icon">
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu1="matMenu">
            <button mat-menu-item (click)="onChangeInboxType('upcoming-tasks')">Upcoming tasks</button>
            <button mat-menu-item (click)="onChangeInboxType('active-tasks')">Defined tasks</button>
            <button mat-menu-item (click)="onChangeInboxType('all-tasks')">All tasks</button>
        </mat-menu>
        <div style="width:32px"></div>
        Group by:&nbsp; {{groupByTitle}}
        <button mat-icon-button [matMenuTriggerFor]="menu2" class="menu-trigger-icon">
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="onChangeGroupBy('timeline')">Default Timeline</button>
            <button mat-menu-item (click)="onChangeGroupBy('deadline')">By Deadline</button>
            <button mat-menu-item (click)="onChangeGroupBy('plannedEndDate')">By Planned End Date</button>
            <button mat-menu-item (click)="onChangeGroupBy('actualStartDate')">By Actual Start Date</button>
            <button mat-menu-item (click)="onChangeGroupBy('responsible')">By Responsible</button>
            <button mat-menu-item (click)="onChangeGroupBy('theme')">By Topic</button>
        </mat-menu>

        <div style="width:32px"></div>

        <button type="button" class="btn disabled"
                (click)="onSearch()" i18n>Search</button>
    </div>

  </div>

  <div class="card-body">

    <div *ngFor="let group of filteredActivities | groupActivitiesBy: groupBy">

      <div class="activity-group-name">
        {{timelineHelper.getGroupName(group.key)}}
      </div>

      <div *ngFor="let activity of group.value"
           class="activity-row" matRipple [matRippleTrigger]="trigger"
           [class.selected-activity]="isSelected(activity)">

        <div class="timeline-padding"></div>

        <div class="activity-container"
             [style.border-left-color]="timelineHelper.getTimelineColor(activity, activity.deadline, 'border')">

          <div class="activity-name">
            <a #trigger
               [class.completed-activity]="timelineHelper.isCompleted(activity)"
               [class.blink]="timelineHelper.getTimelineColor(activity, activity.deadline, 'title')"
               [style.color]="timelineHelper.getTimelineColor(activity, activity.deadline, 'title')"
               (click)="onSelectActivity(activity, true)">{{activity.name}}</a>
          </div>

          <div class="activity-status">

            <div class="activity-theme">
              {{activity.theme || 'No topic'}}<br/>
              {{activity.project.name}}
            </div>

            <div class="column"
                 [style.color]="timelineHelper.getTimelineColor(activity, activity.deadline)">
              <div i18n>Deadline:</div>
              <div>
                {{(activity.deadline | date:'dd/LLL/yyyy') || 'Unknown'}}
              </div>
            </div>

            <div *ngIf="timelineHelper.displayPlannedEndDate(activity)" class="column nowrap"
                 [style.color]="timelineHelper.getTimelineColor(activity, activity.plannedEndDate)">
              <div i18n>Planned End Date:</div>
              <div>
                {{activity.plannedEndDate | date:'dd/LLL/yyyy'}} &nbsp;
                <span>
                  {{timelineHelper.plannedEndDateVsDeadlineDays(activity)}}
                </span>
              </div>
            </div>

            <div *ngIf="timelineHelper.isCompleted(activity)" class="column nowrap">
              <div i18n>Actual End Date:</div>
              <div>
                {{activity.actualEndDate | date:'dd/LLL/yyyy'}} &nbsp;
                <span [style.color]="timelineHelper.getTimelineColor(activity, activity.actualEndDate)"
                      [innerHTML]="timelineHelper.actualEndDateVsDeadlineDays(activity) | safeHtml">
                </span>
              </div>
            </div>

            <div class="right-column expand">
                {{activity.responsible.uid !== 'Empty' ? activity.responsible.name : ''}}
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
