<div *ngIf="project.project.uid !== ''" class="card">

  <div class="card-header card-header-flat">
    <div class="card-title">
      {{viewTitle}}
      <div class="card-hint">Contrato: {{project.project.name}}</div>
    </div>
    <div class="card-header-options">
      <button type="button" class="btn disabled"
              (click)="openAddEventDialog()">Agregar obligaciones</button>
    </div>
  </div>

  <div class="card-body">

    <div *ngFor="let group of project.activities | groupActivitiesBy: groupBy ">

      <div class="activity-group">
        {{group.key}}
      </div>

      <div *ngFor="let activity of group.value"
           class="activity-row"
           [class.selected-activity]="isSelected(activity)">

        <div class="activity-container"
             [style.border-left-color]="timelineHelper.getTimelineColor(activity, activity.deadline, 'border')">

          <div class="activity-name">
            <a [class.completed-activity]="timelineHelper.isCompleted(activity)"
               [class.blink]="timelineHelper.getTimelineColor(activity, activity.deadline, 'title')"
               [style.color]="timelineHelper.getTimelineColor(activity, activity.deadline, 'title')"
               (click)="onSelectActivity(activity, true)">{{activity.name}}</a>
          </div>

          <div class="activity-status">

            <div class="column" style="min-width:240px;max-width:30%">
              {{activity.project.name}}
              <br/>
              {{activity.parent.uid !== 'Undefined' ? activity.parent.name : ''}}
            </div>

            <div class="column"
                 [style.color]="timelineHelper.getTimelineColor(activity, activity.deadline)">
              <div>Fecha máxima:</div>
              <div>
                {{(activity.deadline | date:'dd/LLL/yyyy') || 'No determinada'}}
              </div>
            </div>

            <div *ngIf="timelineHelper.displayPlannedEndDate(activity)" class="column nowrap"
                 [style.color]="timelineHelper.getTimelineColor(activity, activity.plannedEndDate)">
              <div>Fecha objetivo:</div>
              <div>
                {{activity.plannedEndDate | date:'dd/LLL/yyyy'}} &nbsp;
                <span>
                  {{timelineHelper.plannedEndDateVsDeadlineDays(activity)}}
                </span>
              </div>
            </div>

            <div *ngIf="timelineHelper.isCompleted(activity)" class="column nowrap">
              <div>Finalizada el:</div>
              <div>
                {{activity.actualEndDate | date:'dd/LLL/yyyy'}} &nbsp;
                <span [style.color]="timelineHelper.getTimelineColor(activity, activity.actualEndDate)"
                      [innerHTML]="timelineHelper.actualEndDateVsDeadlineDays(activity) | safeHtml">
                </span>
              </div>
            </div>

            <div class="activity-controls column expand">
              <span style="padding-right:8pt;text-align:right">
                {{activity.responsible.uid !== 'Empty' ? activity.responsible.name : ''}}
              </span>
              <emp-ng-rag-status [status]="activity.ragStatus"></emp-ng-rag-status>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
