@import "../../../styles/general-styles";

.task-list-container {
    width: 98%;
    height: 100%;
    border: $grid-border;
    border-collapse: collapse;
    margin: 3px 10px 3px 3px;
    text-align: left;
    min-width: 510px;
}

.task-list-header {
    background-color: $text-title;
    color: white;
    height: 28px;
}

.task-list {
    width: 100%;
    height: 98%;
    overflow-y: auto;
    overflow-x: hidden;
}

.task-row {
  width: 100%;
  height: 32px;
  float: left;
}

.task-row:hover {
    border-top: solid 1px grey;
    border-bottom:solid 1px grey;
    z-index:1000;
    cursor: pointer;
 }

 .task-row:hover  i.drag-icon{
    color: $gray;
 }


 .task-row:nth-child(odd) {
    background-color: $grid-odd-background-color;
  }

.task-row:nth-child(even) {
    background-color: $grid-even-background-color;
  }

 .row-options {
     width: 30px;
     display: inline-block;
     vertical-align: top;
 }

.task {
    width: 90%;
    display: inline-block;
}

.task-options {
    width: 70px;
    vertical-align: top;
    display: inline-block;
}

.add-task-editor {
    display: block;
    height: auto;
}

.selected-row {
  border-bottom: 2px solid $blue;
  border-top: 2px solid $blue;
  z-index:1000;
  font-weight: 600;
}


.activity-name-level-1 {
  font-weight: 600;
  font-size: 11pt;
}

.activity-name-level-2 {
  font-size: 10pt;
  font-weight: 600;
}

.activity-name-level-3 {
  font-size: 9pt;
  font-weight: 600;
}

.delete-icon-container {
    margin-left: 30px;
}
.delete-icon {
    color: $red;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }

  i.drag-icon {
    color: #f1f1f1;
    font-size: 10pt;
    cursor: move;
  }

  .activity-drop-by-position-area {
    height: 16px;
    background-color: red;
  }
