@import "../../../styles/general-styles";

.activity-tree-container {
  width: 98%;
  height: 100%;
  border: $grid-border;
  border-collapse: collapse;
  margin: 3px 10px 3px 3px;
  text-align: left;
}

.activity-tree-header {
  background-color: $text-title;
  color: white;
  height: 32px;
}

.title {
  font: $control-font;
  font-size: 10.5pt;
  padding: 6pt;
  vertical-align: -webkit-baseline-middle;
  width: 100%;
  float: left;
}

.activity-tree-body {
  height: 98%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.activity-row {
  background-color: $grid-even-background-color;
  border-top: 1px $light-gray solid;
  float: left;
  min-height: 38px;
  width: 100%;
}

.activity-row:hover {
  background-color: $grid-hover-background-color;
}

.selected-activity {
  background-color: $grid-selected-background-color;
  float: left;
  min-height: 38px;
  width: 100%;
}

.activity-position-controls {
  display: inline-block;
  margin-left: 8px;
  vertical-align: -webkit-baseline-middle;
}

.activity-menu {
  display: inline-block;
  margin-right: 8px;
  vertical-align: -webkit-baseline-middle;
}

i.ghost-icon {
  color: transparent;
}

.activity-row:hover i.ghost-icon {
  color: $dark-blue;
}

.activity-name {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  margin-right: 12pt;
  width: calc(100% - 70px);
}

.activity-name a:hover {
  color: $dark-blue;
  text-decoration: underline;
}

.activity-name-level-1 {
  font-size: 10.5pt;
  font-weight: 600;
}

.activity-name-level-2 {
  font-size: 10.5pt;
  font-weight: 400;
}

.activity-name-level-3 {
  font-size: 9.5pt;
  font-weight: 600;
}

.activity-name-level-4 {
  font-size: 9.5pt;
  font-weight: 400;
}

.activity-name-level-5 {
  font-size: 8.5pt;
  font-weight: 600;
}

.activity-name-level-6 {
  font-size: 8.5pt;
  font-weight: 400;
}

.activity-inline-editor {
  height: auto;
  vertical-align: -webkit-baseline-middle;
}

input.inline-editor-text-box {
  height: 32px;
  width: calc(100% - 140px);
}

.grabbable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
