@import "../../../styles/list-view";

.activity-row {
  background-color: $grid-even-background-color;
  border-top: 1px $light-gray solid;
  float: left;
  min-height: 38px;
  width: 100%;
  margin: 4px;
}

.activity-row:hover {
  background-color: $grid-hover-background-color;

  .ghost-icon {
    color: $dark-blue;
  }
}

.selected-activity {
  background-color: $grid-selected-background-color;
  float: left;
  min-height: 38px;
  width: 100%;
}

.activity-position-controls {
  display: inline-block;
  margin-left: 8px;
  vertical-align: -webkit-baseline-middle;
}

.activity-menu {
  float: right;
  margin-right: 8px;
  margin-top: 12px;
  width: 60px;
  vertical-align: -webkit-baseline-middle;
}

.activity-name {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  margin-right: 12pt;
  max-width: calc(100% - 120px);
  font-weight:400;
}

.activity-name a:hover {
  color: $dark-blue;
  text-decoration: underline;
}

.activity-name-level-1 {
  font-size: 10pt;
  font-weight: 500;
}

.activity-name-level-2 {
  font-size: 10pt;
  font-weight: 400;
}

.activity-name-level-3 {
  font-size: 9.5pt;
}

.activity-name-level-4 {
  font-size: 9.0pt;
  font-weight: 600;
}

.activity-name-level-5 {
  font-size: 9pt;
  font-weight: 500;
}

.activity-name-level-6 {
  font-size: 9pt;
  font-weight: 400;
}

.grabbable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.dragover-activity-row {
  border-top: 1px solid $dark-blue;
}

.dragover-activity-name {
  border: 1px dotted $dark-blue;
}
