<div *ngIf="project.project.uid !== ''" class="list-view-container">

  <div class="list-view-header">
    <div *ngIf="templateDesignerMode" class="list-view-title">
      Diseño del árbol de actividades
      <div class="hint">{{project.project.name}}</div>
    </div>
    <div *ngIf="!templateDesignerMode" class="list-view-title">
      Actividades del proyecto
      <div class="hint">Proyecto regulatorio: {{project.project.name}}</div>
    </div>
    <div class="list-view-header-options">
      <button *ngIf="!templateDesignerMode" type="button" class="btn-action"
              (click)="showInitialActivityInlineEditor()"><i class="fa fa-plus"></i> Agregar evento</button>
      &nbsp; &nbsp;
      <button type="button" class="btn-action"
              (click)="showInitialActivityInlineEditor()"><i class="fa fa-plus"></i> Agregar actividad</button>
    </div>
  </div>

  <div class="list-view-body">

    <div *ngIf="addFirstActivityEditorVisible"
          style="margin-left:32pt">
          <activity-inline-editor (insert)="insertActivity($event)"
                                  (cancel)="hideInlineEditors()">
          </activity-inline-editor>
    </div>

    <div *ngFor="let activity of project.activities"
         class="activity-row"
         (click)="onSelectActivity(activity)"
         [class.dragover-activity-row]="dragZoneItem === activity">

      <div [class.selected-activity]="isActivitySelected(activity)"
            (dragover)="allowDrop($event, activity);"
            (dragleave)="setDragZoneItem(null)"
            (drop)="moveActivity($event, activity.position)">

          <div class="activity-position-controls"
               draggable="true"
               (dragstart)="startDrag($event, activity)">
            <i class="fa fa-align-justify ghost-icon grabbable" aria-hidden="true"></i>
          </div>

          <div class="activity-name"
               [style.padding-left.pt]="activity.level * 14">

            <div (dragover)="allowDrop($event, activity.name)"
                 (dragleave)="setDragZoneItem(null)"
                 (drop)="moveActivityAsChildOf($event, activity)">

              <a *ngIf="templateDesignerMode" [ngClass]="activityNameClass(activity.level)"
                 [class.dragover-activity-name]="dragZoneItem === activity.name"
                 (click)="onSelectActivity(activity, true)">{{activity.name}}</a>

              <a *ngIf="!templateDesignerMode" [ngClass]="activityNameClass(activity.level)"
                 [class.dragover-activity-name]="dragZoneItem === activity.name"
                 (click)="onSelectActivity(activity, true)">{{activity.name}} / {{activity.responsible.name}}</a>

            </div>

          </div>

          <div *ngIf="!templateDesignerMode" class="activity-menu">
            <rag-status-control [status]="activity.ragStatus"
                                (change)="activity.ragStatus= $event">
            </rag-status-control>
          </div>

      </div>

      <div *ngIf="isActivitySelected(activity) && insertActivityEditorVisible"
            [style.margin-left.pt]="activity.level * 14 + 20">
        <activity-inline-editor (insert)="insertActivity($event, activity.position)"
                                (cancel)="hideInlineEditors()">
        </activity-inline-editor>
      </div>

    </div>

    <div class="activity-row"
        [class.dragover-activity-row]="dragZoneItem === this"
        (dragover)="allowDrop($event, this)"
        (dragleave)="setDragZoneItem(null)"
        (drop)="moveActivity($event, project.activities.size + 1)">
    </div>

  </div>

</div>
