<div *ngIf="filter.project.uid !== ''" class="activity-tree-container">

  <div class="activity-tree-header">
    <div class="title">
      {{filter.project.name}}
    </div>
    <button type="button" class="btn-primary circled right title-add-icon"
            (click)="showInitialActivityInlineEditor()"><i class="fa fa-plus"></i></button>
  </div>

  <div class="activity-tree-body">

    <div *ngIf="addFirstActivityEditorVisible" class="activity-inline-editor"
          style="margin-left:32pt;">

        <input #txtActivityName type="text"
               class="text-box inline-editor-text-box"
               (keyup.esc)="hideInlineEditors()"
               (keyup.enter)="insertActivity(txtActivityName.value)"
               placeholder= "Agregar una actividad">
        <button class="btn" (click)="hideInlineEditors()">Cancelar</button>
    </div>

    <div *ngFor="let activity of activityTree"
         class="activity-row"
         (click)="selectActivity(activity)"
         [class.dragover-activity-row]="dragZoneItem === activity">

      <div [class.selected-activity]="isActivitySelected(activity)"
            (dragover)="allowDrop($event, activity);"
            (dragleave)="setDragZoneItem(null)"
            (drop)="moveActivity($event, activity.position)">

          <div class="activity-position-controls"
               draggable="true"
               (dragstart)="startDrag($event, activity)">
            <i class="fa fa-align-justify ghost-icon grabbable" aria-hidden="true"></i>
          </div>

          <div class="activity-name"
               [style.padding-left.pt]="activity.level * 14">

            <div (dragover)="allowDrop($event, activity.name)"
                 (dragleave)="setDragZoneItem(null)"
                 (drop)="moveActivityAsChildOf($event, activity)">

              <a [ngClass]="activityNameClass(activity.level)"
                 [class.dragover-activity-name]="dragZoneItem === activity.name"
                 (click)="selectActivity(activity, true)">{{activity.name}}</a>

            </div>

          </div>

          <div class="activity-menu">
            <rag-status-control [status]="activity.ragStatus"
                         (change)="activity.ragStatus= $event">
            </rag-status-control>
          </div>

      </div>

      <div *ngIf="isActivitySelected(activity)" class="activity-inline-editor">

        <div *ngIf="insertActivityEditorVisible">
          <input #txtActivityName type="text"
                 class="text-box inline-editor-text-box"
                 [style.margin-left.pt]="activity.level * 14 + 20"
                 placeholder= "Agregar una actividad"
                 (keyup.esc)="hideInlineEditors()"
                 (keyup.enter)="insertActivity(txtActivityName.value, activity.position)">
          <button class="btn" (click)="hideInlineEditors()">Cancelar</button>
        </div>

      </div>

    </div>  <!--ngFor="let activity of activityTree" -->

    <div class="activity-row"
        [class.dragover-activity-row]="dragZoneItem === this"
        (dragover)="allowDrop($event, this)"
        (dragleave)="setDragZoneItem(null)"
        (drop)="moveActivity($event, activityTree.length + 1)">
    </div>

  </div>

</div>
