<div class="explorer"
    [class.remove-min-width]="!displayEditor">

  <div class="explorer-panel primary">
    <emp-steps-files-grid
        [files]="(files | async) | applyFilesFilter: filter"
        (select)="showEditor($event)">
    </emp-steps-files-grid>
  </div>

  <div *ngIf="displayEditor" class="explorer-panel secondary">
    <emp-kb-media-file-viewer
        [mediaFile]="selectedFile.mediaFile"
        (save)="uploadFile($event)"
        (close)="onEditorClosed()">
    </emp-kb-media-file-viewer>
  </div>

</div>
