<div *ngIf="project.project.uid !== ''" class="card">

  <div class="card-header card-header-flat">

    <div class="card-title">
      {{project.project.name}}
      <div class="card-hint" i18n>Process Diagram</div>
    </div>

    <div class="card-header-options">
      <button type="button" class="btn disabled"
              (click)="onSave()" i18n>Save</button>
    </div>
  </div>

  <div>

    <emp-steps-bpmn-modeler
        [xml]="xml"
        [execute]="modelerAction"
        (bpmnModelerEvent)="onModelerEvent($event)"
        (bpmnModelerError)="onModelerError($event)">
    </emp-steps-bpmn-modeler>

  </div>

</div>
