<div style="margin: 0 22px">
  <emp-kb-file-list [files]="filesList"
                    (select)="onFileSelected($event)">
  </emp-kb-file-list>
</div>

<div class="float-right" style="margin: 12px 32px">
    <button type="button" class="btn-action"
            (click)="onClickAttachFile()" i18n>Attach a file</button>
</div>

<emp-ng-modal-window *ngIf="displayEditor && selectedMediaFile.uid"
                     [config]="{width:'980px', height:'78%'}"
                     (close)="hideFileEditor()">
  <emp-kb-media-file-viewer [mediaFile]="selectedMediaFile"
                      (save)="uploadFile($event)"
                      (close)="hideFileEditor()">
  </emp-kb-media-file-viewer>
</emp-ng-modal-window>

<emp-ng-modal-window *ngIf="displayEditor && !selectedMediaFile.uid"
                     [config]="{width:'680px', height:'580px'}"
                     (close)="hideFileEditor()">
    <emp-ng-card title='File uploader'
                 [hint]="projectItem.name"
                 (close)="hideFileEditor()">
      <emp-kb-file-editor [mediaFile]="selectedMediaFile"
                          (save)="uploadFile($event)">
    </emp-kb-file-editor>
  </emp-ng-card>
</emp-ng-modal-window>
