<form class="form-container" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">

  <fieldset>

    <table class="form-section">
      <tr>
        <td class="form-section-title" colspan="2" i18n>Attach a document to this activity</td>
      </tr>
      <tr>
        <td i18n>File:</td>
        <td>
          <div class="text-box" style="height:48px;padding-top:16px;border: dashed 1px #3dbab3">
             <label for="file" *ngIf="!fileToUpload" i18n><strong>Choose a file</strong> or drag and drop it here.</label>
              {{fileToUpload ? fileToUpload.name : ''}}
              <span class="right">
                <button *ngIf="fileToUpload" type="button" class="btn" style="margin-top:-8px;margin-right:16px"
                        (click)="removeFile()" i18n>Remove</button>
              </span>
          </div>
          <input type="file" id="file" formControlName="file"
                 (change)="handleFileInput($event.target.files)" style='display:none'>
        </td>
      </tr>
      <tr>
        <td i18n>Title:</td>
        <td>
          <input type="text" class="text-box" formControlName="title">
        </td>
      </tr>
      <tr>
        <td class="align-top" i18n>Notes:</td>
        <td>
          <textarea class="text-area" rows="5" cols="25" formControlName="notes"></textarea>
        </td>
      </tr>
      <tr>
        <td i18n>Tags:</td>
        <td>
          <input type="text" class="text-box" formControlName="tags">
        </td>
      </tr>
      <tr>
        <td i18n>Authors:</td>
        <td>
          <input type="text" class="text-box" formControlName="authors">
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="text-align-right">
            <button type="button" class="btn-action right"
            (click)="uploadFileToActivity()" i18n>Upload</button>
        </td>
      </tr>
    </table>

  </fieldset>

</form>
