<div class="container">

  <div class="left-panel">
    <div class="tab">
      <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='ticket'" (click)="setSelectedTask('ticket')">Reuniones</button>
      <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='FAQ'" (click)="setSelectedTask('FAQ')">FAQs</button>
    </div>
    <div class="content" [ngSwitch]="selectedTask">

      <emp-kb-faqs *ngSwitchCase="'FAQ'"
        (select)="setSelectedFAQ($event)">
      </emp-kb-faqs>

      <emp-kb-meetings *ngSwitchCase="'ticket'"
        [updatedMeeting]="meetingUpdated"
        (select)="selectedMeeting($event)"
        (create)="addMeeting()">
      </emp-kb-meetings>

    </div>
  </div>

  <div class="right-panel right">
   <div class="content" [ngSwitch]="selectedTask">
     <div *ngSwitchCase="'ticket'">

        <emp-kb-meeting *ngIf="selectedTicketUID !== ''"
            [meetingUID]="selectedTicketUID"
            (update)="notifyMeetingWasUpdate($event)">
        </emp-kb-meeting>

       <div style="padding-left:50px;" *ngIf="onAddMeeting">
          <emp-kb-project-meeting
            (update)="notifyMeetingWasUpdate($event)">
          </emp-kb-project-meeting>
       </div>

     </div>

      <div *ngIf="isDisplayFaq">
        <emp-kb-faq *ngSwitchCase="'FAQ'" [faqUID]="FAQUid"></emp-kb-faq>
      </div>

    </div>
  </div>

</div>
