<form autocomplete="off" [empNgSpinnerHost]="spinner" [formGroup]="form">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <fieldset>

    <table class="form-section">
      <tr>
        <td class="form-section-title" colspan="2" i18n>Associated data source</td>
      </tr>
      <tr>
        <td i18n>Search:</td>
        <td>
          <input type="text" class="text-box" style="width:380px" formControlName="keywords" (change)="setFilter()">
        </td>
      </tr>
    </table>

    <ejs-grid [dataSource]='filteredDataSources' (rowSelected)="selectDataSource($event.data.uid)"
              allowFiltering='true' allowPaging='true'
              [filterSettings]='{ type: "CheckBox" }' enableHover='true'
              [pageSettings]='{ pageCount: 3, pageSize: 10 }' allowTextWrap='true' rowHeight='50' height='320' width='780'>
      <e-columns>
        <e-column field='name' headerText='Data source' width='500' [allowFiltering]="false"></e-column>
        <e-column field='family' headerText='Family'></e-column>
      </e-columns>
    </ejs-grid>


    <table class="form-section">
      <tr>
        <td>&nbsp;</td>
        <td class="text-align-right">
          <button type="button" class="btn right" [class.btn-action]="isValidForm"
                  [disabled]="!isValidForm" (click)="linkDataSource()">Add to obligation</button>
        </td>
      </tr>

    </table>

  </fieldset>

</form>
