<form autocomplete="off" [empNgSpinnerHost]="spinner" [formGroup]="form">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <fieldset>

    <table class="form-section">
      <tr>
        <td class="form-section-title" colspan="2" i18n>Associated data source</td>
      </tr>
      <tr>
        <td i18n>Search:</td>
        <td>
          <input type="text" class="text-box" style="width:380px" formControlName="keywords" (change)="setFilter()">
        </td>
      </tr>
      <tr>
        <td i18n>Family:</td>
        <td>
          <select class="select-box" style="width:380px" formControlName="family" (change)="setFilter()">
            <option value="" i18n>All families</option>
            <option *ngFor="let family of families" [value]="family">{{family}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td i18n>Data source:</td>
        <td>
          <select class="select-box" style="width:100%" formControlName="dataSource" (change)="selectDataSource()">
            <option value="" i18n>( Select a data source )</option>
            <option *ngFor="let dataSource of filteredDataSources" [value]="dataSource.uid">{{dataSource.name}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <a *ngIf="selectedDataSource" [href]="selectedDataSource?.templateUrl" target="_base">View template file</a>
        </td>
      </tr>
    </table>

    <table class="form-section">
      <tr>
        <td>&nbsp;</td>
        <td class="text-align-right">
          <button type="button" class="btn right" [class.btn-action]="isValidForm"
                  [disabled]="!isValidForm" (click)="linkDataSource()">Add to obligation</button>
        </td>
      </tr>
    </table>

  </fieldset>

</form>
