<div class="form">

  <div>

    <div class="form-section-title">
      Requisites
    </div>

    <div>
      <emp-steps-activity-data-objects-list
        [projectItem]="projectItem"
        (listEvent)="onDataObjectsListEvent($event)">
      </emp-steps-activity-data-objects-list>
    </div>

  </div>


  <div class="form-section-title" style="margin-top: 48px">
    Additional files
  </div>

  <div>
    <emp-kb-file-list [files]="filesList"
                      (fileSelect)="onFileSelect($event)">
    </emp-kb-file-list>
  </div>

  <div class="float-right" style="margin-top: 32px">
      <button type="button" class="btn-action"
              (click)="onClickAttachFile()" i18n>Attach a file</button>
  </div>

</div>


<emp-ng-modal-window *ngIf="displayDataObjectEditor && selectedDataObject" [config]="{ width:'1200px', height: '90%', disableClose: true }"
                        (modalWindowClose)="hideEditors()">
    <emp-steps-activity-data-object
      [dataObject]="selectedDataObject" (designerClose)="hideEditors()">
    </emp-steps-activity-data-object>
</emp-ng-modal-window>


<emp-ng-modal-window *ngIf="displayFileEditor && selectedMediaFile.uid"
                     [config]="{width:'980px', height:'78%'}"
                     (modalWindowClose)="hideEditors()">
  <emp-kb-media-file-viewer
      [mediaFile]="selectedMediaFile"
      (mediaFileViewerSave)="uploadFile($event)"
      (mediaFileViewerDelete)="deleteFile()"
      (mediaFileViewerClose)="hideEditors()">
  </emp-kb-media-file-viewer>
</emp-ng-modal-window>

<emp-ng-modal-window *ngIf="displayFileEditor && !selectedMediaFile.uid"
                     [config]="{width:'680px', height:'580px'}"
                     (modalWindowClose)="hideEditors()">
  <emp-ng-card title='File uploader'
               [hint]="projectItem.name"
               (cardClose)="hideEditors()">
    <emp-kb-file-editor [mediaFile]="selectedMediaFile"
                        (saveFile)="uploadFile($event)" [hidden]="uploading">
    </emp-kb-file-editor>
    <div *ngIf="uploading" style="display: flex;justify-content: center;align-items: center;height:100%">
      <div>
        Uploading ...<br><br><br>
        <mat-spinner color="accent" diameter="60"></mat-spinner>
      </div>
    </div>
  </emp-ng-card>
</emp-ng-modal-window>
