<form class="form-container" autocomplete="off" [class.submitted]="submitted" [formGroup]="form" (ngSubmit)="onSubmit()">

  <fieldset>

    <table class="form-section">
      <tr>
        <td class="form-section-title" colspan="2" i18n>General information about the obligation or activity</td>
      </tr>
      <tr>
        <td i18n>Name:</td>
        <td>
          <input type="text" class="text-box" formControlName="name">
        </td>
      </tr>
      <tr>
        <td class="align-top" i18n>Description:</td>
        <td>
          <textarea class="text-area" rows="5" cols="25" formControlName="notes"></textarea>
        </td>
      </tr>
    </table>

    <table class="form-section">
      <tr>
        <td class="form-section-title" colspan="5" i18n>Dates control</td>
      </tr>
      <tr>
        <td i18n="editor|plannedEndDate">Planned End Date:</td>
        <td>
          <emp-ng-datepicker formControlName="plannedEndDate"></emp-ng-datepicker>
        </td>
        <td class="text-align-right" style="width:100%;white-space:normal" i18n="editor|deadline">Deadline:</td>
        <td>
          <emp-ng-datepicker formControlName="deadline"></emp-ng-datepicker>
        </td>
      </tr>
      <tr>
        <td i18n>Estimated duration:</td>
        <td>
          <input type="text" class="text-box" style="width:40px" formControlName="durationValue">

          <select class="select-box" style="width:120px" formControlName="durationType">
            <option value="" i18n>( Time unit )</option>
            <option value="BusinessDays" i18n>Business days</option>
            <option value="CalendarDays" i18n>Calendar days</option>
            <option value="Hours" i18n>Hours</option>
            <option value="Months" i18n>Months</option>
            <option value="Years" i18n>Years</option>
            <option value="Unknown" i18n>Indeterminate</option>
            <option value="NA" i18n>Not applicable</option>
          </select>
        </td>
        <td class="text-align-right" i18n>Send alerts:</td>
        <td>
          <input type="text" class="text-box" style="width:40px" formControlName="warnDays">

          <select class="select-box" style="width:244px" formControlName="warnType">
            <option value="" i18n>( Configuration )</option>
            <option value="CalendarDays" i18n>Calendar days before the deadline</option>
            <option value="Default" i18n>Use Default Configuration</option>
            <option value="NA" i18n>Do not emit alerts</option>
          </select>
          <span><mat-icon>person_add</mat-icon></span>
        </td>
      </tr>
      <tr class="border-top">
        <td i18n="editor|actualStartDate">Actual Start Date:</td>
        <td>
          <emp-ng-datepicker formControlName="actualStartDate"></emp-ng-datepicker>
        </td>
        <td class="text-align-right" style="width:100%;white-space:normal" i18n="editor|actualEndDate">Actual End Date:</td>
        <td>
          <emp-ng-datepicker formControlName="actualEndDate"></emp-ng-datepicker>
          <button *ngIf="!disabled" type="button" class="btn-action"
                  (click)="onComplete()" i18n>Mark as completed</button>
        </td>
      </tr>
    </table>

    <table class="form-section">
      <tr>
        <td class="form-section-title" colspan="4" i18n>Assignee, topic and resource</td>
      </tr>
      <tr>
        <td i18n>Assignee:</td>
        <td style="width:100%">
          <select class="select-box" formControlName="responsibleUID">
            <option value="Empty" i18n>Unassigned</option>
            <option *ngFor="let responsible of responsibles | async" [value]="responsible.uid">{{responsible.name}}</option>
          </select>
        </td>
        <td i18n>Topic:</td>
        <td>
          <select class="select-box" style="width:336px" formControlName="theme">
            <option value="" i18n>( No topic )</option>
            <option *ngFor="let themeName of themesList | async" [value]="themeName">{{themeName}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td i18n>Resource:</td>
        <td style="width:100%">
          <select class="select-box" formControlName="resource">
            <option value="">No resource</option>
            <option *ngFor="let resourceName of resourcesList | async" [value]="resourceName">{{resourceName}}</option>
          </select>
        </td>
        <td i18n>Tags:</td>
        <td>
          <select class="select-box" style="width:336px" formControlName="tags">
            <option value="">No tags</option>
            <option *ngFor="let tagName of tagsList | async" [value]="tagName">{{tagName}}</option>
          </select>
        </td>
      </tr>
    </table>

  </fieldset>

  <div class="form-errors" *ngIf="showExceptionMsg">{{exceptionMsg}}</div>

  <div class="form-footer">
    <table class="form-section">
      <tr>
        <td>
          <button *ngIf="!disabled && task.uid.length === 0" type="button" class="btn-warning"
                  (click)="onDelete()" i18n>Delete</button>
        </td>
        <td class="text-align-right">

          <button *ngIf="!disabled" type="submit" class="btn-action btn-margin-right"
                  (click)="setCommand('updateActivity')" i18n>Save changes</button>

          <button *ngIf="disabled && activity.status !== 'Completed'" type="button" class="btn-action right"
                  (click)="enableForm()" i18n>Edit</button>

          <button *ngIf="disabled && activity.status === 'Completed'" type="button" class="btn right"
                  (click)="onReactivate()" i18n>Reactivate</button>

          <button *ngIf="!disabled" type="button" class="btn right"
                  (click)="onCancelEdition()" i18n>Cancel edition</button>

        </td>
      </tr>
      <tr>
        <td colspan="2">
        <br><br><br><br><br><br><br><br><br><br>&nbsp;
        </td>
      </tr>
    </table>
  </div>

</form>
