<form class="form-container" autocomplete="off" [class.submitted]="submitted" [formGroup]="form" (ngSubmit)="onSubmit()"
  (keydown)="keyboardHandler($event)">

  <fieldset>

    <table class="form-section">
      <tr>
        <td class="form-section-title" colspan="2">Información general de la obligación o actividad</td>
      </tr>
      <tr>
        <td>Nombre:</td>
        <td>
          <input type="text" class="text-box" formControlName="name">
        </td>
      </tr>
      <tr>
        <td>Observaciones:</td>
        <td>
          <textarea class="text-area" rows="5" cols="25" formControlName="notes"></textarea>
        </td>
      </tr>
    </table>

    <table class="form-section">
      <tr>
        <td class="form-section-title" colspan="5">Control de fechas</td>
      </tr>
      <tr>
        <td>Fecha objetivo:</td>
        <td>
          <emp-ng-datepicker formControlName="plannedEndDate"></emp-ng-datepicker>
        </td>
        <td class="text-align-right" style="width:100%;white-space:normal">Fecha máxima de entrega:</td>
        <td>
          <emp-ng-datepicker formControlName="deadline"></emp-ng-datepicker>
        </td>
      </tr>
      <tr>
        <td>Duración estimada:</td>
        <td>
          <input type="text" class="text-box" style="width:40px" formControlName="durationValue">

          <select class="select-box" style="width:130px" formControlName="durationType">
            <option value="">( Tiempo )</option>
            <option value="BusinessDays">Días hábiles</option>
            <option value="CalendarDays">Días naturales</option>
            <option value="Hours">Horas</option>
            <option value="Months">Meses</option>
            <option value="Years">Años</option>
            <option value="Unknown">Indeterminada</option>
            <option value="NA">No aplica</option>
          </select>
        </td>
        <td class="text-align-right">Alertar:</td>
        <td>
          <input type="text" class="text-box" style="width:40px" formControlName="warnDays">

          <select class="select-box" style="width:234px" formControlName="warnType">
            <option value="">( Días )</option>
            <option value="CalendarDays">Días naturales antes de la fecha</option>
            <option value="Default">Configuración predeterminada</option>
            <option value="NA">No emitir alertas</option>
          </select>
        </td>
      </tr>
      <tr class="border-top">
        <td>Iniciada el:</td>
        <td>
          <emp-ng-datepicker formControlName="actualStartDate"></emp-ng-datepicker>
        </td>
        <td class="text-align-right" style="width:100%;white-space:normal">Finalizada el:</td>
        <td>
          <emp-ng-datepicker formControlName="actualEndDate"></emp-ng-datepicker>
          <button *ngIf="!disabled" type="button" class="btn-action"
                  (click)="onComplete()">Finalizar</button>
        </td>
      </tr>
    </table>

    <table class="form-section">
      <tr>
        <td class="form-section-title" colspan="4">Responsable y estado de la obligación o actividad</td>
      </tr>
      <tr>
        <td>Responsable:</td>
        <td style="width:100%">
          <select class="select-box" formControlName="responsibleUID">
            <option value="Empty">No asignada</option>
            <option *ngFor="let responsible of responsibles | async" [value]="responsible.uid">{{responsible.name}}</option>
          </select>
        </td>
        <td>Tema:</td>
        <td>
          <select class="select-box" style="width:336px" formControlName="theme">
            <option value="">( Sin tema asignado )</option>
            <option value="Administración">Administración</option>
            <option value="Aprovechamiento de Gas Natural">Aprovechamiento de Gas Natural</option>
            <option value="ARES">ARES</option>
            <option value="Certificación de Reservas">Certificación de Reservas</option>
            <option value="Comercialización, almacenamiento y transporte">Comercialización, almacenamiento y transporte</option>
            <option value="Contenido Nacional">Contenido Nacional</option>
            <option value="Impacto Social">Impacto Social</option>
            <option value="Medición">Medición</option>
            <option value="Medio ambiente">Medio ambiente</option>
            <option value="Pagos">Pagos</option>
            <option value="Planes">Planes</option>
            <option value="Pozos">Pozos</option>
            <option value="Seguridad industrial">Seguridad industrial</option>
            <option value="Sistema de Administración">Sistema de Administración</option>
          </select>
        </td>
      </tr>
    </table>

  </fieldset>

  <div class="form-errors" *ngIf="showExceptionMsg">{{exceptionMsg}}</div>

  <div class="form-footer">
    <table class="form-section">
      <tr>
        <td>
          <button *ngIf="!disabled && task.uid.length === 0" type="button" class="btn-warning"
                  (click)="onDelete()">Eliminar</button>
        </td>
        <td class="text-align-right">

          <button *ngIf="!disabled" type="submit" class="btn-action btn-margin-right"
                  (click)="setCommand('updateActivity')">Guardar los cambios</button>

          <button *ngIf="disabled && activity.status !== 'Completed'" type="button" class="btn-action right"
                  (click)="enable()">Editar</button>

          <button *ngIf="disabled && activity.status === 'Completed'" type="button" class="btn right"
                  (click)="onReactivate()">Reactivar</button>

          <button *ngIf="!disabled" type="button" class="btn right"
                  (click)="onCancelEdition()">Cancelar edición</button>

        </td>
      </tr>
    </table>
  </div>

</form>
