<div class="explorer"
    [class.remove-min-width]="!displayEditor">

    <div class="explorer-panel primary">

      <div class="card">

          <div class="card-header card-header-flat">

            <div class="card-title">
              Procedures
              <div class="card-hint">{{procedures.length}} procedures found</div>
            </div>

            <div class="card-header-options">
              <emp-gov-procedure-filter (procedureFilterChange)="getProcedures($event)"></emp-gov-procedure-filter>
            </div>
          </div>

          <div class="card-body">
              <emp-gov-procedures-table-view [procedures]="procedures" (procedureSelect)="onSelectProcedure($event)"></emp-gov-procedures-table-view>
          </div>
      </div>
    </div>


  <div class="explorer-panel secondary" *ngIf="displayEditor">

    <div class="card card-border">

      <div class="card-header">
        <div class="card-title">
          {{selectedProcedure.shortName}}
          <div class="card-hint">
            <span *ngIf="selectedProcedure.modality.length !== 0">Modality: {{selectedProcedure.modality}} | </span>{{selectedProcedure.code}}
          </div>
        </div>

        <div class="card-header-options">
          <i class="fa fa-times close-icon" aria-hidden="true" (click)="onCloseEditor()"></i>
        </div>
      </div>

      <div class="card-body">
        <emp-gov-procedure-viewer [procedure]="selectedProcedure" (close)="onCloseEditor()"></emp-gov-procedure-viewer>
      </div>

    </div>

  </div>

</div>
