<span i18n>Agency:</span>&nbsp;

<select #entity class="select-box" style="width:90px;" (change)="onChangeFilter()" [(ngModel)]="filter.entityUID">
  <option value="" i18n>( All )</option>
  <option *ngFor="let entity of entities" [value]="entity.shortName">{{entity.shortName}}</option>
</select>

<span i18n>Topic:</span>&nbsp;
<select #theme class="select-box" style="width:210px" (change)="onChangeFilter()" [(ngModel)]="filter.theme">
  <option value="" i18n>( All )</option>
  <option *ngFor="let themeName of themesList" [value]="themeName">{{themeName}}</option>
</select>
&nbsp;
<input class="text-box" type="search" style="width:210px"
       placeholder='Find a procedure ...' (keyup.enter)="onChangeFilter()" [(ngModel)]="filter.keywords">
<button class="btn" style="width:55px;" (click)="onChangeFilter()" i18n>Search</button>
