<div class="card">

  <div class="card-header card-header-flat">
    <div class="card-title">
      <span i18n>Processes list</span>
      <div class="card-hint" i18n>
        <span i18n>{{processes.length}} processes found</span></div>
    </div>
    <div class="card-header-options">

    </div>
  </div>

  <div class="card-body">

    <div *ngFor="let process of processes"
          class="list-item" matRipple [matRippleTrigger]="trigger"
          [class.list-item-selected]="isSelected(process)">
      <div class="item-name">
        <a #trigger (click)="onSelect(process)">{{process.name}}</a>
      </div>
    </div>

  </div>

</div>
