@import "../../../../styles/editor-window-style";
@import "../../../../styles/form";

.editor {
    height: calc(100vh - 100px);
    width: 800px;
}

.form-frame {
    height: calc(100% - 80px);
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 700px;
    margin-left: 20px;
  }  
  
.tab {
    margin-left: 20px;
    margin-right: 20px;
   
  }
  