@import "../../../../styles/general-styles";
@import "../../../../styles/editor-window-style";
.form {
  width: 640px;
  overflow-y: auto;
}

.form textarea { 
  height: 100%;  
}

ol {
  margin-top:0;
  margin-bottom: 0;
}

.editor-container {
  height: calc(100vh - 150px);
  width: 800px;
}

.form-frame {
  height: calc(100% - 140px);
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 700px;
  margin-left: 20px;
}

.title {
  color: #3a3a3a;
  font-size: 10pt;
  font-weight: 600;
  padding: 6pt;
  min-height: 30pt;
  max-height: 48pt;
  width: 80%;
}

.tab {
  margin-left: 20px;
  width: 760px;
}