<div *ngIf="obligations.length > 0">
  <span class="clause-subtitle" i18n>
  </span>

  <div *ngFor="let obligation of obligations">
    <table class="grid" style='max-width:600pt;'>
      <thead>
        <tr>
          <th>
            {{obligation.name}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span>{{obligation.process}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>


  <div class="procedure-info" *ngIf="isVisibleProcedureInfo">
    <emp-gov-procedure-viewer
         [procedure]="procedureUID"
         (close)="onCloseProcedureInfoModal()">
    </emp-gov-procedure-viewer>
  </div>

</div>
