@import "task-editor-general-styles";
table {
  border-collapse: collapse;
  width: 580px;
}

table.grid {
  border: 1px solid black;
}

table.grid th {
  background-color: #4CAF50;
  color: white;
}

table.grid td, th {
  border-left: 1px solid black;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

table.grid tr:nth-child(even) {
  background-color: #f2f2f2
}

table.grid tr:hover {
  background-color: brown;
}
