<div class="general-info-container">
  <table>
    <tr>
      <td>Nombre del trámite:</td>
      <td colspan="2"><input class="text-box" type="text" value="Permisos para accesos, cruzamientos, instalaciones marginales"></td>
    </tr>
    <tr>
      <td>Tema:</td>
      <td><select class="select-box" name="dropdown">
                            <option value="1" selected>Actividad Petrolera</option>
                            <option value="">Exploración</option>
                        </select>
      </td>
      <td class="align-right">¿Está regulado?<input type="checkbox" value="on"></td>
    </tr>
    <tr>
      <td>Cláusula/anexo:</td>
      <td colspan="2"><input type="text" class="text-box" value="CI, 3.3 f),4.2, 4.3, 5.5, 7.2, 17.1, 17.7, Anexo 13 "></td>
    </tr>
    <tr>
      <td>Fundamento legal:</td>
      <td colspan="2"><textarea class="text-area" rows="5" cols="25">art. 8 de la Ley de Caminos, Puentes y Autotransporte Federal;                                             art. 5 fracción I, 6, 6-A, 7, 9 y 10 del Reglamento para el aprovechamiento del derecho de vía de las carreteras federales y zonas aledañas.</textarea></td>
    </tr>
    <tr>
      <td>Dependencia:</td>
      <td colspan="2"><select class="select-box">
                               <option value="1" selected>Secretaria de Comunicaciones y Transportes</option>
                               <option value="2" selected>Secretaria de Desarrollo Territorial y Urbano</option>
                              </select>
      </td>
    </tr>
    <tr>
      <td>Autoridad:</td>
      <td colspan="2"><select class="select-box">
                              <option value="1">Unidad de Asusntos Jurídicos del Centro SCT del Estado que corresponda</option>
                             </select>
      </td>
    </tr>
    <tr>
      <td>Contacto:</td>
      <td colspan="2"><textarea class="text-area" rows="5" cols="25">Juan Carlos Capistrán Fernández,
Director Técnico,
jcapist@sct.gob.mx
5723-9300, ext. 15003 
          </textarea>
      </td>
    </tr>
    <tr>
      <td><span class="align-left"><button class="button">Imprimir</button></span></td>
      <td colspan="2" class="align-right">
        <button class="button" (click)="cancel()">Cancelar</button> <button class="button">Guardar cambios</button>
      </td>
  </table>
</div>
