<div class="task-editor-window">
  <div class="header">
    <div class="close" (click)="close()">&times;</div>
    <div class="title">Permisos para accesos, cruzamientos, instalaciones marginales</div>
    <div class="subtitle">Ronda 1.3</div><br>
  </div>
  <div class="tab">
    <button class="tablinks" (click)="setSelectedTask('generalInfo')">Información general</button>
    <button class="tablinks" (click)="setSelectedTask('requirements')">Requisitos</button>
    <button class="tablinks">Costo y plazos</button>
    <button class="tablinks">Lista de tareas</button>
    <button class="tablinks">Observaciones</button>
  </div>
  <br>
  <div [ngSwitch]="selectedTask">
    <task-general-info *ngSwitchCase="'generalInfo'"> </task-general-info>
    <task-requirements *ngSwitchCase="'requirements'"></task-requirements>
  </div>
</div>
