<form autocomplete="off" [formGroup]="form" style="margin-left:32px; margin-right:32px">


  <fieldset>

    <table class="form-section">
      <tr>
        <td colspan="2" i18n style="white-space:normal">
          Passwords must be at least eight characters in length,
          and contain at least three of the following four categories
          of characters arranged in any order:<br>
          Uppercase, lowercase, digits and non-alphabetic characters.
          <br><br>
          Also, passwords must not contain significant portions of the user's:
          <br>
          first name, last name, email address or user name.
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="password" hidden class="text-box" id="password"
                 autocomplete="off" style="width:220px">
        </td>
      </tr>
      <tr>
        <td i18n>Current password:</td>
        <td>
          <input type="password" class="text-box" formControlName="current"
                 autocomplete="off" style="width:220px">
          <div class="form-errors" *ngIf="submitted && !isValid('current')">{{validationMsg('current')}}</div>
        </td>
      </tr>
      <tr>
        <td i18n>New password:</td>
        <td>
          <input type="password" class="text-box" formControlName="new"
                 autocomplete="off" style="width:220px" minlength="8">
          <div class="form-errors" *ngIf="submitted && !isValid('new')">{{validationMsg('new')}}</div>
        </td>
      </tr>
      <tr>
        <td i18n>Confirm new password:</td>
        <td>
          <input type="password" class="text-box" formControlName="confirm"
                 autocomplete="off" style="width:220px">
          <div class="form-errors" *ngIf="submitted && !isValid('confirm')">{{validationMsg('confirm')}}</div>
        </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td class="text-align-center">
          <button type="button" class="btn" [class.btn-action]="isValidForm"
                  (click)="onSubmit()">Change password</button>
        </td>
      </tr>

    </table>


  </fieldset>

</form>
