<div id="some-id" [ngClass]="setCssClass()" draggable="true" (dragstart)="drag($event)">
  <table>
    <tr>
      <td>819</td>
      <td>Leticia G</td>
      <td><a (click)="displaySelectList()">+</a>
        <div class="wrapper" *ngIf="isSelectListVisible">
          <div class="select-list">
            <ul>
              <li><a>Reasingar</a></li>
              <li><a>Cambiar titulo</a></li>
              <li><a>Agregar subtarea</a></li>
              <li>
                <hr>
              </li>
              <li><a>Cambiar fecha</a></li>
              <li><a>Editar tarea</a></li>
              <li><a>Elimnar tarea</a></li>
              <li>
                <hr>
              </li>
              <li><a>Ubicar en el mapa</a></li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td colspan="2">Permiso de perforación <br> del poso Alfa 33</td>
    </tr>
    <tr>
      <td>Objetivo:</td>
      <td>17/Ago/17</td>
    </tr>
    <tr>
      <td>Legal:</td>
      <td>04/Sep/17</td>
    </tr>
  </table>
</div>
