@import "../../../../styles/general-styles";
@import "../../../../styles/form";

.list {
  padding: 16px 32px;
  height: 100%;
  max-height: 100%;
}

.posting {
  margin-bottom: 24px;
  font-size: 10.5pt;
  font-weight: 500;
  max-width: 600px;
  text-align: justify;
  padding-left: 16px;

  a {
    font-weight: 500;
    text-decoration: none;
  }
}


.posting-body {
  max-width: 600px;
  font-size: 8.5pt;
  font-weight: 400;
  text-align: justify;
}


input.inline-editor-text-box {
  height: 32px;
  width: 80%;
}
