@import "../../../styles/general-styles";

.container {
  display: inline-block;
  height: calc(100vh - 210px);
  width: 100%;
}

.centered-container {
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  overflow: hidden;
  width: 60%;
}

.block-container {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(50% - 20px);
  height: 100%;
  overflow: hidden;
}
