<projects-filter (onChangeFilter)="onFilterChanged($event)"
  (onChangeView)="onViewChanged($event)">
</projects-filter>

<div class="container">

  <div [ngSwitch]="viewConfig.viewType" [class]="masterContainerClass">

      <activity-tree *ngSwitchCase="'activity-tree'"
                    [filter]="filter"
                    (onSelectActivity)="showEditor($event)">
      </activity-tree>

      <gantt *ngSwitchCase="'gantt'"
             [filter]="filter"
             [config]="viewConfig">
      </gantt>

      <old-project-tree *ngSwitchCase="'old-version'"
                        [filter]="filter">
      </old-project-tree>

  </div>

  <div *ngIf="displayEditor" class="block-container right">
      <activity-editor [activity]="selectedActivity"
                       (update)="onActivityUpdated($event)"
                       (close)="onEditorClosed()">
      </activity-editor>
  </div>

</div>
