@import "../../../styles/explorer";

$primary-panel-min-width: 266px;
$secondary-panel-min-width: 480px;
$gap-width: 30px;

:host {
  @include workarea-host;
}

.explorer {
  @include explorer-defaults;

  justify-content: center;
  min-width: calc($primary-panel-min-width + $secondary-panel-min-width + $gap-width);
 }

.explorer-panel {

  &.primary {
    flex: 1 3 640px;
    max-width: 945px;
    min-width: $primary-panel-min-width;
  }

  &.primary-full {
    flex: 1 3 640px;
    max-width: 100%;
    min-width: $primary-panel-min-width;
  }

  &.secondary {
    flex: 1 1 580px;
    max-width: 680px;
    min-width: $secondary-panel-min-width;
    margin-left: $gap-width;
  }

}
