@import "../../../styles/general-styles";

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.explorer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  min-width: calc(266px + 660px + 10px * 4);

  flex: 1;            // 1 1 0
  border: 2pt solid blue;
 }

.explorer-panel {
  margin: 0px 10px;
  border: 1px solid red;

  &.primary {
    flex: auto;       // 1 1 auto;
    max-width: 945px;
    min-width: 266px;
  }

  &.secondary {
    flex: none;       // 0 0 auto
    width: 660px;
  }

}
