<table class="grid-search-table">
  <tr>
    <td>Contrato:</td>
    <td>
      <select #contract class="select-box" style="width:160px;" [(ngModel)]="filter.contract">
        <option value="">( Seleccionar )</option>
        <option value="567">Ronda 2.1 Bloque 11</option>
      </select>
    </td>
    <td>Etapa:</td>
    <td>
      <select #stage class="select-box" style="width:160px" (change)="changeFilter()" [(ngModel)]="filter.stage">
        <option value="">( No filtrar )</option>
        <option value="Transición">Transición</option>
        <option value="Evaluación">Evaluación</option>
        <option value="Exploración">Exploración</option>
        <option value="Desarrollo">Desarrollo</option>
        <option value="Producción">Producción</option>
        <option value="Abandono">Abandono</option>
        <option value="Transversales">Transversales</option>
      </select>
    </td>
    <td>Buscar:</td>
    <td colspan="3">
      <input type="search" class="text-box" style="width:344px" [(ngModel)]="keywords" (keyup.enter)="onSearch()">
      <button class="btn" style="width:55px;" (click)="onSearch()">Buscar</button>
    </td>
    <td colspan="2">
      <button type="button" class="btn-warning align-center" style="width:185px" (click)="onClickAddActivity()">+ Agregar obligaciones</button>
    </td>
    <td colspan="4"><a (click)="cleanFilter()">Limpiar filtros</a></td>
  </tr>
  <tr>
    <td>Proyecto:</td>
    <td>
      <select #project class="select-box" style="width:160px;" (change)="onChangeProjectList(project.value)" [(ngModel)]="filter.project">
        <option value="">( Seleccionar )</option>
        <option *ngFor="let project of projectsList"[value]="project.uid">{{project.name}}</option>
      </select>
    </td>
    <td>Etiqueta:</td>
    <td>
      <autocomplete-control [tags]="labelsList" [isWritable]="false" [config]="{valueField: 'name'}" (selected)="onChangeSelectedTags($event)"></autocomplete-control>
    </td>
    <td>Responsable:</td>
    <td>
      <select style="width:180px" class="select-box" #responsible (change)="changeFilter() " [(ngModel)]="filter.responsible ">
        <option value="">( Todos ) </option>
        <option *ngFor="let responsible of responsiblesList " [value]="responsible.uid ">{{responsible.name}}</option>
      </select>
    </td>
    <td>Ordenar por:</td>
    <td>
      <select style="width:136px " class="select-box " #orderBy (change)="changeFilter()" [(ngModel)]="filter.orderBy">
        <option value="">( No ordenar )</option>
        <option value="DueDate">Fecha Máx de Entrega</option>
        <option value="TargetDate">Fecha Objetivo</option>
        <option value="Responsible">Responsable</option>
        <option value="ActivityName">Nombre de la tarea</option>
      </select>
    </td>
    <td>Vista:</td>
    <td>
      <select style="width:146px " class="select-box " (change)="changeDislpayFilter() " [(ngModel)]="displayFilter.selectedView">     
        <option value="project-explorer">Etapas / actividades</option>
        <option value="gantt">Gantt</option>
        <option value="kanban">Kanban</option>
        <option value="calendar">Calendario</option>
      </select>
    </td>
    <td>Escala:</td>
    <td>
      <select style="width:98px " class="select-box " (change)="changeDislpayFilter() " [(ngModel)]="displayFilter.selectedScale ">
        <option value="quarters">Trimestral</option>
        <option value="months">Mensual</option>
        <option value="weeks">Semanal</option>
      </select>
    </td>
  </tr>

</table>
<div *ngIf="isAddActivityEditorWindowVisible " class="popup ">
  <create-activity-menu [project]="selectedProject " (onCloseEvent)="onCloseAddActivityEditorWindow()"></create-activity-menu>
  <!-- <activity-add [project]="selectedProject " [parentId]="null" [topUbication]="10" (onCloseEvent)="onCloseAddActivityEditorWindow() "></activity-add>-->
</div>
