<table class="grid-search-table">
  <tr>
    <td>Contrato:</td>
    <td>
      <select #contract class="select-box" style="width:160px;" (change)="onChangeContract(contract.value)" >
        <option value="">( Seleccionar )</option>
        <option *ngFor="let contract of contracts" [value]="contract.uid">{{contract.name}}</option>
      </select>
    </td>
    <td>Etapa:</td>
    <td>
      <select #stage class="select-box" style="width:160px" (change)="onChangeStage(stage.value)">
        <option value="">( No filtrar )</option>
        <option *ngFor="let stage of stages" [value]="stage.uid">{{stage.name}}</option>
      </select>
    </td>
    <td>Buscar:</td>
    <td colspan="3">
      <input type="search" class="text-box" style="width:344px" [(ngModel)]="keywords" (keyup.enter)="onSearch()">
      <button class="btn" style="width:55px;" (click)="onSearch()">Buscar</button>
    </td>
    <td colspan="2">
      <a (click)="cleanFilter()">Limpiar filtros</a>
    </td>
    <td colspan="4">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td>Proyecto:</td>
    <td>
      <select #project class="select-box" style="width:160px;" (change)="onChangeProjectList(project.value)">
        <option value="">( Seleccionar )</option>
        <option *ngFor="let project of projectStore.projects | async" [value]="project.uid">{{project.name}}</option>
      </select>
    </td>
    <td>Etiqueta:</td>
    <td>
      <autocomplete-control [tags]="labelsList"
                            [isWritable]="false"
                            [config]="{valueField: 'name'}"
                            (selected)="onChangeSelectedTags($event)">
      </autocomplete-control>
    </td>
    <td>Responsable:</td>
    <td>
      <select class="select-box" style="width:180px" #responsible (change)="changeFilter()" >
        <option value="">( Todos ) </option>
        <option *ngFor="let responsible of responsiblesList " [value]="responsible.uid">{{responsible.name}}</option>
      </select>
    </td>
    <td>Ordenar por:</td>
    <td>
      <select class="select-box" style="width:136px" (change)="changeFilter()" [(ngModel)]="filter.orderBy" >
        <option value="">( No ordenar )</option>
        <option value="DueDate">Fecha Máx de Entrega</option>
        <option value="TargetDate">Fecha Objetivo</option>
        <option value="Responsible">Responsable</option>
        <option value="ActivityName">Nombre de la tarea</option>
      </select>
    </td>
    <td>Vista:</td>
    <td>
      <select class="select-box" style="width:146px" (change)="changeView()" [(ngModel)]="viewConfig.viewType">
        <option value="activity-tree">Actividades</option>
        <option value="tasks-list">Lista de tareas</option>
        <option value="gantt">Gantt</option>
        <option value="kanban">Kanban</option>
        <option value="calendar">Calendario</option>
        <option value="old-version">Versión anterior</option>
      </select>
    </td>
    <td>Escala:</td>
    <td>
      <select class="select-box" style="width:98px" (change)="changeView()" [(ngModel)]="viewConfig.timeScaleUnit">
        <option value="quarters">Trimestral</option>
        <option value="months">Mensual</option>
        <option value="weeks">Semanal</option>
      </select>
    </td>
  </tr>
</table>
