<table class="form">
  <tr>
    <td class="form-title form-title-text">1) Avisar de inmediato vía telefónica</td>
  </tr>
</table>
<table class="form">
  <tr>
    <td>Descripción:</td>
    <td><b>Avisar a CNH de inmediato</b></td>
    <td class="text-align-right">Listo</td>
  </tr>
  <tr>
    <td>Tipo:</td>
    <td><b>Nota de llamada telefónica</b></td>
    <td><a>Instrucciones</a> <a>Teléfonos y contactos</a></td>
  </tr>
  <tr>
    <td>Asignar a:</td>
    <td colspan="2"><select class="select-box">
      <option>No asignable</option>      
      </select>
    </td>
  </tr>
  <tr>
    <td>Nota teléfonica:</td>
    <td colspan="2"><textarea class="text-area" rows="5" cols="25"></textarea></td>
  </tr>
</table>
<br>
<table class="form">
  <tr>
    <td class="form-title form-title-text">2) Reporte por escrito sobre incidente </td>
  </tr>
</table>
<table class="form">
  <tr>
    <td>Descripción:</td>
    <td><b>Se debe de desarrollar un reporte sobre el incidente <br>
          y entregarlo dentro de las siguientes 48 horas<br> despues de ocurrido el mismo. </b></td>
    <td class="text-align-right">No asignado</td>
  </tr>
  <tr>
    <td>Tipo:</td>
    <td><b>Trámite ASEA</b></td>
    <td><a>Ejemplo</a> <a>Instrucciones</a></td>
  </tr>
  <tr>
    <td>Responsable:</td>
    <td colspan="2"><select class="select-box">
        <option>Leticia Alvarado Rocha</option>      
        </select>
    </td>
  </tr>
  <tr>
    <td colspan="3" class="text-align-right"><button class="btn">Asignar</button></td>
  </tr>
</table>
<br>
<table class="form">
  <tr>
    <td class="form-title form-title-text">2.1) Elaborar escrito técnico </td>
  </tr>
</table>
<table class="form">
  <tr>
    <td>Descripción:</td>
    <td><b>Se debe hacer un escrito técnico sobre el incidente <br>
            y entregarlo dentro de las siguientes 48 horas<br> despues de ocurrido el mismo. </b></td>
    <td class="text-align-right">Asignado</td>
  </tr>
  <tr>
    <td>Tipo:</td>
    <td><b>Trámite ASEA</b></td>
    <td><a>Ejemplo</a> <a>Instrucciones</a></td>
  </tr>
  <tr>
    <td>Asignado a:</td>
    <td colspan="2"><select class="select-box">
          <option>Pedro Antonio Rosas Chong</option>      
          </select>
    </td>
  </tr>
  <tr>
    <td>Asingado el:<input type="text" class="text-box" style="width:80px" value="12/08/2017">
      <td>Estado:<b>No iniciado</b></td>
      <td class="text-align-right"><button class="btn">Reasignar</button></td>
  </tr>
</table>
