<div class="gs-container">
  <div [class]="masterContainer">
    <div style="height: 97%">
      <activity-list [filter]="filter" (onSelectedTask)="displayTaskEditor($event)"></activity-list>
    </div>
  </div>
  <div *ngIf="isDetailsContainerVisible" class="block-container right">
    <div class="header">
        <div><i class="fa fa-times close-icon" (click)="closeDetailsContainer()"></i></div>
          <span class=".header-title">{{selectedTask.name}} </span>
          
    </div> 
    <div>
     
    </div>
    <div>
      <task-update  [task]="selectedTask" 
      (onUpdateActivity)="updateActivity($event)"
       (onCloseEvent)="closeDetailsContainer()"></task-update>
    </div>
  </div>
</div>