<div mat-dialog-title>{{model.title}}</div>

<mat-dialog-content>
  <div [innerHTML]="model.message | safeHtml"></div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="model.messageBoxType === 'Accept'">

    <button mat-flat-button color="primary" cdk-focus-start
            (click)="onClickButton('accept')">{{model.mainButtonText || 'Aceptar'}}</button>

</mat-dialog-actions>

<mat-dialog-actions *ngIf="model.messageBoxType === 'AcceptCancel'">

    <button mat-flat-button color="primary" cdk-focus-start
            (click)="onClickButton('accept')">{{model.mainButtonText || 'Aceptar'}}</button>

    <button mat-button
            (click)="onClickButton('cancel')">Cancelar</button>

</mat-dialog-actions>


<mat-dialog-actions *ngIf="model.messageBoxType === 'DeleteCancel'">

  <button mat-stroked-button color="warn"
          (click)="onClickButton('accept')">{{model.mainButtonText || 'Eliminar'}}</button>

  <button mat-flat-button color="primary" cdk-focus-start
          (click)="onClickButton('cancel')">Cancelar</button>

</mat-dialog-actions>
