@import "../../../styles/general-styles";


.file-drop-area {
  border: dashed 1px $primary-color !important;
  height: 90px !important;
  padding-top: 36px !important;
}


.remove-file-btn {
  margin-top: -26px;
  margin-right: 16px;
}
