@import "../../../styles/grid";

table.grid tbody {
  height: calc(100vh - 290px);
}

.grid-footer-style {
  margin: 3px 10px 3px 3px;
  width: 99%;
}

.grid-items {
  min-height: 48pt;
  padding-bottom: 12pt;
}

.grid-footer-items {
  width: 33%;
}
