<table class="grid-search-table">
  <tr>
    <td>Dependencia:</td>
    <td><select #entity class="select-box" style="width:90px;" (change)="onChangeFilter()" [(ngModel)]="filter.entityUID">
					<option value="">( Todas )</option>
					<option *ngFor="let entity of entities" [value]="entity.uid">{{entity.shortName}}</option>
				</select>
    </td>
    <td>Tema:</td>
    <td>
      <select #theme class="select-box" style="width:210px" (change)="onChangeFilter()" [(ngModel)]="filter.theme">
					<option value="">( Todos )</option>
					<option value="Actividad petrolera">Actividad petrolera</option>
					<option value="Aprovechamiento de Gas Natural">Aprovechamiento de Gas Natural</option>
					<option value="ARES">ARES</option>
					<option value="Certificación de reservas">Certificación de reservas</option>
					<option value="Cesión">Cesión</option>
					<option value="Contenido Nacional">Contenido Nacional</option>
					<option value="Impacto Social">Impacto Social</option>
					<option value="Información">Información</option>
					<option value="Medición">Medición</option>
					<option value="Pago de Contraprestaciones">Pago de Contraprestaciones</option>
					<option value="Pago de Derechos y Aprovechamientos">Pago de Derechos y Aprovechamientos</option>
					<option value="Pago de Impuestos">Pago de Impuestos</option>
					<option value="Perforación de Pozos">Perforación de Pozos</option>
					<option value="Seguridad industrial, operativa y del medio ambiente">Seguridad industrial, operativa y del medio ambiente</option>
					<option value="Seguros">Seguros</option>
					<option value="Uso y Ocupación Superficial">Uso y Ocupación Superficial</option>
				</select>
    </td>
    <td>Buscar:</td>
    <td colspan="3">
      <input class="text-box" type="search" style="width:310px" (keyup.enter)="onChangeFilter()" [(ngModel)]="filter.keywords">
      <button class="btn" style="width:55px;" (click)="onChangeFilter()">Buscar</button>
    </td>
    <td><a (click)="cleanCombos() ">Limpiar</a></td>
  </tr>
  <!--
  <tr>
    <td>Etapa:</td>
    <td>
      <select #stage class="select-box text-align-right" style="width:245px" [(ngModel)]="filter.stage">
							<option value="">( Todas )</option>
							<option value="Etapa de Exploración">Etapa de Exploración</option>
							<option value="Etapa de Abandono">Etapa de Abandono</option>
							<option value="Período de Desarrollo">Período de Desarrollo</option>
							<option value="Período de Evaluación">Período de Evaluación</option>
							<option value="Transición de Arranque">Transición de Arranque</option>
							<option value="Transversales">Transversales</option>
						</select>
    </td>
    <td>Contrato:</td>
    <td><select class="select-box" style="width:165px" [(ngModel)]="filter.contract">
							<option value="">( Todas )</option>
							<option value="1.3">Ronda 1.3</option>
							<option value="1.4">Ronda 1.4</option>
							<option value="2.1">Ronda 2.1</option>
						</select>
		</td>
    <td>
      <button style="width:144px" class="btn-warning" type="button" (click)="newProcedure()">+ Nuevo trámite</button>
    </td>
	</tr>
	!-->
</table>
