<procedure-filter (onSearch)="getProcedures($event)" (onNewProcedure)="onOpenProcedureEditorWindow($event)"></procedure-filter>
<table class="grid">
  <thead>
    <tr>
      <th style='width:40%'>Trámite / Homoclave</th>
      <th style='width:100px'>Dependencia</th>
      <th style='width:15%'>Tema</th>
      <th style='width:40%'></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let procedure of procedures">
      <td style='width:40%'>
        <a (click)="onOpenProcedureEditorWindow(procedure.uid)">{{procedure.name}}</a>
        <br/> {{procedure.code}}
      </td>
      <td style='width:100px'>{{procedure.entity}}</td>
      <td style='width:15%'>{{procedure.theme}}</td>
      <th style='width:40%'></th>
    </tr>
  </tbody>
</table>

<div class="grid-footer">
  <table class="grid-footer-style">
    <tr>
      <td class="grid-footer-items">{{procedures.length}} trámites encontrados</td>
      <td class="grid-footer-items text-align-center">

      </td>
      <td class="grid-footer-items text-align-right ">Página 1 de 1</td>
    </tr>
  </table>
</div>

<div *ngIf="showProcedureEditorWindow " class="popup ">
  <!--<procedure-editor [procedureUID]="selectedProcedureUID" (onCloseEvent)="closeProcedureEditorWindow()"></procedure-editor>-->
  <selected-procedure [procedureUID]="selectedProcedureUID" (onCloseEvent)="closeProcedureEditorWindow()"></selected-procedure>
</div>
