<emp-gov-procedure-filter (change)="getProcedures($event)"></emp-gov-procedure-filter>

<table class="grid">
  <thead>
    <tr>
      <th style="width:20pt"></th>
      <th style='width:50%' i18n>Procedure / Modality / Official code</th>
      <th style='width:100px' i18n>Agency</th>
      <th style='width:12%' i18n>Topic</th>
      <th style='width:20%'></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let procedure of procedures" class="grid-items">
      <td class="main-icon">
        <a (click)="onOpenProcedureEditorWindow(procedure.uid)"><i class="fa fa-university" aria-hidden="true"></i></a>
      </td>
      <td style='width:50%'>
        <a (click)="onOpenProcedureEditorWindow(procedure.uid)">{{procedure.shortName}}</a>
        <br/>
        <span *ngIf="procedure.modality.length !== 0" i18n>Modality: {{procedure.modality}} | </span>{{procedure.code}}
      </td>
      <td style='width:100px'>{{procedure.entityName}}</td>
      <td style='width:12%'>{{procedure.theme}}</td>
      <th style='width:20%'></th>
    </tr>
  </tbody>
</table>

<div class="grid-footer">
  <table class="grid-footer-style">
    <tr>
      <td class="grid-footer-items" i18n>{{procedures.length}} procedures found</td>
      <td class="grid-footer-items text-align-center">

      </td>
      <td class="grid-footer-items text-align-right" i18n>Page 1 of 1</td>
    </tr>
  </table>
</div>

<div *ngIf="showProcedureEditorWindow" class="popup ">
  <emp-gov-procedure-viewer [procedure]="selectedProcedure" (close)="closeProcedureEditorWindow()"></emp-gov-procedure-viewer>
</div>
