<emp-gov-procedure-filter (change)="getProcedures($event)"></emp-gov-procedure-filter>

<table class="grid">
  <thead>
    <tr>
      <th style="width:20pt"></th>
      <th style='width:40%'>Trámite / Modalidad / Homoclave</th>
      <th style='width:100px'>Dependencia</th>
      <th style='width:12%'>Tema</th>
      <th style='width:40%'></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let procedure of procedures" class="grid-items">
      <td class="main-icon">
        <a (click)="onOpenProcedureEditorWindow(procedure.uid)"><i class="fa fa-university" aria-hidden="true"></i></a>
      </td>
      <td style='width:40%'>
        <a (click)="onOpenProcedureEditorWindow(procedure.uid)">{{procedure.shortName}}</a>
        <br/>
        <span *ngIf="procedure.modality.length !== 0">Modalidad: {{procedure.modality}} | </span>{{procedure.code}}
      </td>
      <td style='width:100px'>{{procedure.entityName}}</td>
      <td style='width:12%'>{{procedure.theme}}</td>
      <th style='width:40%'></th>
    </tr>
  </tbody>
</table>

<div class="grid-footer">
  <table class="grid-footer-style">
    <tr>
      <td class="grid-footer-items">{{procedures.length}} trámites encontrados</td>
      <td class="grid-footer-items text-align-center">

      </td>
      <td class="grid-footer-items text-align-right ">Página 1 de 1</td>
    </tr>
  </table>
</div>

<div *ngIf="showProcedureEditorWindow " class="popup ">
  <emp-gov-procedure-viewer [procedure]="selectedProcedureUID" (close)="closeProcedureEditorWindow()"></emp-gov-procedure-viewer>
</div>
