@import "../../../styles/grid";
table.grid tbody {
  height: calc(100vh - 260px);
}

table.grid td:nth-child(1), table.grid th:nth-child(1) {
  width: 40%;
}

table.grid td:nth-child(2), table.grid th:nth-child(2) {
  width: 33%;
}

table.grid td:nth-child(3), table.grid th:nth-child(3) {
  width: 15%;
}

table.grid td:nth-child(4), table.grid th:nth-child(4) {
  width: 9%;
}

.grid-footer-style {
  margin: 3px 10px 3px 3px;
  width: 99%;
}

.grid-footer-items {
  width: 33%;
}
