<table class="form">
  <tr>
    <td class="form-title form-title-text" colspan="2">Información general de la tarea o actividad</td>
  </tr>
  <tr>
    <td>Nombre:</td>
    <td> <input type="text" class="text-box" [(ngModel)]="selectedTask.name"></td>
  </tr>
  <tr>
    <td>Observaciones:</td>
    <td><textarea class="text-area" rows="5" cols="25" [(ngModel)]="selectedTask.notes"></textarea></td>
  </tr>
</table>
<table class="form">
  <tr>
    <td class="form-title form-title-text" colspan="3">Responsable de la tarea y porcentaje de progreso</td>
  </tr>
  <tr>
    <td>Responsable:</td>
    <td>
      <select class="select-box" style="width:340px" [(ngModel)]="selectedTask.responsibleUID">
          <option value="">( Seleccionar )</option>
          <option value="Undefined">No asignado</option>
          <option *ngFor="let responsible of responsiblesList"
                  [value]="responsible.uid">{{responsible.name}}</option>
        </select>
    </td>
    <td class="text-align-right">
    </td>
  </tr>
</table>
<table class="form">
  <tr>
    <td class="form-title form-title-text" colspan="3">Etiquetas</td>
  </tr>
  <tr>
    <td>Etiquetas:</td>
    <td>
      <autocomplete-control [tags]="tags" (selected)="onSelectedTags($event)"></autocomplete-control>
    </td>
    <td>
      <chips [items]="selectedTags"></chips>
    </td>
  </tr>
</table>
<table class="form">
  <tr>
    <td class="form-title form-title-text" colspan="3">Fecha objetivo y fecha legal</td>
  </tr>
  <tr>
    <td>Fecha objetivo:</td>
    <td style="width:70%">
      <input type="text" id="calendar" class="text-box" style="width:100px" [ngModel]="selectedTask.targetDate | date: 'dd-MM-yyyy'" (target)="selectedTask=$value">
      <button id="calendarButton">..</button>
    </td>
    <td class="text-align-right">Fecha legal: &nbsp; <b>{{task.dueDate | date: 'dd-MMM-yyyy'}}</b></td>
  </tr>
</table>
<div class="form-footer">
  <table class="form">
    <tr>
      <td>
        <button class="btn" (click)="cancel()">Cancelar</button>
      </td>
      <td *ngIf="_task.stage !== 'Done'" class="text-align-right">
        <button class="btn-action" (click)="onUpdateTask()">Guardar los cambios</button>
      </td>
    </tr>
  </table>

</div>
