@import "../../../../styles/editor-window-style";
@import "../../../../styles/form";
.form-frame {
  height: 430px;
  overflow-y: auto;
}

.form {
  width: 640px;
  overflow-y: auto;
}

.form-footer {
  width: 660px;
}