<div class="editor-container editor-container-style">
  <!--
  <table class="form">
    <tr>
      <td class="form-title form-title-text" colspan="2">Información general</td>
    </tr>
    <tr>
      <td>Nombre:</td>
      <td>{{task.name}}</td>
    </tr>
    <tr>
      <td>Observaciones:</td>
      <td>{{task.notes}}</td>
    </tr>
    <tr>
      <td>Responsable:</td>
      <td>{{task.responsible.name}}</td>
    </tr>
  </table>-->
  <table class="form">
    <tr>
      <td class="form-title form-title-text" colspan="3">Fecha de término</td>
    </tr>
    <tr>
      <td>Fecha de término:</td>
      <td>
        <ng-container *ngIf="_task.stage === 'Done'; else elseBlock">
          <b>{{_task.endDate  | date: 'dd-MMM-yyyy'}}</b>
        </ng-container>
        <ng-template #elseBlock>
          <input type="date" style="width:140px" class="text-box" [disabled]="isTaskClosed" [(ngModel)]="endDate">
        </ng-template>
      </td>

      <td>Fecha legal: &nbsp; <b>{{task.dueDate | date: 'dd-MMM-yyyy'}}</b></td>
    </tr>
  </table>
  <br><br>
  <table *ngIf="_task.stage==='Done' " class="form ">
    <tr>
      <td class="form-title form-title-text " colspan="2 ">Tarea concluida</td>
    </tr>
    <tr>
      <td>
        <i class="fa fa-check-circle fa-5x check-circle-color " aria-hidden="true "> </i>
      </td>
      <td style="vertical-align: middle "><span class="close-label-message; ">La tarea ha sido concluida...</span></td>
    </tr>
    <tr>
      <td></td>
      <td>Si es necesario reabrir esta tarea presiona el bóton "Reabrir esta tarea "</td>
    </tr>
  </table>

  <div class="form-footer ">
    <table class="form ">
      <tr>
        <td>
          <button class="btn " (click)="cancel() ">Cancelar</button>
        </td>
        <td *ngIf="task.stage==='Done' " class="text-align-right ">
          <button class="btn-warning " (click)="onReopenTask() ">Reabrir esta tarea</button>
        </td>
        <td *ngIf="task.stage !=='Done' " class="text-align-right ">
          <button class="btn-action " (click)="onCloseTask() ">Concluir la tarea</button>
        </td>
      </tr>
    </table>
  </div>

</div>
