@import "../../../styles/explorer";

$primary-panel-min-width: 266px;
$secondary-panel-min-width: 820px;
$gap-width: 30px;

.explorer {
  @include explorer-defaults;

  justify-content: center;
  min-width: calc($primary-panel-min-width + $secondary-panel-min-width + $gap-width);
 }


.explorer-panel {

  &.primary {
    flex: 1 3 940px;
    max-width: 945px;
    min-width: $primary-panel-min-width;
  }

  &.primary-full {
    flex: 1 3 1040px;
    max-width: 100%;
    min-width: $primary-panel-min-width;
  }

  &.secondary {
    flex: 1 1 820px;
    max-width: 900px;
    min-width: $secondary-panel-min-width;
    margin-left: $gap-width;
  }

}
