<div class="explorer"
      [class.remove-min-width]="!displayEditor">

  <div class="explorer-panel"
        [class.primary]="currentView.name !== 'Process.Diagram'"
        [class.primary-full]="currentView.name === 'Process.Diagram'">

    <ng-container *ngIf="currentView.name === 'Process.Diagram'">
      <emp-ng-process-diagram-editor
          [project]="model"
          (activityChange)="onProcessDiagramEdited($event)"
          (activitySelect)="showEditor($event)">
      </emp-ng-process-diagram-editor>
    </ng-container>

    <ng-container *ngIf="currentView.name === 'Process.Tree'">
      <emp-steps-process-tree-designer
          [project]="model"
          [useForeignLanguage]="useForeignLanguage"
          (activityChange)="onActivityTreeEdited($event)"
          (activitySelect)="showEditor($event)">
      </emp-steps-process-tree-designer>
    </ng-container>

    <ng-container *ngIf="currentView.name === 'Process.Documentation'">
      ONE Process documentation store
    </ng-container>

  </div>

  <div *ngIf="displayEditor" class="explorer-panel secondary">
    <emp-steps-activity-designer
        [activityTemplate]="selectedActivityTemplate"
        [useForeignLanguage]="useForeignLanguage"
        (activityTemplateChange)="onActivityUpdated($event)"
        (activityDesignerClose)="onEditorClosed()">
    </emp-steps-activity-designer>
  </div>

</div>
