<div class="explorer"
      [class.remove-min-width]="!displayEditor">

  <div class="explorer-panel"
        [class.primary]="currentView !== 'Process.Diagram'"
        [class.primary-full]="currentView === 'Process.Diagram'">

    <ng-container *ngIf="currentView === 'Process.Diagram'">
      <emp-ng-process-diagram-editor
          [project]="model"
          (edited)="onProcessDiagramEdited($event)"
          (activitySelected)="showEditor($event)">
      </emp-ng-process-diagram-editor>
    </ng-container>

    <ng-container *ngIf="currentView === 'Process.Tree'">
      <emp-steps-process-tree-designer
          [project]="model"
          (edited)="onActivityTreeEdited($event)"
          (activitySelected)="showEditor($event)">
      </emp-steps-process-tree-designer>
    </ng-container>

  </div>

  <div *ngIf="displayEditor" class="explorer-panel secondary">
    <emp-steps-activity-designer
        [activityTemplate]="selectedActivityTemplate"
        (update)="onActivityUpdated($event)"
        (close)="onEditorClosed()">
    </emp-steps-activity-designer>
  </div>

</div>
