@import "../../../styles/explorer";

$primary-panel-min-width: 266px;
$secondary-panel-min-width: 680px;
$gap-width: 30px;

.container {
  @include row;
}

.explorer-aside {
  width: 240px;
  max-width: 240px;

  min-width: $primary-panel-min-width;

  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: $gap-width;

  border: 1px solid $primary-color;
}

.explorer {
  @include expand;

  @include explorer-defaults;

  justify-content: center;
  min-width: calc($primary-panel-min-width + $secondary-panel-min-width + $gap-width);
 }


.explorer-panel {

  &.primary {
    flex: 1 3 940px;
    max-width: 945px;
    min-width: $primary-panel-min-width;
  }

  &.primary-full {
    flex: 1 3 1040px;
    max-width: 100%;
    min-width: $primary-panel-min-width;
  }

  &.secondary {
    flex: 1 1 780px;
    max-width: 880px;
    min-width: $secondary-panel-min-width;
    margin-left: $gap-width;
  }

}
