@import "../../../../styles/general-styles";

:host {
  display: inline-flex;
  flex-flow: row nowrap;
  height: 16px;
}

ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 10pt;
}

li {
  padding-right: 24px;
  white-space: nowrap;
}

a, a:visited :not(.selected) {
  color: $white;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: $white;
  padding-bottom: 10px;
}

.disabled, .disabled:hover {
  color: $border-color-dark;
  cursor: default;
}

.selected {
  color: $white;
  padding-bottom: 10px;
  font-weight: 600 !important;
}
