<div class="editor-container editor-container-style">
  <div class="header">
    <div class="close-button right-position" (click)="onClose()">&times;</div>
    <div class="title">{{inboxItem.title}}</div>
  </div>
  <!--
  <div class="tab">   
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='closeTask'" (click)="setSelectedTask('closeTask')"><span [innerHTML]="concluededTaskLabel"> </span></button>
  </div>-->
  <div class="form-frame" [ngSwitch]="selectedTask">
    <task-editor *ngSwitchCase="'generalInfo'" [inboxItem]="inboxItem"></task-editor>
  </div>
</div>
