@import "../../../styles/editor-window-style";
@import "../../../styles/former-form-style";
:host {
  position: relative;
  top: 160px;
  left: 20%;
}

.editor-container {
  height: 700px;
  width: 760px;
}

.form-frame {
  height: calc(100% - 140px);
  overflow-y: auto;
}

.title {
  min-height: 30pt;
  max-height: 48pt;
  width: 80%;
}

.tab {
  margin-left: 20px;
  width: 700px;
}
