<div class="main-layout">

  <div class="top-bar"></div>

  <div class="nav-bar">

    <div class="left-section">

      <div class="sidenav-toggle">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </div>

      <img class="logo" src="assets/img/customer-logo-horizontal.png" alt="Talanza Energy Consulting" />

    </div>

    <emp-ng-main-menu class="main-menu"></emp-ng-main-menu>


    <div class="search-and-settings">

      <emp-ng-search-box (searchBoxChange)="search($event)"></emp-ng-search-box>

      <div><a (click)="toggleLanguage()">{{currentLanguage}}</a></div>

    </div>

    <div class="right-section">
      <mat-icon class="material-icons-outlined" (click)="onShowSettings()">account_circle</mat-icon>
    </div>

  </div>

  <mat-sidenav-container>

    <mat-sidenav class="side-bar" mode="side" #sidenav opened disableClose="true">
      <emp-ng-sidebar></emp-ng-sidebar>
    </mat-sidenav>

    <mat-sidenav class="right-bar" mode="side" #rightSidenav position="end">

    </mat-sidenav>

    <mat-sidenav-content class="content">

      <div [style.margin-left.px]="sidenav.opened ? 6 : 0">

        <div>
          <emp-ng-navigation-header (action)="onAction($event)"></emp-ng-navigation-header>
        </div>

        <div class="workarea">
          <router-outlet></router-outlet>
        </div>

      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>


  <footer class="footer"></footer>


</div>

<emp-ng-modal-window *ngIf="displayEditor"
                     [config]="{ width:'580px', height: '500px', disableClose: true }"
                     (modalWindowClose)="hideEditor()">
  <emp-ng-card title='Change your password' hint="Please fill out the following information" (cardClose)="hideEditor()">
    <emp-ng-change-password (formEvent)="hideEditor()"></emp-ng-change-password>
  </emp-ng-card>
</emp-ng-modal-window>
