@import "../../../../styles/general-styles";
.container {
  height: 540px;
}

table {
  width: 640px;
}

td.title-row {
  color: $red;
  border-bottom: 1px solid $red;
}

.footer {
  bottom: 0px;
  height: 42px;
  margin: 1px 1px 1px 1px;
  position: absolute;
  width: 99%;
}
