@import "../../../../styles/general-styles";
.container {
  height: 630px;
  color: #6a6a6a;
  font-weight: 300;
}

table {
  width: 640px;
}

td.title-row {
  color: $gray;
  border-bottom: 1px dotted $gray;
  padding-top: 8pt;
  padding-bottom: 4pt;
}

.footer {
  bottom: 0px;
  height: 42px;
  margin: 1px 1px 1px 1px;
  position: absolute;
  width: 99%;
}
