@import "../../../../styles/form";
@import "../../../../styles/grid";
table {
  width: 640px;
}

table.grid tbody {
  height: 130px;
}

table.grid td:nth-child(1), table.grid th:nth-child(1) {
  width: 5%;
  float: left;
}

table.grid td:nth-child(2), table.grid th:nth-child(2) {
  width: 30%;
  float: left;
}

table.grid td:nth-child(3), table.grid th:nth-child(3) {
  width: 10%;
  float: left;
}

table.grid td:nth-child(4), table.grid th:nth-child(4) {
  width: 15%;
  float: left;
}

table.grid td:nth-child(5), table.grid th:nth-child(5) {
  width: 15%;
  float: left;
}

table.grid td:nth-child(6), table.grid th:nth-child(6) {
  width: 15%;
  float: left;
}

table.grid td:nth-child(7), table.grid th:nth-child(7) {
  width: 10%;
  float: left;
}
