<div class="container form-container-text">
  <div *ngIf="isShowGrids">
    <table class="form">
      <tr>
        <td class="form-title form-title-text">Lista de Requerimientos</td>
        <td class="text-align-right">
          <button class="btn" (click)="addRequirement()">+Agregar requisito</button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <emp-gov-requirements-grid></emp-gov-requirements-grid>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="isShowGrids">
    <table class="form">
      <tr>
        <td class="form-title form-title-text">Lista de entregables por la autoridad</td>
        <td class="text-align-right">
          <button class="btn" (click)="addRequirementToList()">+Agregar entregable</button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table class="grid">
            <thead>
              <tr>
                <th>#</th>
                <th>Entregable</th>
                <th>Clave</th>
                <th>Forma de Entrega</th>
                <th>Tipo</th>
                <th>Ejemplo</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Comprobante de recepción del trámite</td>
                <td>e</td>
                <td>Manual</td>
                <td>Comprobante</td>
                <td>pdf</td>
                <td>eliminar <br> cambiar
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Oficio de autorización de pozos</td>
                <td>CAP-45</td>
                <td>eMail</td>
                <td>oficio</td>
                <td>pdf</td>
                <td>eliminar <br> cambiar
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Oficio de autorización de pozos</td>
                <td>CAP-45</td>
                <td>eMail</td>
                <td>oficio</td>
                <td>pdf</td>
                <td>eliminar <br> cambiar
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="isShowAddRequirementForm">
    <emp-gov-add-requirement-tab (isCanceled)="onCancelForm($event)"></emp-gov-add-requirement-tab>
  </div>
  <div *ngIf="isAddRequirementListForm">
    <emp-gov-add-requirement-list-tab (isCanceled)="onCancelForm($event)"></emp-gov-add-requirement-list-tab>
  </div>
</div>
