<div class="form-container-text">
  <div>
    <table class="form">
      <tr>
        <td colspan="2" class="form-title form-title-text">Agregar estado</td>
      </tr>
      <tr>
        <td>Estado actual:</td>
        <td><select style="width:200px;" [disabled]="disabled" class="select-box">
          <option value="">( Seleccionar el estado actual )</option>
          <option value="Completo">Completo</option>
          <option value="Incompleto">Incompleto</option>
          <option value="Pendiente">Pendiente</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="top">Observaciones del estado actual:</td>
        <td><textarea [disabled]="disabled" style="width:100%; " class="text-area" rows="12" cols="25"></textarea></td>
      </tr>

    </table>
  </div>
  <div class="form-footer">
    <table class="form">
      <tr>
        <td><button class="btn">Imprimir</button></td>
        <td class="text-align-center">
          <button class="btn" [disabled]="disabled" (click)="cancel()">Deshacer cambios</button>
        </td>
        <td *ngIf="disabled" class="text-align-right">
          <button class="btn" (click)="editProcedure()">Editar trámite</button>
        </td>
        <td *ngIf="!disabled" class="text-align-right">
          <button class="btn " (click)="saveProcedureChanges() ">Guardar cambios</button>
        </td>
      </tr>
    </table>
  </div>
</div>
