@import "../../../styles/editor-window-style";
@import "../../../styles/form";

.form-frame {
    height: calc(100% - 80px);
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 800px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }  
 
  