<div class="search-bar">
  <div class="search-control">
    <emp-ng-search-box (search)="search($event)"></emp-ng-search-box>
  </div>
  <a class="right" (click)="addMeeting()">+ Agregar reunión</a>
  <div class="filters-bar">
    <a [class.selected-filter]="filter === 'all'" (click)="onFilterBy('all')">Todos ({{openedMeetings.length + closedMeetings.length }})</a> |
    <a [class.selected-filter]="filter === 'opened'" (click)="onFilterBy('opened')">Abiertos ({{openedMeetings.length}})</a> |
    <a [class.selected-filter]="filter === 'closed'" (click)="onFilterBy('closed')">Cerrados ({{closedMeetings.length}})</a>
  </div>
</div>

<div  *ngIf="filter !== 'closed'">
  <span class="title" *ngIf="openedMeetings.length > 0">Reuniones abiertas</span>
  <ul>
    <ng-container *ngFor="let openedMeeting of openedMeetings">
      <li [class.selected]="openedMeeting.uid === selectedMeetingUid">
        <a (click)="onSelectMeeting(openedMeeting.uid)">{{openedMeeting.typeName}} {{openedMeeting.controlNo}}</a>
        <br>
        <span>{{openedMeeting.title}}</span>
        <br>
        <span class="meeting-info">Shell | {{openedMeeting.date | date: 'dd-MM-yyyy' }}  </span>
      </li>
    </ng-container>
  </ul>
</div>
<div *ngIf="filter !== 'opened'">
  <span class="title" *ngIf="closedMeetings.length > 0">Reuniones cerradas</span>
  <ul>
    <ng-container *ngFor="let closedMeeting of closedMeetings">
      <li [class.selected]="closedMeeting.uid === selectedMeetingUid">
        <a (click)= "onSelectMeeting(closedMeeting.uid)">{{closedMeeting.typeName}} {{closedMeeting.controlNo}}</a>
        <br>
        <span>{{closedMeeting.title}}</span>
        <br>
        <span class="meeting-info">Shell | {{closedMeeting.date | date: 'dd-MM-yyyy'}}</span>
      </li>
    </ng-container>
  </ul>
</div>
<div *ngIf="isOpenAddMeetingWindow">
  <emp-kb-add-meeting-modal-window
       (close)="isOpenAddMeetingWindow = false;loadMeetings()">
  </emp-kb-add-meeting-modal-window>
</div>
