<container [title]="'Bitácora'">
  <ul class="binnacle-list">
    <li><a href="www.ontica.org">Documento A terminado</a></li>
    <li><a href="">Aviso B enviado</a></li>
    <li><a href="">Pregunta X contestada</a></li>
    <li><a href="">Tarea 1234 concluida</a></li>
    <li><a href="www.ontica.org">Documento 67-R modificado</a></li>
    <li><a href="">Reporte TY567-R enviado</a></li>
    <li><a href="">Nueva versión de la LH 2018</a></li>
    <li><a href="">Conferencia de prensa SENER ENE-2018</a></li>
    <li><a href="www.ontica.org">Documento 67-R modificado</a></li>
    <li><a href="">Reporte TY567-R enviado</a></li>
    <li><a href="">Nueva versión de la LH 2018</a></li>
    <li><a href="">Conferencia de prsensa SENER ENE-2018</a></li>
  </ul>
</container>