<container [title]="'Chat'">
    <div class="chat-part-content">
        <span class="left-message"><i class="fa fa-user user-icon green-status" aria-hidden="true"></i> A
            <b>paragraph</b> of text with an<br>
            <a href="">unassigned link</a>
        </span><br>
        <div class="right-message">
            <i class="fa fa-user user-icon" aria-hidden="true"></i> A<b>paragraph</b> of text with an<br>
            <a href="">unassigned link</a>
        </div><br>
        <span class="left-message"><i class="fa fa-user user-icon green-status" aria-hidden="true"></i> A
            <b>paragraph</b> of text with an<br>
            <a href="">unassigned link</a>
        </span><br>
        <span class="right-message">
            <i class="fa fa-user user-icon" aria-hidden="true"></i> A<b>paragraph</b> of text with an<br>
            <a href="">unassigned link</a>
        </span><br>
        <span class="left-message"><i class="fa fa-user user-icon red-status" aria-hidden="true"></i> A
            <b>paragraph</b> of text with an<br>
            <a href="">unassigned link</a>
        </span><br>
        <span class="left-message"><i class="fa fa-user user-icon green-status" aria-hidden="true"></i> A
            <b>paragraph</b> of text with an<br>
            <a href="">unassigned link</a>
        </span><br>
        <div class="right-message">
            <i class="fa fa-user user-icon" aria-hidden="true"></i> A <b>paragraph</b> of text with an <br>
            <a href="">unassigned link</a>
        </div><br>
        <span class="left-message"><i class="fa fa-user user-icon green-status" aria-hidden="true"></i> A
            <b>paragraph</b> of text with an<br>
            <a href="">unassigned link</a>
        </span><br>
        <span class="right-message">
            <i class="fa fa-user user-icon" aria-hidden="true"></i> A<b>paragraph</b> of text with an<br>
            <a href="">unassigned link</a>
        </span><br>
        <span class="left-message"><i class="fa fa-user user-icon red-status" aria-hidden="true"></i> A
            <b>paragraph</b> of text with an<br>
            <a href="">unassigned link</a>
        </span>
    </div>
</container>
