<container [title]="'Novedades y tips'">
    <div class="news-part-content">
        <ul>
          <li><a href="www.ontica.org">Newsletter 74 Covar</a></li>
          <li><a href="">¿Sabes qué hacer en situaciones de emergencia?</a></li>
          <li><a href="">Nueva versión de la LH 2018</a></li>
          <li><a href="">Conferencia de prensa SENER ENE-2018</a></li>
          <li><a href="www.ontica.org">Newsletter 73 Covar</a></li>
          <li><a href="">¿Sabes qué hacer en situaciones de emergencia?</a></li>
          <li><a href="">Nueva versión de la LH 2018</a></li>
          <li><a href="">Conferencia de prensa SENER DIC-2017</a></li>
        </ul>
      </div>
</container>
