<container [title]="'Buscador integrado de información'">
    <div class="search-part-content">        
      <input type="text" placeholder="pozos">
      <i class="fa fa-search search-icon" aria-hidden="true"></i> <br><br>
      
      <ul class="horizontal-results-list">
        <li><a href="">Eventos (3) | </a></li>
        <li><a href="">Tareas(12) | </a></li>
        <li><a href="">Obligaciones (17) | </a></li>
        <li><a href="">Documentos (115) | </a></li>
        <li><a href="">Biblioteca (75)</a></li>
      </ul>    
      <br> <br>
      <ul class="search-part-option">
        <li><a href="www.ontica.org">Quiero construir un pozo</a></li>
        <li><a href="">Quiero taponear un pozo</a></li>
        <li><a href="">Quiero abandonar un pozo</a></li>
      </ul>
      <br><br>
    </div>
</container>

      