<container [title]="'Tareas pendientes (4)'">
    <div class="todo-list-part-content">
        <table>
            <tr>
                <td><div class="amber-status"><a href="">Reporte enero/2018 Contenido Nacional</a></div></td>
                <td><span class="todo-list-part-date">14/Feb/18</span></td>
            </tr>
            <tr>
                <td><div class="green-status"><a href=""> Documento X672-R EVIS</a></div></td>
                <td><span class="todo-list-part-date">21/Mar/18</span></td>
            </tr>
            <tr>
                <td><div class="green-status"><a href=""> Aviso sobre inicio de operaciones</a></div></td>
                <td><span class="todo-list-part-date">11/May/18</span></td>
            </tr>
            <tr>
                <td><div class="green-status"><a href=""> Ingresar solicitud de construcción de pozo</a></div></td>
                <td><span class="todo-list-part-date">11/Jun/18</span></td>
            </tr>
        </table>
        <i class="fa fa-plus-circle add-task-icon" aria-hidden="true"></i>
    </div>
</container>

      