@import "../../../styles/editor-window-style";
@import "../../../styles/form";
:host {
  position: relative;
  left: 20%;
}

.editor-container {
  height: 600px;
  width: 720px;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}
