<div class="card" [class.card-shadow]="!settings.flat">

  <div *ngIf="settings.showTitle" class="card-header">
    <div class="card-title">
      {{activity.name}}
      <div class="card-hint">Actividad en {{activity.project.name}}</div>
    </div>
    <div class="card-header-options">
      <i class="fa fa-times close-icon" aria-hidden="true" (click)="onClose()"></i>
    </div>
  </div>

  <mat-tab-group color="accent">

    <mat-tab label="Obligación">
      <activity-model-form [activity]="activity" [readonly]="settings.readonly"
                            (delete)="onDeleteActivity()" (update)="onUpdateActivity()"></activity-model-form>
    </mat-tab>

    <mat-tab label="Trámite" [disabled]="!hasProcedure">
      <procedure-viewer *ngIf="hasProcedure" [procedure]="procedure | async"></procedure-viewer>
    </mat-tab>

    <mat-tab label="Documentación" disabled>
        Documentation form
    </mat-tab>

    <mat-tab label="Comentarios Covar" disabled>
      Comments form
    </mat-tab>

  </mat-tab-group>

</div>
