<div class="card" [class.card-shadow]="!settings.flat">

  <div *ngIf="settings.showTitle" class="card-header">
    <div class="card-title">
      {{activity.name}}
      <div class="card-hint">Actividad en {{activity.project.name}}</div>
    </div>
    <div class="card-header-options">
      <i class="fa fa-times close-icon" aria-hidden="true" (click)="onClose()"></i>
    </div>
  </div>

  <mat-tab-group color="accent">

    <mat-tab label="Obligación">
      <emp-steps-activity-model-form
           [activity]="activity" [readonly]="settings.readonly"
           (delete)="onDeleteActivity()" (update)="onUpdateActivity()">
      </emp-steps-activity-model-form>
    </mat-tab>

    <mat-tab label="Trámite" [disabled]="!hasProcedure">
      <emp-gov-procedure-viewer *ngIf="hasProcedure"
           [procedure]="procedure | async">
      </emp-gov-procedure-viewer>
    </mat-tab>


    <mat-tab label="Asesoría Covar">
      <emp-kb-postings-list
           [target]="activity" [readonly]="settings.readonly">
      </emp-kb-postings-list>
    </mat-tab>

  </mat-tab-group>

</div>
