@import 'variables';
//
// Base HTML elements configuration
//

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $background-color;

  color: $text-color;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
