//
// Colors
//

$white: #ffffff !default;

$primary-color: #3dbab3 !default;
$primary-color-light: #9bdfdb !default;
$primary-color-dark: rgb(52, 126, 122) !default;

$secondary-color: #4d5055 !default;
$secondary-color-light: #edeef0 !default;
$secondary-color-semi-light: #929392 !default;
$secondary-color-dark: #4d5055 !default;

$warning-color: #e49a9a !default;
$warning-color-light: $warning-color;
$warning-color-dark: #d04f4f !default;

$title-color: $primary-color !default;
$text-color: $secondary-color !default;
$text-color-light: $secondary-color-dark !default;
$text-color-dark: $secondary-color-dark !default;

$background-color: #ffffff !default;

$border-color: #e8e8e8 !default;
$border-color-light: #edeef0 !default;
$border-color-dark: #909090!default;

$disabled-color: #edeef0 !default;

$secondary-text-color: $white !default;
$action-color: $primary-color;
$action-selected-color: $primary-color-dark;

$icon-color: #909090 !default;
$icon-color-light: #e8e8e8 !default;
$icon-color-dark: #606060 !default;


//
// Typography
//
$font-family: 'Work Sans', sans-serif !default;
$font-size-root: 10pt !default;
$font-size-base: 1.0rem !default;
$font-weight-base: 200 !default;
//
$font-size-title: $font-size-base * 1.25;
$font-weight-title: 500;

//
$font-size-command: $font-size-base * 0.85;
$font-weight-command: 300;
//
$font-size-hint: $font-size-base * 0.75;
$font-weight-hint: 300;
$text-bold: lighten($text-color, 3%);
$text-italic: italic;
//
// Elements colors
//
$selected-item-text-color: $text-color;

$link-color: $text-color;
//
// icons
//
$primary-icon-size: 16pt;

//
// form
//
$form-color: #6a6a6a;
$form-title-border: 1px dotted $border-color-dark;
$form-font-weight: 300;
$form-border-bottom: 1px solid $icon-color-light;
$form-title-color: $border-color-dark;
//
// html controls
//
$control-font: 9.5pt 'Work Sans', sans-serif !default;
$control-small-font: 8.5pt 'Work Sans', sans-serif !default;


$control-color: $secondary-color;
$control-background-color: #fdfdfd;
$control-border: 1px solid #dfdfdf;

$selected-control-background-color: #fafafa;
$selected-control-color: $secondary-color;
$selected-control-border: 1px solid #bababa;

$control-disabled-background: #f0f0f0;
$control-disabled-color: $secondary-color;

$control-width: 99%;
$control-height: 28px;

$button-color: #f8f8f8;
$button-selected-color: #e6e6e6;

$button-border: 0px solid #cecece;
$button-height: 28px;

//
// grid
//
$grid-border: none;
$grid-even-background-color: $white;
$grid-odd-background-color: #f4f4f4 !default;
$grid-selected-background-color: $disabled-color;
$grid-hover-background-color: $disabled-color;
