//
// Colors
//
$black: #1a1a1a !default;
$dark-gray: #606060!default;
$gray: #909090!default;
$light-gray: #e8e8e8 !default;
$brown: #604020 !default;
$dark-blue: #104070 !default;
$blue: #16599c !default;
$light-blue: #6ba1ff !default;
$green: #17c457 !default;
$dark-orange: #e68a00 !default;
$orange: #ffca99 !default;
$light-orange: #fff2e6 !default;
$purple: #A700AE !default;
$dark-red:#9b1b1f !default;
$red:#d04f4f !default;
$light-red: #e49a9a !default;
$white: #fefefe !default;
$light-white: white;

//
// Typography
//
$font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-root: 10pt !default;
$font-size-base: 1.0rem !default;
$font-weight-base: 200 !default;
$text-color: $dark-blue !default;
//
$font-size-title: $font-size-base * 1.25;
$font-weight-title: 500;
$text-title: $dark-blue !default;
//
$font-size-command: $font-size-base * 0.85;
$font-weight-command: 300;
//
$font-size-hint: $font-size-base * 0.75;
$font-weight-hint: 150;
$text-hint: $dark-red !default;
//
$text-bold: lighten($text-color, 3%);
$text-muted: $gray !default;
$text-italic: italic;
//
// Elements colors
//
$background-color: $white !default;
$secondary-color: $dark-red !default;
$secondary-text-color: $white !default;
$selected-item-text-color: $orange;

$link-color: $dark-blue;
//
// icons
//
$primary-icon-color: $light-blue;
$primary-icon-size: 16pt;
//
// editor-window
//
$editor-window-border: 1px solid #ccc;
$editor-window-background-color: $white;
//
// tabs
//
$tab-border: 1px solid #ccc;
$tab-background-color: #f1f1f1;
$tab-hover: #ddd;
$tab-selected: $orange;
$tab-font-size: 10px;
$tab-selected-background-color: $secondary-color;
//
// close-button
//
$close-button-color: $black;
$close-button-font-size: 28px;
$close-button-hover: $black;
//
// tab-form
//
$form-color: #6a6a6a;
$form-title-border: 1px dotted $gray;
$form-font-weight: 300;
$form-border-bottom:1px solid $black;
$form-title-color:$gray;
//
// html controls
//

$control-font: 9.5pt 'Segoe UI', Helvetica, Arial, sans-serif !default;
$control-small-font: 8.5pt 'Segoe UI', Helvetica, Arial, sans-serif !default;

$primary-color: #ff9900;
$primary-selected-color: #e67300;

$action-color: $light-blue;
$action-selected-color: $blue;

$warning-color: $light-red;
$warning-selected-color: $red;

$cancel-color: $light-orange;
$cancel-selected-color: $orange;

$control-border: 1px solid #d0d0d0;
$control-background-color: #fafafa;
$control-color: $text-title;
$control-width: 99%;
$control-disabled-color: $text-title;
$control-disabled-background: #e6e6e6;
$control-height: 26px;

$button-color: #f8f8f8;
$button-selected-color: #e6e6e6;

$button-border: 0px solid #cecece;
$button-height: 28px;

$selected-control-background-color: #fffffa;
$selected-control-color: $text-title;
$selected-control-border: 1px solid #c9c9c9;

//
// grid
//
$grid-border: none;
$grid-even-background-color: #fffffd;
$grid-odd-background-color: #eef7fa;
$grid-selected-background-color: $light-orange;
$grid-hover-background-color: #f6f6f6;
