@import '~@angular/material/theming';

@import 'covar.app.styles';


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// Also applies custom typography that allow use of angular material style classes in html items.
@include mat-core($covar-app-typography);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$covar-app-primary: mat-palette($mat-indigo, 700);
$covar-app-accent:  mat-palette($mat-red, 900, 300, 900);

// $covar-app-primary: mat-palette($mat-indigo);
// $covar-app-accent:  mat-palette($mat-orange);

// The warn palette is optional (defaults to red).
$covar-app-warn:  mat-palette($mat-red, 500);

// Create the theme object (a Sass map containing all of the palettes).
$covar-app-theme: mat-light-theme($covar-app-primary, $covar-app-accent, $covar-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($covar-app-theme);

// Apply custom typography to all angular material components.
@include angular-material-typography($covar-app-typography);
