@import "general-styles";

fieldset {
  border: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.7;
}

.form-container {
  padding: 0 10px 0 10px;
}


.form-footer {
  margin-top: 14px;
  border-top: 1px solid $light-gray;
}


.form-errors {
  color: $red;
  font-size: 10pt;
  padding: 8pt;
}


form.submitted .ng-invalid:not(form)  {
  border-left: 5px solid $red;
}


form.submitted .inline-error {
  color: $red;
  font-size: 10pt;
  font-weight: 400;
  padding: 8pt;
}


// ToDo: to be deprecated

table.form-section {
  margin-bottom: 12pt;
}

table.form-section td {
  color: $text-title;
  white-space: nowrap;
  vertical-align: text-top;
  font-size: 9pt;
}

table.form-section .top {
  vertical-align: top;
}

.form-container-text {
  color: $form-color;
  font-weight: $font-weight-command;
}

table.form-section .form-section-title {
  color: $form-title-color;
  border-bottom: $form-title-border;
  font: $control-font;
}

.border-top > td {
  border-top: 1px solid $light-gray;
}

.border-bottom {
  border-bottom: $form-border-bottom;
}
