@import "variables";


table {
  border: none;
  font-size: 10pt;
  font-weight: normal;
  margin-left: 1em;
}

table td {
  white-space: normal;
  padding: 4pt;
}

table td:last-child {
  width: 100%;
}

@mixin input-button-settings {
  font: $control-font;
  border-radius: 6px;
  border: $button-border;
  height: $button-height;
  min-width: 88px;
  padding: 4pt;
  white-space: nowrap;
}

.circled {
  border-radius: 50% !important;
  height: 2.0em !important;
  width: 2.0em !important;
  font-size: 1.25em !important;
  box-shadow: 1px 2px 2px #bbb;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

button.btn {
  @include input-button-settings;
  background-color: $button-color;
  border: $control-border;
  color: $text-color;
}

button.btn:hover {
  background-color: $button-selected-color;
  color: $dark-blue;
  transition: 0.3s ease-out;
}

button.btn-primary {
  @include  input-button-settings;
  background-color: $primary-color;
  color: $white;
}

button.btn-primary:hover {
  background-color: $primary-selected-color;
  transition: 0.3s ease-out;
}

button.btn-action {
  @include  input-button-settings;
  background-color: $action-color;
  color: $white;
}

button.btn-action:hover {
  background-color: $action-selected-color;
  transition: 0.3s ease-out;
}

button.btn-cancel {
  @include input-button-settings;
  background-color: $cancel-color;
  color: $control-color;
  border: 1px solid #cecece;
}

button.btn-cancel:hover {
  background-color: $cancel-selected-color;
  transition: 0.3s ease-out;
}

button.btn-warning {
  @include input-button-settings;
  background-color: $warning-color;
  color: $white;
}

button.btn-warning:hover {
  background-color: $warning-selected-color;
  transition: 0.3s ease-out;
}

button.btn-margin-right {
  margin-right: 32px;
}

@mixin input-settings {
  background-color: $control-background-color;
  border-top: $control-border;
  border-bottom: $control-border;
  border-left: $control-border;
  border-right: $control-border;
  color: $control-color;
  font: $control-font;
  font-weight: normal;
  margin: 2px 8px 2px 0;
  padding: 2px 2px 2px 6px;
  vertical-align: middle;

  height: $control-height;
  width: $control-width;

  border-radius: 2px;
  transition: 0.3s ease-out;

}

@mixin disabled-element {
  color: $control-disabled-color;
  background: $control-disabled-background;
}

fieldset {
  border: none;
}

select.select-box {
  @include input-settings;
}

select.select-warning {
  @include input-settings;
  background-color: $warning-color;
}

input.search-box {
  @include input-settings;
  /*background-image: url('../../../assets/icon/search-icon.png');
  background-position: 3px 3px;
  background-repeat: no-repeat;
  padding-left: 20px;*/
}

input.text-box {
  @include input-settings;
}

input:focus {
  outline: none;
  color: $selected-control-color;
  background-color: $selected-control-background-color;
  border: $selected-control-border;
}

select:focus {
  outline: none;
  color: $selected-control-color;
  background-color: $selected-control-background-color;
  border: $selected-control-border;
}

textarea:focus {
  outline: none;
  color: $selected-control-color;
  background-color: $selected-control-background-color;
  border: $selected-control-border;
  border-radius: 10px;
  box-shadow: inset 0 0 2px $selected-control-border;
}

.input-icon {
  position: absolute;
  right: 14px;
  top: calc(50% - 0.4em);
  color: $gray;
}

.input-icon:hover {
  color: $blue;
  cursor: pointer;
}

.text-area {
  background-color: $control-background-color;
  border-top: $control-border;
  border-bottom: $control-border;
  border-left: $control-border;
  border-right: $control-border;
  color: $control-color;
  font: $control-font;
  font-weight: normal;
  margin: 2px 8px 2px 0;
  padding: 2px 2px 2px 6px;
  vertical-align: middle;

  min-height: $control-height;
  width: $control-width;

  border-radius: 2px;
  transition: 0.3s ease-out;

  resize: vertical;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.small-italic-notification {
  font: $control-small-font;
  font-weight: $text-bold;
  font-style: $text-italic;
}

a {
  color: $link-color;
}

a:hover {
  color: $selected-item-text-color;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.popup {
  z-index: 1;
}

textarea:disabled {
  @include disabled-element;
}

input[type=text]:disabled {
  @include disabled-element;
}

input[type=number]:disabled {
  @include disabled-element;
}

select:disabled {
  @include disabled-element;
}

button:disabled {
  @include disabled-element();
}

.main-icon a {
  color: $primary-icon-color;
  font-size: $primary-icon-size;
  padding-right: 6pt;
}

.main-icon a {
  color: $primary-icon-color;
}

.main-icon a:hover {
  color: $selected-item-text-color;
}

.term-definition {
  border-bottom: 1px double $primary-icon-color;
  cursor: pointer;
}

.tag {
  background-color: $purple;
  border-radius: 8px;
  color: white;
  padding: 4px 4px 4px 8px;
}

.tag i {
  padding-left: 4px;
  color: white;
  padding-right: 4px;
}

.tag i:hover {
  color: $orange;
}
