@import "general-styles";


.list-header {
  @include row;
  justify-content: space-between;
  font-size: 8pt;
  width: 100%;

  margin-left: 4pt;
  padding: 4pt 16pt 4pt 8pt;
  border-bottom: 1pt solid $primary-color-light;
}


.list-item {
  @include row;

  align-items: flex-start;

  background-color: $grid-even-background-color;
  border-bottom: 1px $border-color solid;
  min-height: 38px;
  padding: 8px;
  font-size: 8pt;
}


.list-item:hover {
  .ghost-icon {
    color: $icon-color;
  }
}


.list-item-selected {
  background-color: $grid-selected-background-color;
}


.list-item-container {
  margin-left: 4pt;
  padding: 4pt 8pt 8pt 8pt;
  width: 100%;
  font-size: 8pt;
}

.list-item-columns {
  @include row;
  justify-content: space-between;
  font-size: 8pt;
  width: 100%;
}

.column {
  padding-right: 36px;
}


.right-column {
  justify-content: flex-end;
  padding-right: 8pt;
  text-align: right;
}


.list-item-group-name {
  vertical-align: -webkit-baseline-bottom;
  font-size: 11pt;
  font-weight: 500;
  margin-top: 36px;
  margin-bottom: 2px;
  padding-left: 8px;
}


.item-name {
  vertical-align: -webkit-baseline-middle;

  font-size: 9pt;
  font-weight: 400;
}


.item-name a:hover {
  text-decoration: underline;
}
