@import "../../../styles/general-styles";
.container {  
  min-width: 100px; 
}

i {
  color: $orange;
  font-size: 36px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-top: 0;
  margin-bottom: 0;
}

li:hover {
  color: $white;
  background-color: #1E90FF;
}

.items-div {
  position: absolute;
  min-height: 100px;
  overflow: auto;
  @include input-settings;
  width: 160px;
  z-index: 2;
  border-radius: 5px;
  -moz-box-shadow: inset -3px -3px $control-border;
  -webkit-box-shadow: inset -3px -3px $control-border;
  box-shadow: inset -3px -3px $control-border;
  
}

.selected-div {
  border-bottom: 1px solid $orange; 
  font-family: $control-font;
  font-size: $font-size-hint;
  color: $blue;
  font-weight: 600; 
}


