<i class="fa fa-plus-circle" aria-hidden="true" (click)="onClick()"></i>
<div class="container">
  <div class="items-div" *ngIf="visible">
     <ul *ngFor="let item of items">
       <li  (click)="onSelectItem(item)">
         {{item}}
       </li>
     </ul>
  </div>
</div>

<div [ngSwitch]="selectedItem">

  <emp-kb-add-faq-modal-window *ngSwitchCase="'FAQ'"
      (close)="onSelectItem('')">
  </emp-kb-add-faq-modal-window>

  <emp-kb-add-meeting-modal-window *ngSwitchCase="'Ticket'"
      (close)="onSelectItem('')">
  </emp-kb-add-meeting-modal-window>

</div>
