@import "../../../styles/variables";
//
// Main layout scss
//
.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header-container {
  display: inline-flex;
  flex-wrap: nowrap;
  top: 0;
  div {
    margin: 8px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 8px;
  height: 100vh;
}

//
// Header-container inner items
//
.logo {
  height: 60px;
  margin-right: 14px;
}

.title {
  color: $text-title;
  font-size: $font-size-title;
  font-weight: $font-weight-title;
  min-width: 360px;
  padding-top: 7px;
  width: 40%;
  small {
    color: $text-hint;
    display: block;
    font-size: $font-size-hint;
    font-weight: $font-weight-hint;
  }
  
}

.search-bar { 
  font-size: $font-size-command;
  font-weight: $font-weight-command;
  width: 300px;
}
