<div class="main-layout">

  <div class="top-bar"></div>

  <div class="nav-bar">

    <div class="left-section">

      <div class="sidenav-toggle">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </div>

      <img class="logo" src="assets/img/customer-logo-horizontal.png" alt="Talanza Energy Consulting" />

    </div>

    <emp-ng-main-menu class="main-menu"></emp-ng-main-menu>


    <div class="search-and-settings">

      <emp-ng-search-box (search)="search($event)"></emp-ng-search-box>

      <!-- <div>
        <i class="fa fa-bell disabled" aria-hidden="true"></i>
      </div> -->

    </div>

    <div></div>
    <div></div>

  </div>

  <mat-sidenav-container>

    <mat-sidenav class="side-bar" mode="side" #sidenav opened disableClose="true">

    </mat-sidenav>

    <mat-sidenav class="right-bar" mode="side" #rightSidenav position="end">

    </mat-sidenav>

    <mat-sidenav-content>

      <div class="content" [style.margin-left.px]="sidenav.opened ? 6 : 0">

        <emp-ng-navigation-header [layoutType]="layoutType"
                                  (action)="onAction($event)">
        </emp-ng-navigation-header>

        <div class="workarea">
          <router-outlet></router-outlet>
        </div>

      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>


  <footer class="footer"></footer>

</div>
