<div class="body">

  <div class="header-container">
    <div>
      <img class="logo" src="./assets/img/customer-logo.png" alt="COVAR Energy Consulting" />
    </div>
    <div class="title">
      {{title}}
      <small>{{breadcrumb}}</small>
    </div>
    <div class="configuration-bar">      
      <search-control (onSearch)="globalSearch($event)"></search-control>          
    </div>
    <div style="margin-left: 72px">
      <global-add></global-add>
    </div>
    
    
  </div>
  
  <div class="content">
    <div [hidden]="isGlobalSearchVisible">
      <navbar></navbar>
      <router-outlet></router-outlet>
    </div>
    <div [hidden]="!isGlobalSearchVisible">     
      <global-search [keywords]="keywords" (onClose)="hideGlobalSearch()"></global-search>    
    </div>    
  </div>

</div>
