@import "../../../styles/general-styles";


.main-layout {
  @include column;

  height: 100%;

  margin: 0;
}


mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  @include expand;

  overflow: hidden;
}


.top-bar {
  display: none;

  color: $text-color-dark;
  padding: $margin-size;
  height: 35px;
}


.nav-bar {
  @include row;

  min-height: 52px;
  overflow: visible;

  justify-content: space-between;
  align-items: flex-start;

  color: $text-color-dark;

  .left-section {
    @include row;

    width: auto;
    align-items: center;

    > * {
      margin-right: 16px;
    }
  }

  .search-and-settings {
    @include row;

    width: auto;
    align-items: center;
    margin-top: 8px;

    > * {
      margin-left: 32px;
    }
  }

  .logo {
    @include small-hide;

    height: 35px;
    margin-left: 15px;
  }

  .main-menu {
    margin-left: 30px;
    margin-top: 12px;
  }

}


.content {
  @include column;
}


.workarea {
  @include expand;
}


.side-bar {
  background-color: $secondary-color;
  color: $white;
  font-size: 10pt;

  padding: 24px 12px;
  width: 250px;
}


.sidenav-toggle {
  background-color: #EDEEF0;
  height: 52px;
  margin: 0;
  padding: 8px;
  padding-top: 12px;
}


.right-bar {
  display: none;

  background-color: $primary-color;

  width: 200px;
}


.footer {
  display: none;
  height: 40px;

  padding: $margin-size;
  border-top: 1px inset $border-color-light;
}
