@import "../../../../../styles/table";
@import "../../../../../styles/former-form-style";

table.table {
  width: 90%;
  font-size: 10pt;
  margin-left: 15pt;
  font-size: 10pt;
}

.menu-icon {
  color: $primary-icon-color;
  cursor: pointer;
  font-size: 12pt;
}

table.form {
  width: 540px;
}
