<table class="table">
  <tr>
    <td style="width:56%">Adjuntar documentos </td>
    <td class="text-align-right">
      <button class="btn"><label>+Agregar<input type="file" style="display: none" file-handler #file (change)="getSelectedFile(file.files)" >
                          </label>
      </button>
    </td>
  </tr>
</table>
<br>
<table class="table" *ngIf="files.length > 0">
  <tr>
    <td style="width:56%">Nombre</td>
    <td style="width:14%">Tamaño</td>
    <td style="width:20%">Tipo</td>
    <td style="width:10%">opciones</td>
  </tr>
  <tr *ngFor="let file of files">
    <td>{{file.name}} </td>
    <td>{{file.size /1024 | number : '1.1'}} KB</td>
    <td>{{file.type}}</td>
    <td class="menu-icon">
      <i class="fa fa-upload" (click)="onAttch()" aria-hidden="true" title="Adjuntar documento"></i> &nbsp; &nbsp;
      <i class="fa fa-trash" (click)="onAssign()" aria-hidden="true" title="Asignar tarea"></i></td>
  </tr>
</table>
