<table class="grid" *ngIf="FAQs.length > 0">
    <thead>
        <tr>
            <th style="width:20pt"></th>
            <th style='width:60%' i18n>Question</th>
            <th style='width:35%' i18n>Submitted date / status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let faq of FAQs" [class.selected-row]="selectedFAQUID === faq.uid">
            <td class="main-icon">
                <a (click)="selectFAQ(faq.uid)">
                    <i class="fa fa-question" aria-hidden="true"></i>
                </a>
            </td>
            <td style='width:60%'>
                <a (click)="selectFAQ(faq.uid)">{{faq.title}}</a>
                <br/> {{faq.accessMode}}
            </td>
            <td style='width:35%'>
                {{faq.date | date: 'dd-MM-yyyy'}}
                <br/> {{faq.owner}}
                <br/> {{faq.status}}
            </td>
        </tr>
    </tbody>
</table>
