<div class="form">

  <div class="form-section-title">
    Step 1) Please complete the following information
  </div>

  <div class="form-section-title">
    Step 2) Download the file template filled out with the last information
  </div>

  <div class="form-section-title">
    Step 3) Upload the file with the completed information
  </div>

  <div class="form-section-title">
    Step 4) Validate the uploaded file
  </div>


  <div class="form-section-title">
    Step 5) Please update the following information
  </div>

  <div class="form-section-title">
    Step 6) Mark as completed
  </div>

</div>
