<div class="explorer"
     [class.remove-min-width]="!displayEditor">

  <div class="explorer-panel primary">

    <ng-container *ngIf="currentView.name === 'Steps.All'">
      <emp-steps-list
          [stepsList]="stepsList"
          stepsListEvent
          (stepsListEvent)="onStepsListEvent($event)">
      </emp-steps-list>
    </ng-container>

    <ng-container *ngIf="currentView.name === 'Steps.Documentation'">
       <!-- Process documentation store -->
    </ng-container>

  </div>

  <div *ngIf="displayEditor" class="explorer-panel secondary">
    <emp-steps-designer
        [step]="selectedStep"
        (stepsDesignerEvent)="onStepsDesignerEvent($event)">
    </emp-steps-designer>
  </div>

</div>
