<div class="explorer"
     [class.remove-min-width]="!displayEditor">

  <div class="explorer-panel primary">

    <emp-steps-activity-tree
         [templateDesignerMode]="true"
         [project]="selectedTemplate"
         (edited)="onActivityTreeEdited($event)"
         (activitySelected)="showEditor($event)">
    </emp-steps-activity-tree>

  </div>

  <div *ngIf="displayEditor" class="explorer-panel secondary">

    <emp-steps-activity-designer [activity]="selectedActivity"
                                 (update)="onActivityUpdated($event)"
                                 (close)="onEditorClosed()">
    </emp-steps-activity-designer>

  </div>

</div>
