@import "../../../styles/grid";
.main-container {
  float: left;
  outline: none;
  padding: 0;
  vertical-align: top;
  margin-left: 20px;
  margin-right: 30px;
}

.left-panel {
  display: inline-block;
  vertical-align: top;
  padding-right: 40pt;
}

.right-panel {
  display: inline-block;
  vertical-align: top;
  width: 35%;
}

.procedure-info {
  display: inline-block;
  width: 90%;
}

table.grid td:nth-child(1), table.grid th:nth-child(1) {
  width: 90%;
}

table.grid tbody tr {
  height: auto;
  display: block;
  overflow: inline;
}

table.grid td {
  padding: 8pt;
}

.clause-title {
  font-size: 14pt;
  color: $blue;
  font-weight: 600;
  padding: 6pt;
  line-height: 22pt;
}

.clause-subtitle {
  font-size: 10pt;
  color: $blue;
  font-weight: 500;
}

.marked-text {
  font-size: 10pt;
  color: $red;
}
