<div>
  <div class="clause-title"> &nbsp; &nbsp;{{clause.clauseNo}} {{clause.title}}</div>
  <div class="main-container">
    <div class="left-panel" [style.width]="clauseInfoWidth">
      <clause-definition [clause]="clause"></clause-definition>
    </div>
    <div class="right-panel" *ngIf="rules.length !== 0">
      <div>
        <span class="clause-subtitle">
            <i class="fa fa-file-text-o" aria-hidden="true"></i> Obligaciones
        </span>
        <span class="right marked-text">
          + Agregar a un proyecto regulatorio
        </span>
      </div>
      <div *ngFor="let rule of rules">
        <table class="grid" style='max-width:600pt;'>
          <thead>
            <tr>
              <th>
                <input type="checkbox"> {{rule.name}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span>{{rule.description}}</span><br/><br/>
                <span class='marked-text' *ngIf="rule.procedures.length !== 0">+ Trámites de la obligación</span>
              </td>
            </tr>
            <tr *ngFor="let procedure of rule.procedures">
              <td style='margin-left:10px'>
                <input type="checkbox">
                <a (click)="onSelectedProcedure(procedure.uid)">{{procedure.name}}</a><br>
                <span *ngIf="procedure.code !== 'No disponible'">{{procedure.code}}</span>
                <span *ngIf="procedure.code === 'No disponible'">{{procedure.entity}}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
      <!--
      <div>
        <table class="grid" *ngIf="clause.relatedProcedures.length !== 0" style='max-width:600pt;'>
          <thead>
            <tr>
              <th>Trámite / Homoclave / Dependencia</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let relatedProcedure of clause.relatedProcedures">
              <td>
                <a (click)="onSelectedProcedure(relatedProcedure.procedure.uid)">{{relatedProcedure.procedure.name}}</a><br>
                <span *ngIf="relatedProcedure.procedure.code != 'No disponible'">{{relatedProcedure.procedure.code}}<br></span>
                <span>{{relatedProcedure.procedure.entity}}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <br /><br /><br /><br />
      </div>
      !-->
    </div>
  </div>
  <div class="procedure-info" *ngIf="isVisibleProcedureInfo">
    <procedure-viewer [procedureUID]="procedureUID" (onCloseEvent)="onCloseProcedureInfoModal()"></procedure-viewer>
  </div>
</div>
