<div>
  <div class="clause-title"> &nbsp; &nbsp;{{clause.clauseNo}} {{clause.title}}</div>
  <div class="main-container">
    <div class="left-panel" [style.width]="clauseInfoWidth">
      <div class="clause-definition" [innerHTML]="clause.hypertext | safeHtml ">
      </div>
    </div>
    <div class="right-panel">
      <div>
        <table class="grid" *ngIf="relatedProcedures.length !== 0" style='max-width:600pt;'>
          <thead>
            <tr>
              <th>Trámite / Homoclave / Dependencia </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let relatedProcedure of relatedProcedures">
              <td>
                <a (click)="onSelectedProcedure(relatedProcedure.procedure.uid)">{{relatedProcedure.procedure.name}}</a><br>
                <u>{{relatedProcedure.procedure.code}}</u> <br>
                <strong>{{relatedProcedure.procedure.entity}}</strong>
              </td>
            </tr>
          </tbody>
        </table>
        <br /><br /><br /><br />
      </div>
    </div>
  </div>
  <div class="procedure-info" *ngIf="isVisibleProcedureInfo">
    <procedure-viewer [procedureUID]="procedureUID" (onCloseEvent)="onCloseProcedureInfoModal()"></procedure-viewer>
  </div>
</div>
