<div>
  <div class="clause-title"> &nbsp; &nbsp;{{clause.clauseNo}} {{clause.title}}</div>
  <div class="main-container">
    <div class="left-panel" [style.width]="clauseInfoWidth">
      <div class="clause-definition" [innerHTML]="clause.hypertext | safeHtml ">
      </div>
    </div>
    <div class="right-panel">
      <div>
        <table class="grid" *ngIf="rules.length !== 0" style='max-width:600pt;'>
          <thead>
            <tr>
              <th>Obligaciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rule of rules">
              <td>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <a>{{rule.name}}</a><br/>
                <span>{{rule.description}}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
      <div>
        <table class="grid" *ngIf="clause.relatedProcedures.length !== 0" style='max-width:600pt;'>
          <thead>
            <tr>
              <th>Trámite / Homoclave / Dependencia</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let relatedProcedure of clause.relatedProcedures">
              <td>
                <a (click)="onSelectedProcedure(relatedProcedure.procedure.uid)">{{relatedProcedure.procedure.name}}</a><br>
                <span *ngIf="relatedProcedure.procedure.code != 'No disponible'">{{relatedProcedure.procedure.code}}<br></span>
                <span>{{relatedProcedure.procedure.entity}}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <br /><br /><br /><br />
      </div>
    </div>
  </div>
  <div class="procedure-info" *ngIf="isVisibleProcedureInfo">
    <procedure-viewer [procedureUID]="procedureUID" (onCloseEvent)="onCloseProcedureInfoModal()"></procedure-viewer>
  </div>
</div>
