@import "../../../styles/general-styles";

.search-control {
  min-width: 180px;
  max-width: 300px;
  position: relative;
}

.search-control input {
  border-radius: 8px;
  padding-left: 8px;
  transition: 0.5s ease-out;
  height: 32px;
}
