@import "../../../styles/general-styles";

.search-control {
  min-width: 240px;
  position: relative;
}

.search-control input {
  border-radius: 6px;
  padding-left: 8px;
  transition: 0.5s ease-out;
  height: 30px;
}
