<div class="nav-bar">
  <ul>
    <li class="first-li"><a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Inicio</a></li>
    <li class="selected"><a [routerLink]="['/process-definition']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Procesos</a></li>
    <li>Implementación</li>
    <li>Ejecución</li>
    <li class="disabled">Monitoreo</li>
    <li class="disabled">Optimización</li>
    <li class="disabled">Consultas</li>
  </ul>
</div>
