<div class="nav-bar">
  <ul>
    <!--
    <li class="first-li disabled">Inicio</li>
    -->
    <!-- <li class="selected"><a [routerLink]="['/worklists/search']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Bandeja de tareas</a></li>-->

    <li class="selected"><a [routerLink]="['/projects/search']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Cumplimiento regulatorio</a></li>
    <li class="selected"><a [routerLink]="['/documents/search']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Documentos</a></li>
    <li class="selected"><a [routerLink]="['/contracts/search']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Contratos</a></li>
    <li class="selected"><a [routerLink]="['/procedures/search']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Trámites</a></li>
    <li class="selected"><a [routerLink]="['/process/editor']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Procesos</a></li>
    <!--    
    <li class="selected"><a [routerLink]="['/manager/layout']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">New</a></li>
    <li class="selected"><a [routerLink]="['/smoke-tests']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">st</a></li>
    -->
  </ul>
</div>
