<div>

  <div class="main-container">

    <div class="left-panel" [style.width]="clauseInfoWidth">

      <div class="clause-title">
        {{clause.clauseNo}} {{clause.title}}
      </div>

      <div class="clause-definition"
           [innerHTML]="clause.hypertext | safeHtml">
      </div>

    </div>

    <div *ngIf="obligations.length !== 0" class="right-panel">
      <div class="clause-subtitle" i18n>
        Obligations
      </div>

      <div *ngFor="let obligation of obligations" class="obligation">
        <div>
          <a class="obligation-title" (click)="onSelectObligation(obligation)">{{obligation.name}}</a>
        </div>
        <div>{{obligation.legalBasis}}</div>
      </div>

      <br><br><br><br><br>
      <br><br><br><br><br>
    </div>
  </div>

  <emp-ng-modal-window *ngIf="selectedObligation" [config]="{ width:'1000px', height:'90%', disableClose: true }"
                        (modalWindowClose)="closeModalWindow()">
    <emp-steps-activity-designer
        [activityTemplate]="selectedProcess | async"
        [settings]="modalSettings"
        (activityDesignerClose)="closeModalWindow()">
    </emp-steps-activity-designer>
  </emp-ng-modal-window>

</div>
