<div class="card">

  <div class="card-header card-header-flat">

    <div class="card-title">
      {{contractName}}
      <div class="card-hint" i18n>Gantt Chart</div>
    </div>

    <div class="card-header-options">
        <label i18n>Scale:</label> {{scaleName()}}
        <button mat-icon-button [matMenuTriggerFor]="menu2" class="menu-trigger-icon">
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="onChangeScale('year')">Annual</button>
            <button mat-menu-item (click)="onChangeScale('quarter')">Quarterly</button>
            <button mat-menu-item (click)="onChangeScale('month')">Monthly</button>
            <button mat-menu-item (click)="onChangeScale('week')">Weekly</button>
        </mat-menu>

      <div style="width:38px"></div>

      <button type="button" class="btn disabled"
              (click)="onSearch()" i18n>Search</button>
    </div>

  </div>

  <div>
    <emp-steps-dhtmlx-gantt
      [tasks]="tasks"
      [timeScaleUnit]="timeScaleUnit"
      [reset]="reset"
      (activitySelect)="onActivitySelected($event)">
    </emp-steps-dhtmlx-gantt>

  </div>

</div>
