<div class="home-main-container">
  <div class="home-left-container">
    <div class="search-container">
      <load-dynamic-component [name]="'SearchPartComponent'"></load-dynamic-component>      
    </div>
    <div class="footer-contaner">
      <div class="binnacle-container">          
          <load-dynamic-component [name]="'BinnaclePartComponent'"></load-dynamic-component>
      </div>
      <div class="chat-container">
        <load-dynamic-component [name]="'ChatPartComponent'"></load-dynamic-component>        
      </div>
    </div>
  </div>
  <div class="home-right-container">
    <div class="project-status-container">
      <load-dynamic-component [name]="'ProjectsStatusPartComponent'"></load-dynamic-component>      
    </div>
    <div class="todo-list-container">
      <load-dynamic-component [name]="'TodoListPartComponent'"></load-dynamic-component>      
    </div>
    <div class="news-tips-container">
      <load-dynamic-component [name]="'NewsPartComponent'"></load-dynamic-component>     
    </div>
  </div>
</div>
