<div class="home-main-container">
  <div class="home-left-container">
    <div class="search-container">
      <div class="header">Buscador integrado de información</div>
      <div class="content">
        <div class="search">
          <input type="text" placeholder="pozos">
          <i class="fa fa-search search-icon" aria-hidden="true"></i> <br><br>
          <div>
            <ul class="horizontal-results-list">
              <li><a href="">Eventos (3) | </a></li>
              <li><a href="">Tareas(12) | </a></li>
              <li><a href="">Obligaciones (17) | </a></li>
              <li><a href="">Documentos (115) | </a></li>
              <li><a href="">Biblioteca (75)</a></li>
            </ul>
          </div>
          <br> <br>
          <ul>
            <li>
              <a href="www.ontica.org">Quiero construir un pozo</a>
            </li>
            <li>
              <a href="">Quiero taponear un pozo</a>
            </li>
            <li>
              <a href="">Quiero abandonar un pozo</a>
            </li>
          </ul>
        </div><br><br>
      </div>
    </div>
    <div class="footer-contaner">
      <div class="binnacle-container">
          <binnacle-part></binnacle-part>
      </div>
      <div class="chat-container">
        <chat-part></chat-part>
      </div>
    </div>
  </div>
  <div class="home-right-container">
    <div class="project-status-container">
      <projects-status-part></projects-status-part>
    </div>
    <div class="todo-list-container">
      <todo-list-part></todo-list-part>
    </div>
    <div class="news-tips-container">
     <news-part></news-part>
    </div>
  </div>
</div>
