<div class="home-main-container">
    <div class="home-left-container">
        <div class="search-container">
            <div class="header">Pregúntame</div>
            <div class="content">
                <div class="search">
                    <input type="text" placeholder="pozos">
                    <i class="fa fa-search search-icon" aria-hidden="true"></i> <br><br>
                    <div>
                        <ul class="horizontal-results-list">
                            <li><a href="">Eventos (3) |</a></li>
                            <li><a href="">Tareas(12) |</a></li>
                            <li><a href="">Oblicaciones (17) |</a></li>
                            <li><a href="">Documentos (115) |</a></li>
                            <li><a href="">Biblioteca (75) |</a></li>
                        </ul>
                    </div>
                    <br> <br>
                    <ul>
                        <li>
                            <a href="www.ontica.org">Quiero construir un pozo</a>
                        </li>
                        <li>
                            <a href="">Quiero taponear un pozo</a>
                        </li>
                        <li>
                            <a href="">Quiero abandonar un pozo</a>
                        </li>
                    </ul>
                </div><br><br>
            </div>
        </div>
        <div class="footer-contaner">
            <div class="binnacle-container">
                <div class="header">Bitácora</div>
                <div class="to-do-list">
                    <ul>
                        <li><a href="www.ontica.org">Documento A terminado</a></li>
                        <li><a href="">Aviso B envidado</a></li>
                        <li><a href="">Pregunta X contestada</a></li>
                        <li><a href="">Tarea 1234 concluida</a></li>
                        <li><a href="www.ontica.org">Documento 67-R modificado</a></li>
                        <li><a href="">Reporte TY567-R enviado</a></li>
                        <li><a href="">Nueva versión de la LH 2018</a></li>
                        <li><a href="">Conferencía de prsensa SENER ENE-2018</a></li>
                        <li><a href="www.ontica.org">Documento 67-R modificado</a></li>
                        <li><a href="">Reporte TY567-R enviado</a></li>
                        <li><a href="">Nueva versión de la LH 2018</a></li>
                        <li><a href="">Conferencía de prsensa SENER ENE-2018</a></li>
                    </ul>
                </div>
            </div>
            <div class="chat-container">
                <div class="header">Chat</div>
                <div class="chat-box">
                    <span class="left-message"><i class="fa fa-user user-icon green-status" aria-hidden="true"></i> A
                        <b>paragraph</b> of text with an<br>
                        <a href="">unassigned link</a>
                    </span><br>
                    <div class="right-message">
                        <i class="fa fa-user user-icon" aria-hidden="true"></i> A<b>paragraph</b> of text with an<br>
                        <a href="">unassigned link</a>
                    </div><br>
                    <span class="left-message"><i class="fa fa-user user-icon green-status" aria-hidden="true"></i> A
                        <b>paragraph</b> of text with an<br>
                        <a href="">unassigned link</a>
                    </span><br>
                    <span class="right-message">
                            <i class="fa fa-user user-icon" aria-hidden="true"></i> A<b>paragraph</b> of text with an<br>
                        <a href="">unassigned link</a>
                    </span><br>
                    <span class="left-message"><i class="fa fa-user user-icon red-status" aria-hidden="true"></i> A
                        <b>paragraph</b> of text with an<br>
                        <a href="">unassigned link</a>
                    </span><br>
                    <span class="left-message"><i class="fa fa-user user-icon green-status" aria-hidden="true"></i> A
                        <b>paragraph</b> of text with an<br>
                        <a href="">unassigned link</a>
                    </span><br>
                    <div class="right-message">
                            <i class="fa fa-user user-icon" aria-hidden="true"></i> A <b>paragraph</b> of text with an <br>
                        <a href="">unassigned link</a>
                    </div><br>
                    <span class="left-message"><i class="fa fa-user user-icon green-status" aria-hidden="true"></i> A
                        <b>paragraph</b> of text with an<br>
                        <a href="">unassigned link</a>
                    </span><br>
                    <span class="right-message">
                        <i class="fa fa-user user-icon" aria-hidden="true"></i> A<b>paragraph</b> of text with an<br>
                        <a href="">unassigned link</a>
                    </span><br>
                    <span class="left-message"><i class="fa fa-user user-icon red-status" aria-hidden="true"></i> A
                        <b>paragraph</b> of text with an<br>
                        <a href="">unassigned link</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="home-right-container">
        <div class="project-status-container">
            <div class="header">Proyectos Regulatorios</div>
            <div class="projects-box-content"><i class="fa fa-check fa-5x green-status" aria-hidden="true"></i><br>
                <span class="projects-status-label">Todos los proyectos<br> marchan bien</span>
            </div>
        </div>
        <div class="todo-list-container">
            <div class="header">Tareas pendientes (4)</div>
            <div class="to-do-box-content">
                <table>
                    <tr>
                        <td>
                            <div class="amber-status">
                                <i class="fa fa-circle" aria-hidden="true"></i><a href=""> Reporte enero/2018<br>Contenido Nacional</a>
                            </div>
                        </td>
                        <td>
                            <span class="to-do-box-date-label">14/Feb/18</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="green-status">
                                <i class="fa fa-circle" aria-hidden="true"></i><a href=""> Documento X672-R<br> ELVIS</a>
                            </div>
                        </td>
                        <td>
                            <span class="to-do-box-date-label">21/Mar/18</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="green-status">
                                <i class="fa fa-circle" aria-hidden="true"></i><a href=""> Aviso sobre inicio de<br>operaciones</a>
                            </div>
                        </td>
                        <td>
                            <span class="to-do-box-date-label">11/May/18</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="green-status">
                                <i class="fa fa-circle" aria-hidden="true"></i><a href=""> Ingresar solicitud de<br>construcción de pozo</a>
                            </div>
                        </td>
                        <td>
                            <span class="to-do-box-date-label">11/Jun/18</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="green-status">
                                <i class="fa fa-circle" aria-hidden="true"></i><a href=""> Ingresar solicitud de<br>construcción de pozo</a>
                            </div>
                        </td>
                        <td>
                            <span class="to-do-box-date-label">11/Jun/18</span>
                        </td>
                    </tr>
                </table>
                <i class="fa fa-plus-circle add-task-icon" aria-hidden="true"></i>
            </div>
        </div>
        <div class="news-tips-container">
            <div class="header">Novedades y tips</div>
            <div class="news-box-content">
                <ul>
                    <li><a href="www.ontica.org">Newstler 74 Covar</a></li>
                    <li><a href="">¿Sabes que hacer en situaciones de emergencia?</a></li>
                    <li><a href="">Nueva versión de la LH 2018</a></li>
                    <li><a href="">Conferencía de prsensa SENER ENE-2018</a></li>
                    <li><a href="www.ontica.org">Newstler 74 Covar</a></li>
                    <li><a href="">¿Sabes que hacer en situaciones de emergencia?</a></li>
                    <li><a href="">Nueva versión de la LH 2018</a></li>
                    <li><a href="">Conferencía de prsensa SENER ENE-2018</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
