<!--<div class="editor-container editor-container-style">
  <div class="tab">
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='planned'" (click)="setSelectedTask('planned')">Planeadas</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='next'" (click)="setSelectedTask('next')">Siguientes</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='inProcess'" (click)="setSelectedTask('inProcess')">En proceso</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='finished'" (click)="setSelectedTask('finished')">Terminados</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='toRecive'" (click)="setSelectedTask('toRecive')">Por recibir</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='allTasks'" (click)="setSelectedTask('alTasks')">Todas las tareas</button>
  </div>
</div>-->
<table class="grid">
  <thead>
    <tr>
      <th style="width:30%">Tarea/Actividad</th>
      <th style="width:8%">Trámite</th>
      <th style="width:15%">Observaciones</th>
      <th style="width:5%">Progreso</th>
      <th style="width:15%">Responsable</th>
      <th style="width:15%">Fechas</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let task of taskList">
      <tr [ngSwitch]="task.type" [ngClass]="setSummaryCSSClass(task.level || -1)">

        <ng-template [ngSwitchCase]="'ObjectType.ProjectObject.Summary'">
          <td style="width:100%" colspan="6">
            [-] {{task.name}}
          </td>
        </ng-template>

        <ng-template [ngSwitchCase]="'ObjectType.ProjectObject.Activity'">
          <td style="width:30%">
            <a (click)="onShowTaskEditor(task)">{{task.name}}</a>
          </td>
          <td style="width:10%" *ngIf="task.procedure.uid !=='Undefined'">
            <u><a (click)="onShowProcedureInfo(task.procedure.uid)">{{task.procedure.entity}}</a></u>
          </td>
          <td style="width:10%" *ngIf="task.procedure.uid ==='Undefined'"></td>
          <td style="width:15%">{{task.notes}}</td>
          <td style="width:5%;white-space:nowrap">{{task.progress}}%</td>
          <td style="width:15%;white-space:nowrap">{{task.responsible.name}} </td>
          <td style="width:15%;white-space:nowrap">Objetivo: {{task.targetDate | date: 'dd/MMM/yyyy'}} <br> Legal: &nbsp; &nbsp; &nbsp;{{task.dueDate | date: 'dd/MMM/yyyy'}} </td>
        </ng-template>
      </tr>
    </ng-container>
  </tbody>
</table>

<div class="grid-footer">
  <table class="grid-footer-style">
    <tr>
      <td class="grid-footer-items" style="width:30%">{{taskList.length}} tareas encontradas</td>
      <td class="grid-footer-items text-align-center">

      </td>
      <td class="grid-footer-items text-align-right ">Página 1 de 1</td>
    </tr>
  </table>
</div>
<div *ngIf="isTaskEditorVisible" class="popup">
  <task-form-editor [task]="selectedTask" (onCloseEvent)="onCloseTaskEditorWindow()"></task-form-editor>
</div>

<div *ngIf="isVisibleProcedureInfo" class="popup ">
  <selected-procedure [procedureUID]="procedureUID" (onCloseEvent)="onCloseProcedureInfoWindow()"></selected-procedure>
</div>
