<table class="grid">
  <thead>
    <tr>
      <th sytle="width:2%"></th>
      <th style="width:30%">Etapa » Obligación » Actividad</th>
      <th style="width:15%">Fechas límite</th>
      <th style="width:8%">Estado</th>
      <th style="width:15%">Responsable</th>
      <th style="width:28%">Etiquetas</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let task of taskList">
      <ng-container *ngIf="task.visible !== 'none'">
        <tr [ngSwitch]="task.type" [ngClass]="setSummaryCSSClass(task.level || -1)" draggable="isDrag" (dragover)="allowDrop($event)"
          (dragstart)="drag($event, task)" (drop)="drop($event, task)">

          <ng-template [ngSwitchCase]=" 'ObjectType.ProjectItem.Summary' ">
            <td style="width:3% ">
              <i class="fa fa-arrows drag-icon " aria-hidden="true " (mousedown)="enableDrag() "></i>
            </td>
            <td style="width:97% " colspan="5 " id=" ">
              <a (click)="expandOrCollapse(task.uid) ">
                <i class="summary-icon " [ngClass]="task.visible==='collapse' ? 'fa fa-plus-circle' : 'fa fa-minus-circle' " aria-hidden="true "></i>{{task.name}}</a>
            </td>
          </ng-template>

          <ng-template [ngSwitchCase]=" 'ObjectType.ProjectItem.Activity' ">
            <td style="width:2% ">
              <i class="fa fa-arrows drag-icon " aria-hidden="true " (mousedown)="enableDrag() "></i>
            </td>
            <td style="width:30% ">
              <a (click)="onShowTaskEditor(task) ">{{task.name}}</a>
              <br />
            </td>
            <td *ngIf="task.stage !=='Done' " style="width:15% ">
              Objetivo: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{task.targetDate | date: 'dd/MMM/yyyy'}}
              <br> Fecha Máxima: &nbsp;{{task.dueDate | date: 'dd/MMM/yyyy'}}
            </td>
            <td *ngIf="task.stage==='Done' " style="width:15%; ">
              Concluida el: {{task.endDate | date: 'dd/MMM/yyyy'}}
            </td>
            <td style="width:8% " class="text-align-center ">
              <rag-status-control [status]="task.ragStatus"></rag-status-control>
            </td>
            <td style="width:15% ">{{task.responsible.name}} </td>
            <td style="width:28% ">
              <ng-container *ngFor="let tag of task.tags ">
                <span class="tag ">{{tag}}</span>
              </ng-container>
            </td>
          </ng-template>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>

<div class="grid-footer ">
  <table class="grid-footer-style ">
    <tr>
      <td class="grid-footer-items " style="width:30% ">{{taskList.length}} tareas encontradas</td>
      <td class="grid-footer-items text-align-center ">

      </td>
      <td class="grid-footer-items text-align-right ">Página 1 de 1</td>
    </tr>
  </table>
</div>
<div *ngIf="isTaskEditorVisible " class="popup ">
  <old-activity-editor [activity]="selectedTask " (onUpdateActivity)="onUpdateActivity($event) " (onCloseEvent)="onCloseTaskEditorWindow() ">
  </old-activity-editor>
</div>
