<modal-window [title]="'Nueva FAQ'" (onClose)="close()">
    <div class="editor">
        <div class="tab">
            <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='faq'" (click)="setSelectedTask('faq')">FAQ</button>
         <!--   <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='clasification'" (click)="setSelectedTask('history')">Clasificación y asociaciones</button>
            <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='history'" (click)="setSelectedTask('history')">Hisoria</button>
         -->
        </div>
        <br>
        <div class="form-frame">
            <ng-container *ngIf="operation === 'Add'">
                <add-faq  (onClose)="close()"></add-faq>                           
            </ng-container>
            <ng-container *ngIf="operation === 'Update'">
                <update-faq [faq]="faq" (onClose)="close()"></update-faq>                        
            </ng-container>
            
        </div>
    </div>
</modal-window>