<div *ngIf="!isOpenFAQEditor" class="faq-container">
    <div>
        <div class="faq">
           <span  style="float:right;"><a (click)="onOpenFAQEditor()">Editar</a></span>
        </div>        
    </div>

    <div>
        <div class="question">
            {{faq.question}}
        </div>             
    </div>
    <div  class="answer">
        <div>            
            {{faq.answer}} 
        </div>                
    </div>
    <br><br>
   
    <span class='section-text'>Referencias:</span>
    <div>
        <div class="answer">     
           
        </div>
    </div>

    <span class='section-text'>Comentarios:</span>
    <div>
        <div class="answer">     
            {{faq.comments}}            
        </div>
    </div>

</div>
<div *ngIf="isOpenFAQEditor">    
    <update-faq [faq]="faq" (onClose)="onEditedFAQ()"></update-faq>     
</div>
