<div class="search-bar">
    <div class="search-control">
        <emp-ng-search-box (search)="search($event)"></emp-ng-search-box>
    </div>
    <a class="right" (click)="onAddFAQ()">+ Agregar FAQ</a>

    <div class="filters-bar">
        <a [class.selected-filter]="filter === 'all'" (click)="onFilterBy('all')">Todos ({{faqs.length }})</a> |
        <a [class.selected-filter]="filter === 'active'" (click)="onFilterBy('active')">Activas ({{activeFaqs.length}})</a> |
        <a [class.selected-filter]="filter === 'pending'" (click)="onFilterBy('pending')">Pendientes ({{pendingFaqs.length}})</a>
    </div>

</div>
<div *ngIf="filter !== 'pending'">
    <span class="title" *ngIf="activeFaqs.length > 0">Preguntas encontradas:</span>
    <ul>
        <ng-container *ngFor="let faq of activeFaqs">
            <li [class.selected]="faq.uid === selectedFaqUID">
                <a (click)="onClickSelectFaq(faq.uid)">{{faq.title}}</a>
            </li>
        </ng-container>
    </ul>
</div>
<div *ngIf="filter !== 'active'">
    <span class="title" *ngIf="pendingFaqs.length > 0">Pendientes:</span>
    <ul>
        <ng-container *ngFor="let faq of pendingFaqs">
            <li [class.selected]="faq.uid === selectedFaqUID">
                <a (click)="onClickSelectFaq(faq.uid)">{{faq.title}}</a>
            </li>
        </ng-container>
    </ul>
</div>
<div *ngIf="isOpenAddFAQWindow">
    <emp-kb-add-faq-modal-window  (close)="closeAddFAQWindow()"></emp-kb-add-faq-modal-window>
</div>
