<div class="nav-bar">
  <ul>
    <li><a routerLink='/home' routerLinkActive='selected' [routerLinkActiveOptions]="{exact:false}" i18n>HOME</a></li>
    <!-- <li><a routerLink='/inbox/main' routerLinkActive='selected' [routerLinkActiveOptions]="{exact:false}" i18n>MY TASKS</a></li> -->
    <li><a routerLink='/contract-management' routerLinkActive='selected' [routerLinkActiveOptions]="{exact:false}" i18n>CONTRACT MANAGEMENT</a></li>
    <!-- <li><a [routerLink]="['/documentation/main']" routerLinkActive='selected' [routerLinkActiveOptions]="{exact:true}">DOCUMENTS</a></li> -->
    <li><a routerLink='/regulatory-processes' routerLinkActive='selected' [routerLinkActiveOptions]="{exact:false}" i18n>REGULATORY PROCESSES</a></li>
    <li><a routerLink='/library' routerLinkActive='selected' [routerLinkActiveOptions]="{exact:false}" i18n>LIBRARY</a></li>
  </ul>
</div>
