<div class="nav-bar">
  <ul>
    <li><a [routerLink]="['/inbox/main']" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}">MIS TAREAS</a></li>
    <li><a [routerLink]="['/projects/main']" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}">CONTRATOS</a></li>
    <li><a [routerLink]="['/projects-templates/main']" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}">DISEÑO DE OBLIGACIONES</a></li>
    <li>REPORTES</li>
    <li>BIBLIOTECA</li>
  </ul>
</div>
