<div class="form-container-text">
  <div>
    <table class="form">
      <tr>
        <td colspan="6" class="form-title form-title-text">Información de la claúsula o anexo</td>
      </tr>
      <tr>
        <td>Número de la Claúsula:</td>
        <td><input type="text" style="width:80px;" class="text-box" [disabled]="isDisabled" [(ngModel)]="contractClause.clauseNo"></td>
        <td>Página:</td>
        <td><input type="number" min="1" max="999" style="width:40px;" class="text-box" [disabled]="isDisabled" [(ngModel)]="contractClause.sourcePageNo">
          <button style="width:40px;" class="btn">PDF</button>
        </td>
        <td>Etapa:</td>
        <td class="text-align-right"><select class="select-box" [disabled]="isDisabled">
          <option>( Seleccionar una etapa )</option>
          <option value="Etapa de Abandono">Etapa de Abandono</option>
          <option value="Período de Desarrollo">Período de Desarrollo</option>
          <option value="Período de Evaluación">Período de Evaluación</option>
          <option value="Transición de Arranque">Transición de Arranque</option>
          <option value="Transversales">Transversales</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Nombre:</td>
        <td colspan="5"><input type="text" class="text-box" [disabled]="isDisabled" [(ngModel)]="contractClause.title"></td>
      </tr>
    </table>
  </div>
  <div>
    <table class="form">
      <tr>
        <td class="form-title form-title-text">Texto:</td>
      </tr>
      <tr>
        <td>
          <textarea class="text-area" rows="35" cols="25" [disabled]="isDisabled" [(ngModel)]="contractClause.text"></textarea>
        </td>
      </tr>
    </table>

  </div>
  <div class="form-footer">
    <table class="form">
      <tr>
        <td><button class="btn">Imprimir</button></td>
        <td class="text-align-center">
          <button class="btn" (click)="onClickCancel()">Cancelar</button>
        </td>
        <td class="text-align-right" *ngIf="isDisabled">
          <button class="btn" (click)="onClickEditContractClause()">Editar</button>
        </td>
        <td class="text-align-right" *ngIf="!isDisabled">
          <button class="btn" (click)="onClickSaveContractClause()">{{buttonLabelSave}}</button>
        </td>
      </tr>
    </table>
  </div>
</div>
