<div class="list-header">
  <div class="list-item-column" i18n>
    Requisite / Type
  </div>

  <div class="list-item-right-column expand" i18n>
    Files
  </div>
</div>

<div *ngFor="let dataObject of dataObjects"
      class="list-item" matRipple [matRippleTrigger]="trigger">

  <mat-icon *ngIf="dataObject.status === 'Pending'" class="material-icons-outlined"
            (click)="onToggleCompleted(dataObject)">check_circle_outline</mat-icon>

  <mat-icon *ngIf="dataObject.status === 'Active'" class="material-icons" color='accent'
            (click)="onToggleCompleted(dataObject)">check_circle</mat-icon>

  <div class="list-item-container">

    <div class="list-item-name">
      <a #trigger (click)="onSelectDataObject(dataObject)">{{dataObject.name}}</a>
    </div>

    <div class="list-item-columns">
      <div class="list-item-column">
        {{dataObject.isOptional ? 'Optional' : 'Mandatory'}}
        <br />
        {{dataObject.description}}
      </div>

      <div class="list-item-right-column expand">
        <a *ngIf="dataObject.templateUrl && !dataObject.uploadedFileUrl" [href]="dataObject.templateUrl" target="_blank">
          <mat-icon class="material-icons">save_alt</mat-icon>Template
        </a>
        <a *ngIf="dataObject.uploadedFileUrl" [href]="dataObject.uploadedFileUrl" target="_blank">
          <mat-icon class="material-icons-outlined">insert_drive_file_outline</mat-icon>File
        </a>
        &nbsp; &nbsp; &nbsp;
        <button *ngIf="dataObject.action != 'None'" type="button" class="btn right"
                (click)="onSelectDataObject(dataObject)" i18n>{{dataObject.action}}</button>
      </div>

    </div>

  </div>

</div>

<div *ngIf="dataObjects.length === 0" class="list-item-container">
  <div class="list-item-column" i18n>
    This activity or obligation does not have defined requisites.
  </div>
</div>
