<div class="list-header">
  <div class="list-item-column" i18n>
    Data object / Type / Format
  </div>

  <div class="list-item-right-column expand" i18n>
    Action
  </div>
</div>

<div *ngFor="let dataObject of dataObjects"
      class="list-item" matRipple [matRippleTrigger]="trigger">

  <mat-icon class="material-icons-outlined" (click)="onSelectDataObject(dataObject)">insert_drive_file_outline</mat-icon>

  <div class="list-item-container">

    <div class="list-item-name">
      <a #trigger (click)="onSelectDataObject(dataObject)">{{dataObject.name}}</a>
    </div>

    <div class="list-item-columns">
      <div class="list-item-column">
        {{dataObject.type}} {{dataObject.mediaFormat}}
      </div>

      <div class="list-item-right-column expand">
        <button type="button" class="btn right" (click)="onSelectDataObject(dataObject)" i18n>{{dataObject.action}}</button>
      </div>

    </div>

  </div>

</div>

<div *ngIf="dataObjects.length === 0" class="list-item-container">
  <div class="list-item-column" i18n>
    No data objects
  </div>
</div>
