<div class="list-header">
  <div class="list-item-column" i18n>
    Requisite / Type
  </div>

  <div class="list-item-right-column expand" i18n>
    Files
  </div>
</div>

<div *ngFor="let dataObject of dataObjects"
      class="list-item" matRipple [matRippleTrigger]="trigger">

  <mat-icon *ngIf="dataObject.status === 'Pending'" class="material-icons-outlined"
            (click)="onToggleCompleted(dataObject)">check_circle_outline</mat-icon>

  <mat-icon *ngIf="dataObject.status === 'Active'" class="material-icons" color='accent'
            (click)="onToggleCompleted(dataObject)">check_circle</mat-icon>

  <div class="list-item-container">

    <div class="list-item-name">
      <a #trigger (click)="onSelectDataObject(dataObject)">{{dataObject.name}}</a>
    </div>

    <div class="list-item-columns">
      <div class="list-item-column">
        {{dataObject.isOptional ? 'Optional' : 'Mandatory'}}
        <br />
        {{dataObject.description}}
      </div>

      <div class="list-item-right-column expand" style="white-space: nowrap">
        <a *ngIf="dataObject.templateUrl && dataObject.mediaFormat === 'PDF'" (click)="selectTemplate(dataObject, true)" i18n>
          View Template
        </a>
        <a *ngIf="dataObject.templateUrl && dataObject.mediaFormat !== 'PDF'" [href]="dataObject.templateUrl" download i18n>
          Download Template
        </a>

        <br><br>

        <a *ngIf="dataObject.uploadedFileUrl && dataObject.mediaFormat === 'PDF'" (click)="selectTemplate(dataObject, false)" i18n>
          Uploaded file
        </a>
        <a *ngIf="dataObject.uploadedFileUrl && dataObject.mediaFormat !== 'PDF'" [href]="dataObject.uploadedFileUrl" i18n>
          Uploaded file
        </a>
        &nbsp;
        <a *ngIf="dataObject.uploadedFileUrl" (click)="removeUploadedFile(dataObject)">
          Remove
        </a>

        <button *ngIf="!dataObject.uploadedFileUrl" type="button" class="btn right"
                (click)="fileInput.click()" i18n>Upload file</button>

        <input #fileInput type="file"
              (change)="uploadFile(dataObject, $event.target.files)" style='display:none'>
      </div>

    </div>

  </div>

</div>

<div *ngIf="dataObjects.length === 0" class="list-item-container">
  <div class="list-item-column" i18n>
    This activity or obligation does not have defined requisites.
  </div>
</div>

<emp-ng-modal-window *ngIf="showTemplateViewer" [config]="{ width:'1200px', maxHeight: '95%', disableClose: true }"
                     (modalWindowClose)="hideTemplateViewer()">
    <emp-ng-card [title]="selectedDataObject.dataObject.name"
                 [hint]="projectItem.name" [hideScrollbar]="true"
                 (cardClose)="hideTemplateViewer()">
    <emp-ng-object [data]="templateMode ? selectedDataObject.templateUrl : selectedDataObject.uploadedFileUrl"></emp-ng-object>
  </emp-ng-card>

</emp-ng-modal-window>
