<div *ngIf="showWidget('ProcessSelector')">

  <emp-steps-process-selector
    [processes]="processStore.templates | async"
    [selected]="(processStore.selectedTemplate() | async).project"
    (change)="onSelectProcess($event)">
  </emp-steps-process-selector>


  <div class="panel-separator"></div>

</div>


<div *ngIf="showWidget('ProjectSelector')">

  <emp-steps-project-selector
      [projects]="projectStore.projects | async"
      [selected]="(projectStore.selectedProject() | async).project"
      (change)="onSelectProject($event)">
  </emp-steps-project-selector>

  <div class="panel-separator"></div>

</div>


<div *ngIf="showWidget('ProjectsListSelector')">

  <emp-steps-projects-list-selector
      [projects]="projectStore.projects | async"
      (change)="onSelectedProjects($event)">
  </emp-steps-projects-list-selector>

  <div class="panel-separator"></div>

</div>


<div *ngIf="showWidget('ResponsiblesListSelector')">
  <emp-steps-responsibles-list-selector
      [responsibles]="projectStore.allResponsibles | async"
      (change)="onSelectedResponsibles($event)">
  </emp-steps-responsibles-list-selector>

  <div class="panel-separator"></div>
</div>


<div *ngIf="showWidget('ThemesListSelector')">
  <emp-steps-themes-list-selector
      [themes]="projectStore.themes | async"
      (change)="onSelectedThemes($event)">
  </emp-steps-themes-list-selector>

  <div class="panel-separator"></div>
</div>
