<div *ngIf="showWidget('ProcessSelector')">

  <emp-steps-process-selector
    [processes]="processStore.templates | async"
    [selected]="(processStore.selectedTemplate() | async).project"
    (selectedProcessChange)="onProcessChange($event)">
  </emp-steps-process-selector>

  <div class="panel-separator"></div>

</div>


<div *ngIf="showWidget('ProjectSelector')">

  <emp-steps-project-selector
      [projects]="projectStore.projects | async"
      [selected]="filter.selectedProject"
      (selectedProjectChange)="onProjectChange($event)">
  </emp-steps-project-selector>

  <div class="panel-separator"></div>

</div>


<div *ngIf="showWidget('ProjectsListSelector')">

  <emp-steps-projects-list-selector
      [projects]="projectStore.projects | async"
      [selected]="filter.projects"
      (selectedProjectsChange)="onMultiProjectsChange($event)">
  </emp-steps-projects-list-selector>

  <div class="panel-separator"></div>

</div>


<div *ngIf="showWidget('ResponsiblesListSelector')">
  <emp-steps-responsibles-list-selector
      [responsibles]="projectStore.allResponsibles | async"
      [selected]="filter.responsibles"
      (selectedResponsiblesChange)="onResponsiblesChange($event)">
  </emp-steps-responsibles-list-selector>

  <div class="panel-separator"></div>
</div>


<div *ngIf="showWidget('ThemesListSelector')">
  <emp-steps-themes-list-selector
      [themes]="projectStore.themes | async"
      [selected]="filter.themes"
      (selectedThemesChange)="onThemesChange($event)">
  </emp-steps-themes-list-selector>

  <div class="panel-separator"></div>
</div>
