<table class="association">
  <tr>
    <td colspan="2">Asociar actividad del flujo de trabajo</td>
  </tr>
  <tr>
    <td>Tipo de actividad:</td>
    <td><select class="select-box">
      <option>Trámite gubernamental</option>
      </select>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="small-italic-notification">Asocia la actividad seleccionada con un trámite gubernamental</td>
  </tr>
  <tr>
    <td>Dependencia/ <br> Autoridad:</td>
    <td><select class="select-box">
      <option>SCT/ Unidad de Asuntos Jurídicos</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Trámite asociado<br> a esta actividad:</td>
    <td><select class="select-box">
        <option>Permiso para colocar señales informativas</option></select>
    </td>
  </tr>
  <tr>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td><button class="btn" (click)="onClose()">Cancelar</button></td>
    <td class="align-right">
      <button class="btn">Asociar y configurar</button><button class="btn">Solo asociar</button></td>
  </tr>
</table>
