<div class="card card-border">

  <div class="card-header">

    <div class="card-title">
      {{activity.name}}
      <div class="card-hint">{{activity.project.name}}</div>
    </div>

    <div class="card-header-options">
      <i class="fa fa-times close-icon" aria-hidden="true" (click)="onClose()"></i>
    </div>

  </div>

  <mat-tab-group color="accent">

    <mat-tab label="Activity" i18n-label>
      <emp-steps-activity-form
        [activity]="activity"
        (activityChange)="onUpdateActivity()"
        (activityDelete)="onClose()">
      </emp-steps-activity-form>
    </mat-tab>

    <mat-tab label="Subtasks" i18n-label>
      <emp-steps-activity-tasks [activity]="activity"></emp-steps-activity-tasks>
    </mat-tab>

    <mat-tab label="Files" i18n-label>
      <emp-steps-activity-files [projectItem]="activity"></emp-steps-activity-files>
    </mat-tab>

    <mat-tab label="Annotations" i18n-label>
      <emp-kb-postings-list [target]="activity"></emp-kb-postings-list>
    </mat-tab>

    <mat-tab label="Regulation" [disabled]="!activity.template" i18n-label>
      <div class="expand-no-scroll">
        <emp-steps-activity-designer
           [activityTemplate]="activity.template"
           [settings]="childrenSettings">
        </emp-steps-activity-designer>
      </div>
    </mat-tab>

  </mat-tab-group>

</div>
