<div class="header">
  <div class="title">
    {{activity.name}}
  </div>
  <div class="header-options">
    <i class="fa fa-times close-icon" aria-hidden="true" (click)="onClose()"></i>
  </div>
</div>


<table class="form">
  <tr>
    <td class="form-title form-title-text" colspan="2">Información general de la tarea o actividad</td>
  </tr>
  <tr>
    <td>Nombre:</td>
    <td>
      <input type="text" class="text-box" [(ngModel)]="activity.name">
    </td>
  </tr>
  <tr>
    <td>Observaciones:</td>
    <td>
      <textarea class="text-area" rows="5" cols="25" [(ngModel)]="activity.notes"></textarea>
    </td>
  </tr>
</table>
<table class="form">
  <tr>
    <td class="form-title form-title-text" colspan="4">Responsable de la tarea y RAG status</td>
  </tr>
  <tr>
    <td>Responsable:</td>
    <td>
      <select class="select-box" style="width:340px"
              [(ngModel)]="activity.responsible.uid">
        <option value="Empty">No asignado</option>
        <option *ngFor="let responsible of responsibles" [value]="responsible.uid">{{responsible.name}}</option>
      </select>
    </td>
    <td>RAG status:</td>
    <td class="text-align-right">
      <select class="select-box" [(ngModel)]="activity.ragStatus">
        <option value="NoColor">( Seleccionar )</option>
        <option value="Green">Verde</option>
        <option value="Ambar">Ambar</option>
        <option value="Red">Rojo</option>
      </select>
    </td>
  </tr>

</table>

<table class="form">
  <tr>
    <td class="form-title form-title-text" colspan="3">Etiquetas</td>
  </tr>
  <tr>
    <td>Etiquetas:</td>
    <td>
      <autocomplete-control style='width:200px'
                            [tags]="tags" [config]="{valueField: 'name'}"
                            (selected)="onSelectedTags($event)">
      </autocomplete-control>
    </td>

    <td style="width:300px">
      <chips [items]="selectedTags"></chips>
    </td>
  </tr>
</table>

<table class="form">
  <tr>
    <td class="form-title form-title-text" colspan="5">Fecha objetivo y fecha máxima de entrega</td>
  </tr>
  <tr>
    <td>Fecha objetivo:</td>
    <td>
      <calendar-control [config]="{ date: activity.targetDate }"
                        (onSelectedDate)="activity.targetDate = parseDate($event)"></calendar-control>
    </td>
    <td style="width:100%">&nbsp;</td>
    <td>Fecha máxima de entrega:</td>
    <td class="text-align-right">
      <calendar-control [config]="{ date: activity.dueDate }"
                                  (onSelectedDate)="activity.dueDate = parseDate($event)"></calendar-control>
    </td>
  </tr>
</table>

<div class="form-footer">
  <table class="form">
    <tr>
      <td>
        <button class="btn" (click)="onClose() ">Cancelar</button>
      </td>
      <td *ngIf="activity.stage !=='Done'" class="text-align-right ">
       <button class="btn-action" (click)="onSave() ">Guardar cambios</button>
      </td>
    </tr>
  </table>
</div>
