@import "../../../styles/general-styles";
@import "../../../styles/form";

.form-frame {
  height: 430px;
  overflow-y: auto;
}

.form {
  width: 640px;
  overflow-y: auto;
}

.form-footer {
  width: 660px;
}

.header {
  background-color: transparent;
  color: $text-title;
  min-height: 56px;
  padding: 4pt;
  width: 100%;
  border-bottom: 4px solid $light-gray;
}

.title {
  display: inline-block;
  font: $control-font;
  font-size: 12pt;
  width: calc(100% - 56px);
}

.header-options {
  float: right;
  vertical-align: -webkit-baseline-middle;
}

i.close-icon {
  cursor: pointer;
}

.hint {
  position: relative;
  color: $gray;
  font-size: 8pt;
  font-weight: 400;
  bottom: 0pt;
}
