<table class="form">
    <tr>
        <td colspan="4" class="form-title form-title-text">Acuerdos</td>
    </tr>
    <tr>
        <td colspan="4"><textarea class="text-area" rows="3" cols="25"></textarea></td>
    </tr>
    <tr>
        <td>Responsables:</td>
        <td><select  class="select-box" style="width:360px">
                <option value="">( Responsables )</option>
                <option value="34234">Manuel Urrutia</option>
                <option value="34w4">José Luis Cardenas López</option>
            </select>
        </td>
        <td>Deadline:</td>
        <td >
            <emp-ng-date-picker (change)="setSelectedDate($event)"></emp-ng-date-picker>
        </td>
    </tr>
    <tr>
      <td colspan="4" class="text-align-right"><button type="buton" class="btn-action" (click)="addAgreement()">Agregar</button></td>
    </tr>
</table>
