<table class="form">
    <tr>
        <td colspan="5" class="form-title form-title-text" >Participantes</td>
    </tr>
    <tr *ngIf="assistiants.length > 0">
        <td colspan="5">
            <ol>
                <li *ngFor="let assistiant of assistiants;">{{assistiant}}</li>
            </ol>                     
        </td>
    </tr>
    <tr>        
        <td>Nombre:</td>        
        <td>
            <input type="text"  class="text-box" style="width:250px;" [(ngModel)]="assistiant">
        </td>
        <td>Correo:</td>
        <td><input type="text" class="text-box" style="width:200px"></td>        
        <td><button type="button" class="btn-warning" (click)="addAssistant()" >Agragar</button></td>
    </tr>            
</table>