<table class="form">
    <tr>
        <td class="form-title form-title-text" colspan="6">Información general</td>
    </tr>
    <tr>
        <td>Nombre:</td>
        <td colspan="5"><input type="text" class="text-box" [(ngModel)]="meeting.title"></td>        
    </tr>
    <tr>        
        <td>Fecha:</td>        
        <td>
            <calendar-control (onSelectedDate)="meeting.date=$event"
            [config]="{ date:meeting.date | date: 'dd-MM-yyyy'}"></calendar-control>
        </td>
        <td>Inicio:</td>                                                       
        <td>
            <input style="width:40px;" type="text" class="text-box" maxlength="5" size="5" [(ngModel)]="meeting.startTime">
        </td>        
        <td>Término:</td>
        <td>
            <input style="width:40px" type="text" class="text-box" maxlength="5" size="5" [(ngModel)]="meeting.endTime">
        </td>                
    </tr>   
    <tr>
        <td>Proyecto:</td>
        <td colspan="2"><select #project  class="select-box" (change)="onChangeProject(project.value)" [ngModel]="meeting.project.uid" >
                <option value="">( Proyectos )</option>                
                <option *ngFor="let project of projects" [value]="project.uid">{{project.name}}</option>           
            </select>
        </td>
        <td ></td>
        <td>Ubicación:</td>
        <td class="text-align-right"><select  class="select-box" [(ngModel)]="meeting.location">
                <option value="">( Ubicación )</option>
                <option value="Vía telefónica">Vía telefónica</option>
                <option value="Oficinas Shell MEX">Oficinas Shell MEX</option>
                <option value="Oficinas Shell USA">Oficinas Shell USA</option>
                <option value="Oficina Covar">Oficina Covar</option>
            </select>
        </td>
        
    </tr>
</table>
<table class="form">    
    <tr>
        <td class="form-title form-title-text">Objetivo</td>
    </tr>
    <tr>
        <td><textarea class="text-area" rows="5" cols="25" [(ngModel)]="meeting.description"></textarea></td>
    </tr>    
</table>  
<div class="form text-align-right">
    <span style="padding-right: 40px;">
        <button type="button" class="btn-cancel" (click)="cancel()">Cancelar</button>  
    </span>  
    <button type="buton" class="btn-warning" (click)="doOperation()">Guardar cambios</button>
</div>
<ng-container *ngIf="isMeetingData"> 
    <participants [meetingUID]="meetingUID"></participants>
    <subjects></subjects>              
</ng-container>
