<table class="form">
    <tr>
        <td class="form-title form-title-text">Recomendaciones de covar</td>
    </tr>
    <tr>
        <td>
            <ol>
                <li *ngFor="let recomendation of recomendations">{{recomendation}}</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>
            <textarea class="text-area" rows="3" cols="25" [(ngModel)]="newRecomendation"></textarea>
        </td>
    </tr>
    <tr>
        <td class="text-align-right">
            <button type="buton" class="btn-action" (click)="addRecomendation()">Agregar</button>
        </td>
    </tr>
</table>