<div class="editor-container editor-container-style">
  <div class="header">
    <div class="close-button right-position" (click)="onClose()">&times;</div>
    <div class="title">{{task.name}}</div>
  </div>

  <div class="tab">
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='generalInfo'" (click)="setSelectedTask('generalInfo')">Información general</button>
    <ng-container *ngIf="task.procedure.uid !== 'Undefined'">
      <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='requirements'" (click)="setSelectedTask('requirements')">Requisitos y documentos</button>
    </ng-container>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='closeTask'" (click)="setSelectedTask('closeTask')"><span [innerHTML]="concluededTaskLabel"> </span></button>
  </div>

  <div class="form-frame" [ngSwitch]="selectedTask">
    <task-update *ngSwitchCase="'generalInfo'" [task]="task" (onUpdateActivity)="updateActivity($event)" (onCloseEvent)="onClose()"></task-update>
    <task-close *ngSwitchCase="'closeTask'" [task]="task" (onCloseEvent)="onClose()"></task-close>
    <pe-requirements *ngSwitchCase="'requirements'" [procedureUID]="task.procedure.uid"></pe-requirements>
  </div>
</div>
