<div class="explorer"
    [class.remove-min-width]="!displayEditor">

    <div class="explorer-panel primary">

      <div class="card">

          <div class="card-header card-header-flat">

            <div class="card-title">
              <span i18n>Guidance documents</span>
              <div class="card-hint" i18n>{{documentsList.length}} documents found</div>
            </div>

            <div class="card-header-options">
              <span i18n>Search:</span>
              <input type="search" class="text-box" style="width:190px;" (keyup.enter)="onChangeFilter()" [(ngModel)]="filter.keywords">
              <button class="btn" (click)="onChangeFilter()" i18n>Search</button>
            </div>

          </div>

          <div class="card-body">
            <emp-kb-faq-list [FAQs]="documentsList" (faqSelect)="selectDocument($event)"></emp-kb-faq-list>
          </div>
      </div>

  </div>

  <div *ngIf="displayEditor" class="explorer-panel secondary">
    <emp-kb-item-editor [document]="selectedDocument" (kbItemEditorClose)="onCloseEditor()"></emp-kb-item-editor>
  </div>

</div>
