@import "../../../styles/editor-window-style";
@import "../../../styles/form";
.form {
  width: 640px;
  overflow-y: auto;
}

:host {
  position: relative;
  top: -25%;
  left: 20%;
}

.editor-container {
  height: 500px;
  width: 700px;
}
