@import "../../../styles/editor-window-style";
:host {
  position: relative;
  top: -20%;
  left: 20%;
}

.editor-container {
  height: 550px;
  width: 700px;
}

.form-frame {
  height: 430px;
  overflow-y: auto;
}
