<!--<div class="editor-container editor-container-style">
  <div class="tab">
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='planned'" (click)="setSelectedTask('planned')">Planeadas</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='next'" (click)="setSelectedTask('next')">Siguientes</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='inProcess'" (click)="setSelectedTask('inProcess')">En proceso</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='finished'" (click)="setSelectedTask('finished')">Terminados</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='toRecive'" (click)="setSelectedTask('toRecive')">Por recibir</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='allTasks'" (click)="setSelectedTask('alTasks')">Todas las tareas</button>
  </div>
</div>-->
<table class="grid">
  <thead>
    <tr>
      <th style="width:30%">Etapa » Obligación » Actividad</th>
      <th style="width:15%">Fechas límite</th>
      <th style="width:8%">Estado</th>
      <th style="width:15%">Responsable</th>
      <th style="width:20%">Observaciones</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let task of taskList">
      <ng-container *ngIf="task.visible !== 'none'">
        <tr [ngSwitch]="task.type" [ngClass]="setSummaryCSSClass(task.level || -1)">

          <ng-template [ngSwitchCase]="'ObjectType.ProjectObject.Summary'">
            <td style="width:100%" colspan="6" id="">
              <a (click)="expandOrCollapse(task.uid)"><i class="summary-icon" [ngClass]="task.visible === 'collapse' ?  'fa fa-plus-circle' : 'fa fa-minus-circle'" aria-hidden="true"></i>{{task.name}}</a> </td>
          </ng-template>

          <ng-template [ngSwitchCase]="'ObjectType.ProjectObject.Activity'">
            <td style="width:30%">
              <a (click)="onShowTaskEditor(task)">{{task.name}}</a><br />
              <i *ngIf="task.procedure.uid !=='Undefined'">
              <a (click)="onShowProcedureInfo(task.procedure.uid)">Trámite {{task.procedure.entity}}</a>
            </i>
            </td>
            <td *ngIf="task.stage !=='Done'" style="width:15%;white-space:nowrap">
              Objetivo: {{task.targetDate | date: 'dd/MMM/yyyy'}} <br> Legal: &nbsp; &nbsp; &nbsp;{{task.dueDate | date: 'dd/MMM/yyyy'}}
            </td>
            <td *ngIf="task.stage ==='Done'" style="width:15%;white-space:nowrap">
              Concluida el: {{task.endDate | date: 'dd/MMM/yyyy'}}
            </td>
            <td style="width:8%;white-space:nowrap">{{task.progress}}%</td>
            <td style="width:15%;white-space:nowrap">{{task.responsible.name}} </td>
            <td style="width:20%">{{task.notes}}</td>
          </ng-template>
        </tr>

      </ng-container>
    </ng-container>
  </tbody>
</table>

<div class="grid-footer">
  <table class="grid-footer-style">
    <tr>
      <td class="grid-footer-items" style="width:30%">{{taskList.length}} tareas encontradas</td>
      <td class="grid-footer-items text-align-center">

      </td>
      <td class="grid-footer-items text-align-right ">Página 1 de 1</td>
    </tr>
  </table>
</div>
<div *ngIf="isTaskEditorVisible" class="popup">
  <task-form-editor [task]="selectedTask" (onCloseEvent)="onCloseTaskEditorWindow()"></task-form-editor>
</div>

<div *ngIf="isVisibleProcedureInfo" class="popup ">
  <pv-general-info [procedureUID]="procedureUID" (onCloseEvent)="onCloseProcedureInfoWindow()"></pv-general-info>
</div>
