<div class="list">
  <div *ngFor="let task of tasksList" class="posting" #postings>
    <a (click)="toggleSelectedTask(task)">{{task.name}}</a>
    <div class="posting-body">
      <span i18n>Responsible:</span> {{task.responsible.name}}
    </div>
  </div>

  <emp-steps-activity-form *ngIf="selectedTask.uid.length !== 0"
                           (update)="refreshTasksList()" (delete)="refreshTasksList()"
                           [activity]="selectedTask" [task]="selectedTask"></emp-steps-activity-form>

  <div style="padding:16px" *ngIf="selectedTask.uid.length === 0">
    <input #txtTaskName type="text" class='text-box inline-editor-text-box' (keyup.esc)='txtTaskName.value = "";'
      (keyup.enter)='onInsert(txtTaskName.value);txtTaskName.value = "";' placeholder='Add a subtask to this activity' i18n-placeholder/>
  </div>
</div>
