<div class="card">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Search all steps
      <div class="card-hint" empNgProgressText
        loadingText="Loading data"
        [finalText]="stepsList.length + ' items found'"
        [isLoading]="isLoading"></div>
    </div>

    <div class="card-header-options">
      <input type="search" class="text-box" style="width:50%;min-width:240px"
             placeholder="Search items"
             (search)="onChangeFilter()" [(ngModel)]="keywords">
      <mat-icon (click)="onChangeFilter()">search</mat-icon>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

      <button type="button" class="btn-action"
              (click)="onClickNew()" i18n>New step</button>
    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

    <div *ngFor="let step of stepsList"
          class="list-item" matRipple [matRippleTrigger]="trigger"
          [class.list-item-selected]="isSelected(step)">

      <div class="list-item-container">

        <div class="list-item-main-name">
          <a #trigger (click)="onSelect(step)">{{step.name}}</a>
        </div>

        <div class="list-item-columns" style="justify-content: left">

          <div class="list-item-column" style="min-width:120px">
            <div class="label">Type:</div>
            {{step.typeName}}
          </div>

          <div class="list-item-column" style="min-width:140px">
            <div class="label">Topic:</div>
            {{step.topics || 'No topic'}}
          </div>

          <div class="list-item-column">
            <div class="label">Entity:</div>
            {{step.entity || 'No related entity'}}
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
