@import "../../../styles/editor-window-style";
@import "../../../styles/form";
:host {
  position: relative;
  top: 145px;
  left: 20%;
}

.editor-container {
  height: calc(100vh - 180px);
  width: 720px;
}

.form-frame {
  height: calc(100% - 100px);
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 600pt;
}
