@import "../../../styles/editor-window-style";
@import "../../../styles/former-form-style";

:host {
  position: relative;
  top: 120px;
  left: 20%;
}

.editor-container {
  height: calc(100vh - 100px);
  width: 800px;
}

.form-frame {
  height: calc(100% - 140px);
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 800px;
  margin-left: 20px;
}

.title {
  color: #3a3a3a;
  font-size: 10pt;
  font-weight: 600;
  padding: 6pt;
  min-height: 30pt;
  max-height: 48pt;
  width: 80%;
}

.tab {
  margin-left: 20px;
  width: 760px;
}
