<div class="editor-container editor-container-style">
  <div class="header">
  
    <div class="close-button right-position" (click)="onClose()">&times;</div>
  
    <div class="title">{{procedure.shortName}}</div>

  </div>

  <div class="tab">

    <button class="tab-links left-position"
            [class.selected]="selectedTab==='generalInfo'"
            [disabled]="isDisabled"
            (click)="selectTab('generalInfo')">
            Información general
    </button>
    <button class="tab-links left-position"
            [class.selected] = "selectedTab === 'requirements'"
            [disabled] = "isDisabled"
            (click)="selectTab('requirements')">Requisitos
    </button>
  </div>

  <br>
  
  <div [ngSwitch]="selectedTab" class="form-frame">
    <pv-general-info *ngSwitchCase="'generalInfo'"
                     [procedureUID]="procedureUID">
    </pv-general-info>
    <pv-requirements *ngSwitchCase="'requirements'"
                     [procedureUID]="procedureUID">
    </pv-requirements>
  </div>

</div>
