@import "../../../styles/general-styles";

.clause-title {
  font-size: 14pt;
  color: $primary-color;
  font-weight: 600;
  padding: 6pt;
  line-height: 22pt;
}

.clause-definition {
  padding: 6pt;
  text-align: justify;
  font-size: 11pt;
  max-width: 600pt;
}

.term-definition {
  border-bottom: 1px double $primary-color-light;
  cursor: pointer;
}
