@import "../../../styles/grid";

.clause-subtitle {
  color: $primary-color;
  font-size: 14pt;
  font-weight: 600;
  padding: 4pt;
}

table.grid td:nth-child(1), table.grid th:nth-child(1) {
  width: 90%;
}

table.grid tbody tr {
  height: auto;
  display: block;
  overflow: inline;
}

table.grid td {
  padding: 8pt;
}

.procedure-info {
  display: inline-block;
  width: 90%;
}
