<div class="main-container" [ngStyle]="{'height' : + screenSize +'px' }">
  <div class="left-panel" [ngStyle]="{'height' : + screenSize +'px' }">
    <div style="width:100%" [ngStyle]="{'height' : + navigationBarHeight +'px'}">
      <select class="select-warning" #view (change)="onChangeView(view.value)" [(ngModel)]="selectedView">
      <option value="kanban-view">Vista: Tablero Kanban</option>
      <option value="gantt-view">Vista: Diagrama de Gantt</option>
      <option value="task-list-view">Vista: Lista de Tareas</option>
    </select>
    </div>
    <div class="tree-views-container">
      <tree-view-projects (selectedPath)="setSelectedPath($event)"></tree-view-projects>
      <tree-view-responsibles (onSelectedItem)="setResponsibleItem($event)"></tree-view-responsibles>
    </div>
  </div>

  <div class="center-panel" [ngStyle]="{'height' : + screenSize +'px'}">
    <div class="header" [ngStyle]="{'height' : + navigationBarHeight +'px'}">
      <table>
        <tr>
          <td>
            <button style="width:100px" class="btn-warning">+Tarea</button>
          </td>
          <td>
            <div style="width:450px">Filtrar por: <b>{{projectPath}} {{responsibleItem}}</b> </div>
          </td>
          <td class="text-align-right">Buscar</td>
          <td class="text-align-right"> <input type="text" class="text-box" value="buscar" style="width: 200px;"></td>
          <td *ngIf="selectedView === 'gantt-view'">Escala</td>
          <td *ngIf="selectedView === 'gantt-view'">
            <select style="width:110px" class="select-box" [(ngModel)]="ganttConfig">
                <option value="ganttQuarters">Gantt (trimestres)</option>
                <option value="ganttMonths">Gantt (meses)</option>
                <option value="ganttWeeks">Gantt (semanas)</option>                
              </select>
          </td>
          <td class="text-align-right"><a (click)="displayMap()">Mapa</a></td>
        </tr>
      </table>
    </div>
    <div class="map-component" *ngIf="isMapVisible" [ngStyle]="{'height' : + height + 'px'}">

    </div>
    <div class="map-component" [ngSwitch]="selectedView">
      <kanban [height]="height" *ngSwitchCase="'kanban-view'"></kanban>
      <tasks-list-view [height]="height" *ngSwitchCase="'task-list-view'"></tasks-list-view>
      <gantt-view [height]="height" [ganttConfig]="ganttConfig" *ngSwitchCase="'gantt-view'"></gantt-view>
    </div>


  </div>
</div>
