@import "../../../styles/_variables";

.circle {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
}

.circle:hover {
  opacity: 1.0;
}

.amber {
  background-color: $dark-orange;
}

.green {
  background: $green;
}

.red {
  background: $dark-red;
}

.no-color {
  background-color: transparent;
}

.no-color:hover {
  background-color: $light-gray;
}
