@import "../../../styles/general-styles";

.container {
  min-width: 240px;
  position: relative;
}

.container input {
  border-radius: 6px;
  padding-left: 8px;
  transition: 0.5s ease-out;
  height: 30px;
}
