<div class="form">

  <div class="form-section-title" i18n>Obligation requisites list</div>

  <div>
    <emp-steps-requirements-list
      [requirementsList]="requirementsList | async" [readonly]='readonly'
      (listEvent)="onRequirementsListEvent($event)">
    </emp-steps-requirements-list>
  </div>

  <div class="float-right">
    <button type="button" *ngIf="!readonly" class="btn-action"
            (click)="showRequirementEditor()" i18n>New requisite</button>
  </div>

  <emp-ng-modal-window *ngIf="displayRequirementEditor"
                       [config]="{ width:'760px', height: '640px', disableClose: true }"
                       (modalWindowClose)="hideEditor()">

    <emp-ng-card title='Obligation requisite editor' [hint]="step.name" (cardClose)="hideEditor()">
      <emp-steps-requirement-editor
        [requirement]="selectedRequirement"
        (selected)="linkRequirement($event)">
      </emp-steps-requirement-editor>
    </emp-ng-card>

  </emp-ng-modal-window>

</div>
