<form (ngSubmit)="onSubmit()" [empNgSpinnerHost]="spinner" [formGroup]="form">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <fieldset>

    <table class="form-section">

      <tr *ngFor="let formField of formFields">
        <td>{{formField.label}}:</td>

        <td [ngSwitch]="formField.controlType" colspan="2">

          <span *ngSwitchCase="'textbox'">
            <input  [id]="formField.key"
                   [type]="formField.type" [formControlName]="formField.key" [style.width]="formField.width"
                   class="text-box"> &nbsp; {{formField.unit}}
          </span>

          <textarea *ngSwitchCase="'textarea'" [id]="formField.key"
                    [formControlName]="formField.key" class="text-area" rows="3" cols="25">
          </textarea>

          <select *ngSwitchCase="'dropdown'" [id]="formField.key"
                  [formControlName]="formField.key" class="select-box" [style.width]="formField.width">
            <option *ngFor="let listItem of formField.values" [value]="listItem.key">{{listItem.value}}</option>
          </select>

          <div class="form-errors" *ngIf="submitted && !isValid(formField.key)">{{formField.label}} is required.</div>
        </td>
      </tr>
    </table>

    <table class="form-section">
      <tr>
        <td>&nbsp;</td>
        <td class="text-align-right">
          <button type="button" class="btn right" [class.btn-action]="!form.pristine && form.valid"
                  (click)="onSubmit()">{{actionButtonLabel}}</button>
        </td>
      </tr>
    </table>

  </fieldset>

</form>
