<ng-container [formGroup]="form">
  <td>{{formField.label}}</td>
  <td [ngSwitch]="formField.controlType">
    <input *ngSwitchCase="'textbox'" [id]="formField.key"
           [type]="formField.type" [formControlName]="formField.key"
           class="text-box">

    <select *ngSwitchCase="'dropdown'" [id]="formField.key"
            [formControlName]="formField.key" class="select-box">
      <option *ngFor="let opt of formField.options" [value]="opt.key">{{opt.value}}</option>
    </select>
  </td>
</ng-container>
