<table class="grid-search-table">
  <tr>
    <td>Procesos registrados:</td>
    <td>
      <select class="select-box" style="width:340px" #process (change)="onChangeSelectedProcess(process.value)">
                          <option value="">(Seleccionar un proceso de la lista)</option>                  
                          <option *ngFor="let process of processes" [value]=process.uid >{{process.name}}</option>
      </select>
      <button class="btn" (click)="editDiagram()" *ngIf="!editionMode">Editar modelo</button>
    </td>
    <td>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <button class="btn-warning" (click)="createDiagram()">+ Crear un nuevo proceso</button>

      <!--
      <button (click)="showSaveNewDiagramPopup()">{{saveAsLabel}}</button>
      <button *ngIf="!isNewDiagram" (click)="saveDiagram()">Guardar cambios</button>
      !-->
    </td>
  </tr>
</table>
<div *ngIf="activateSaveNewDiagramPopup" class="popup">
  <save-process-dialog (onSetDiagramIdentificationEvent)="saveNewDiagram($event)" (onCancelEvent)="closeSaveNewDiagramPopup()"></save-process-dialog>
</div>
<div *ngIf="showShapeInfo" class="popup">
  <!--<task-editor-window (onCloseEvent)="closeShapeInfo()"></task-editor-window> -->
</div>
<div class="iframe-container">
  <iframe #modeler scrolling="no" [class.readonly-modeler]="!editionMode" class="iframe-modeler" [src]=" url "></iframe>
</div>
