@import "../../../styles/form";
@import "../../../styles/grid";
.popup {
  z-index: 1;
}

.iframe-container {
  height: calc(100vh - 200px);
  overflow: auto;
  z-index: -1;
}

.iframe-modeler {
  border: 0;
  height: 1580px;
  position: relative;
  width: 100%;
  background-color: $white;
}

.readonly-modeler {
  pointer-events: none;
  z-index: -1;
}

.title {
  background-color: $text-title;
  color: white;
  text-align: center;
  height: 30px;
  width: 100%;
  vertical-align: middle;
  font-weight: normal;
  font-size: 9pt;
  padding: 4pt;
}
