<div class="main-container">
  <div class="header">
    <h3>Guardar Diagrama</h3>
  </div>
  <div *ngIf="alerts" class="alert-bar">
    {{ alerts }}
  </div>
  <div>
    <div>
      <label>Nombre:</label>
      <input class="textBox" #name (input)="process.name=name.value"><br>
    </div>
    <div>
      <label>Versión:  </label>
      <input class="textBox" #version (input)="process.version=version.value"><br></div>
    <p>
      <button (click)="setDiagramIdentification()">Guardar</button>
      <button (click)="cancel()">Cancelar</button>
    </p>
  </div>
