<table class="grid-search-table">
  <tr>
    <td>Proyecto:</td>
    <td>
      <select style="width:320px;" class="select-box" #project (change)="onChangeProjectList(project.value)">
        <option value="">( Seleccionar un proyecto de la lista )</option>
       <option *ngFor="let project of projectList"[value]="project.uid">{{project.name}}</option>
        </select>
    </td>
    <td>Buscar:</td>
    <td><input style="width:320px" type="search" class="search-box">
      <button class="btn" style="width:55px;">Buscar</button>
    </td>
    <td colspan="2"><button style="width:185px" class="btn-warning aling-center" type="button" (click)="onClickAddActivity()">+ Agregar actividad o evento</button></td>
  </tr>

  <tr>
    <td>Filtrar:</td>
    <td><select class="select-box" style="width:320px">
                <option value="">( No filtrar )</option>
                <option value="Trámites gubernamentales">Trámites gubernamentales</option>
          </select>
    </td>
    <td>Responsable:</td>
    <td>
      <select style="width:385px" class="select-box">
        <option value="">( No filtrar ) </option>
        <option value="112">Juan Carlos Palma Rodríguez</option>
      </select>
    </td>
    <td>Mostrar:</td>
    <td>
      <select style="width:138px" class="select-box" [(ngModel)]="ganttConfig">>
          <option value="ganttQuarters">Gantt (trimestres)</option>
          <option value="ganttMonths">Gantt (meses)</option>
          <option value="ganttWeeks">Gantt (semanas)</option>
          <option value=""></option>
          <option value="kanban">Tablero Kanban</option>
          <option value="tasksList">Asignación de tareas</option>
        </select>
    </td>
  </tr>

</table>
<div *ngIf="isAddActivityEditorWindowVisible" class="popup">
  <activity-add [project]="selectedProject" [parentId]="null" [topUbication]="10" (onCloseEvent)="onCloseAddActivityEditorWindow()"></activity-add>

</div>

<div *ngIf="isGanttGraphVisible">
  <gantt [project]="selectedProject " [config]="ganttConfig "></gantt>
</div>
