<table class="grid-search-table">
  <tr>
    <td>Proyecto:</td>
    <td>
      <select style="width:320px;" class="select-box" #project (change)="onChangeProjectList(project.value)">
        <option value="">( Seleccionar un proyecto de la lista )</option>
        <option *ngFor="let project of projectsList"[value]="project.uid">{{project.name}}</option>
        </select>
    </td>
    <td>Buscar:</td>
    <td><input style="width:320px" type="search" class="text-box">
      <button class="btn" style="width:55px;" (click)="onSearch()">Buscar</button>
    </td>
    <td colspan="4"><button style="width:185px" class="btn-warning align-center" type="button" (click)="onClickAddActivity()">+ Agregar actividad o evento</button></td>
  </tr>

  <tr>
    <td>Filtrar:</td>
    <td>
      <select class="select-box" style="width:320px" #resource (change)="onChangeResource(resource.value)">
        <option value="">( No filtrar )</option>
        <option *ngFor="let resource of resourcesList" [value]="resource.uid">{{resource.name}}</option>
      </select>
    </td>
    <td>Responsable:</td>
    <td>
      <select style="width:385px" class="select-box" #responsible (change)="onChangeResponsible(responsible.value)">
        <option value="">( Todos ) </option>
        <option *ngFor="let responsible of responsiblesList" [value]="responsible.uid">{{responsible.name}}</option>
      </select>
    </td>
    <td>Ordenar:</td>
    <td>
      <select style="width: 140px" class="select-box" #orderBy (change)="onChangeOrderBy(orderBy.value)">
        <option value="ItemOrdering, ProjectObjectId">(No ordenar)</option>
        <option value="DueDate, ItemOrdering, ProjectObjectId">Fecha Legal</option>
        <option value="TargetDate, ItemOrdering, ProjectObjectId">Fecha Objetivo</option>
        <option value="ResponsibleName, ItemOrdering, ProjectObjectId">Responsable</option>
        <option value="ActivityName, ItemOrdering, ProjectObjectId">Nombre de la tarea</option>
      </select>
    </td>
    <td>Mostrar:</td>
    <td>
      <select style="width:138px" class="select-box" [(ngModel)]="selectedView">
        <option value="tasksList">Asignación de tareas</option>
        <option value="kanban">Tablero Kanban</option>
        <option value="calendar">Calendario</option>
        <option value=""></option>
        <option value="ganttQuarters">Gantt (trimestres)</option>
        <option value="ganttMonths">Gantt (meses)</option>
        <option value="ganttWeeks">Gantt (semanas)</option>
      </select>
    </td>
  </tr>

</table>
<div *ngIf="isAddActivityEditorWindowVisible" class="popup">
  <activity-add [project]="selectedProject" [parentId]="null" [topUbication]="10" (onCloseEvent)="onCloseAddActivityEditorWindow()"></activity-add>
</div>


<div *ngIf="isGanttGraphVisible">
  <div [ngSwitch]="selectedView">
    <worklists-main-page [project]="selectedProject" [refresh]="isRefreshWorkList" *ngSwitchCase="'tasksList'"></worklists-main-page>
    <!--
    <worklists-main-page [project]="selectedProject" *ngSwitchCase="'kanban'"></worklists-main-page>-->
    <gantt [project]="selectedProject" [config]="selectedView" *ngSwitchDefault></gantt>
  </div>
  <!--<gantt [project]="selectedProject " [config]="ganttConfig"></gantt>-->
</div>
