:host {
  position: relative;
  top: 38%;
  left: 35%;
}

.alert-bar {
  color: #9b1b1f;
}

.main-container {
  border: 1px solid black;
  background-color: white;
}

.header {
  background-color: #9b1b1f;
  color: #A05000;
}

button {
  background-color: #2C3942;
  color: white;
}

input.textBox {
  background-color: #f0f0f0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  color: #424242;
  font: 8pt Arial, Helvetica;
  font-weight: bold;
  height: 25px;
  margin: 2px 8px 2px 0;
  padding: 4px 2px 2px;
  vertical-align: middle;
  width: 99%;
}
