<h1>Process Definition component outlet</h1>
<select #process (change)="onChangeSelectedProcess(process.value)">
                    <option value="">(Selecciona un proceso)</option>                  
                    <option *ngFor="let process of processes" [value]=process.uid >{{process.name}}</option>
</select>
<button (click)="openDiagram()">Cargar Modelo</button>
<button (click)="sendInfo()">mandarinfo</button>
<button (click)="createDiagram()">Nuevo</button>
<button (click)="getDiagram()">Guardar Modelo</button>
<button (click)="editDiagram()">Editar Modelo</button>
<div class="iframe-container">
  <iframe #modeler scrolling="no" [class.readonly-modeler]="isReadOnly" class="iframe-modeler" [src]=" url "></iframe>
</div>
