<div class="title-bar">
    Resultados de la busqueda "{{keywords}}" <i class="fa fa-times-circle close-global-search-icon" (click)="closeGlobalSearch()"></i>
</div>
<div  class="nav-bar">       
  <nav-bar [options]="navBarConfig" (onSelect)="selectOption($event)"></nav-bar> 
</div> 
<div class="gs-container">
  <div [class]="masterContainer">
      <div [ngSwitch]="selectedOption">  
         <procedures-table-view  *ngSwitchCase="'procedures'" [procedures]="procedures" (onSelectProcedure)="selectProcedure($event)"></procedures-table-view>         
      </div> 
   
  </div>
  <div *ngIf="isDetailsContainerVisible" class="block-container right">
      <div><i class="fa fa-times close-icon" (click)="closeDetailsContainer()"></i></div>
      <div [ngSwitch]="selectedOption">
          <procedure-info *ngSwitchCase="'procedures'" [procedureUID]="selectedProcedureUID"></procedure-info>
      </div>      
  </div>
</div>


