<table class="grid">
  <thead>
    <tr>
      <th style="width:30%">» Nombre</th>
      <th style="width:14%">Fechas límite</th>
      <th style="width:8%">Estado</th>
      <th style="width:15%">Responsable</th>
      <th style="width:20%">Etiquetas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inbox of inboxList">
      <td style="width:30%">
        <a (click)="openInboxEditorWindow(inbox)">{{inbox.title}}</a>
      </td>
      <td style="width:15%;">
        Fecha Máxima: &nbsp;{{inbox.extensionData.dueDate | date: 'dd/MMM/yyyy'}}
      </td>
      <td style="width:8%;" class="text-align-center">
        <rag-control [status]="inbox.extensionData.ragStatus"></rag-control>
      </td>
      <td style="width:15%;">{{inbox.to.name}} </td>
      <td style="width:20%">
        <ng-container *ngFor="let tag of inbox.extensionData.tags">
          <span class="tag">{{tag}}</span>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
<div class="grid-footer">
  <table class="grid-footer-style">
    <tr>
      <td class="grid-footer-items" style="width:30%">{{inboxList.length}} tareas encontradas</td>
      <td class="grid-footer-items text-align-center">

      </td>
      <td class="grid-footer-items text-align-right ">Página 1 de 1</td>
    </tr>
  </table>
</div>
<div *ngIf="isEditorWindow">
  <inbox-editor [inboxItem]="selectedItem" (onCloseEvent)="closeInboxEditorWindow()"></inbox-editor>
</div>
