<table class="grid">
  <thead>
    <tr>
      <th style="width:20pt"></th>
      <th style="width:30%">Tarea</th>
      <th style="width:14%">Fechas límite</th>
      <th style="width:8%">Estado</th>
      <th style="width:15%">Responsable</th>
      <th style="width:15%">Etiquetas</th>
    </tr>
  </thead>
  <tbody>
    <tr style="min-height:65px" *ngFor="let inbox of inboxList">
      <td class="main-icon">
        <a (click)="onOpenProcedureEditorWindow(procedure.uid)"><i class="fa fa-inbox" aria-hidden="true"></i></a>
      </td>
      <td style="width:30%">
        <a (click)="openInboxEditorWindow(inbox)">{{inbox.title}}</a><br>
        Proyecto: {{inbox.project.name}}
      </td>
      <td style="width:15%;">
        Fecha Objetivo: &nbsp;{{inbox.extensionData.targetDate | date: 'dd/MMM/yyyy'}}<br> Fecha Máxima: &nbsp;{{inbox.extensionData.dueDate | date: 'dd/MMM/yyyy'}}
      </td>
      <td style="width:8%;" class="text-align-center">
        <rag-status-control [status]="inbox.extensionData.ragStatus"></rag-status-control>
      </td>
      <td style="width:15%;">{{inbox.to.name}}</td>
      <td style="width:15%">
        <ng-container *ngFor="let tag of inbox.extensionData.tags">
          <span class="tag">{{tag}}</span>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
<div class="grid-footer">
  <table class="grid-footer-style">
    <tr>
      <td class="grid-footer-items" style="width:30%">{{inboxList.length}} tareas encontradas</td>
      <td class="grid-footer-items text-align-center">

      </td>
      <td class="grid-footer-items text-align-right ">Página 1 de 1</td>
    </tr>
  </table>
</div>
<div *ngIf="isEditorWindow">
  <inbox-editor [inboxItem]="selectedItem" (onCloseEvent)="closeInboxEditorWindow()"></inbox-editor>
</div>
