<table class="grid">
  <thead>
    <tr>
      <th style="width:20pt"></th>
      <th style="width:30%">Tarea</th>
      <th style="width:14%">Fechas límite</th>
      <th style="width:8%">Estado</th>
      <th style="width:15%">Responsable</th>
      <th style="width:15%">Etiquetas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of inboxList">
      <td style="width:20pt" class="main-icon">
        <a (click)="openInboxEditorWindow(task)"><i class="fa fa-inbox" aria-hidden="true"></i></a>
      </td>
      <td style="width:30%">
        <a (click)="openInboxEditorWindow(task)">{{task.title}}</a><br>
        Proyecto:
      </td>
      <td style="width:15%;">
        Fecha Objetivo: &nbsp;{{task.extensionData.plannedEndDate | date: 'dd/MMM/yyyy'}}<br> Fecha Máxima: &nbsp;{{task.extensionData.deadline | date: 'dd/MMM/yyyy'}}
      </td>
      <td style="width:8%;" class="text-align-center">
        <emp-ng-rag-status [status]="task.extensionData.ragStatus"></emp-ng-rag-status>
      </td>
      <td style="width:15%;">{{task.to.name}}</td>
      <td style="width:15%">
        <ng-container *ngFor="let tag of task.extensionData.tags">
          <span class="tag">{{tag}}</span>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
<div class="grid-footer">
  <table class="grid-footer-style">
    <tr>
      <td class="grid-footer-items" style="width:30%">{{inboxList.length}} tareas encontradas</td>
      <td class="grid-footer-items text-align-center">

      </td>
      <td class="grid-footer-items text-align-right ">Página 1 de 1</td>
    </tr>
  </table>
</div>
