<div class="task-editor-window">
  <div class="header">
    <div class="close" (click)="close()">&times;</div>
    <div class="title">Permisos para accesos, cruzamientos, instalaciones marginales</div>
    <div class="subtitle">Ronda 1.3</div><br>
  </div>
  <div class="tab">
    <button class="tablinks" (click)="setSelectedTask('generalInfo')">Información general</button>
    <button class="tablinks">Condiciones</button>
    <button class="tablinks" (click)="setSelectedTask('requirements')">Requisitos</button>
    <button class="tablinks">Pago de derechos</button>
    <button class="tablinks">Interviene en</button>
    <button class="tablinks">Estado</button>
  </div>
  <br>
  <div [ngSwitch]="selectedTask">
    <general-info-tab *ngSwitchCase="'generalInfo'"> </general-info-tab>
    <requirements-tab *ngSwitchCase="'requirements'"></requirements-tab>
  </div>
</div>
