<div class="editor-container editor-container-style">
  <div class="header">
    <div class="close-button right-position" (click)="onClose()">&times;</div>
    <div class="small-title">{{newNameLabel}}</div>
    <div class="title">{{procedure.name}}</div>
    <div class="subtitle">{{procedure.entityName}}</div><br>
  </div>
  <div class="tab">
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='generalInfo'" (click)="setSelectedTask('generalInfo')">Información general</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='conditions'" (click)="setSelectedTask('conditions')">Inicio y plazos</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='requirements'" (click)="setSelectedTask('requirements')">Requisitos y notas</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='payments'" (click)="setSelectedTask('payments')">Pago de derechos</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='status'" (click)="setSelectedTask('status')">Estado</button>
    <button class="tab-links left-position" [disabled]="isDisabled" [class.selected]="selectedTask==='requirementGrid'" (click)="setSelectedTask('requirementGrid')">Requerimientos</button>
    <!-- <button class="tablinks">Interviene en</button>-->
  </div>

  <div class="form-frame" [ngSwitch]="selectedTask">
    <emp-gov-general-info-tab *ngSwitchCase="'generalInfo'" [procedure]="procedure"></emp-gov-general-info-tab>
    <emp-gov-filing-conditions-tab *ngSwitchCase="'conditions'" [procedure]="procedure"></emp-gov-filing-conditions-tab>
    <emp-gov-requirements-tab *ngSwitchCase="'requirements'" [procedure]="procedure"></emp-gov-requirements-tab>
    <emp-gov-filing-fee-tab *ngSwitchCase="'payments'" [procedure]="procedure"></emp-gov-filing-fee-tab>
    <emp-gov-procedure-status-tab *ngSwitchCase="'status'"></emp-gov-procedure-status-tab>
    <emp-gov-requirement-tab *ngSwitchCase="'requirementGrid'"></emp-gov-requirement-tab>
  </div>
</div>
