@import "../../../styles/general-styles";
@import "../../../styles/editor-window-style";
:host {
  position: relative;
  top: 3%;
  left: 20%;
}

.editor-container {
  height: calc(100% - 140px);
  width: 720px;
}

.form-frame {
  height: calc(100% - 140px);
  overflow-y: auto;
}
