@import "../../../styles/general-styles";
@import "../../../styles/editor-window-style";
:host {
  position: relative;
  top: 3%;
  left: 20%;
}

.editor-container {
  height: 600px; //750px;
  width: 720px;
}

.form-frame {
  height: 430px;
  overflow-y: auto;
}
