@import "../../../styles/general-styles";
table.grid {
  width: 100%;
  text-align: left;
  margin: 0;
  min-width: 250px;
}

table.grid thead tr {
  height: 30px;
  padding-top: 10px
}

table.grid tbody tr {
  height: 50px;
}

table.grid tbody {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

table.grid th, table.grid td, table.grid tr, table.grid thead, table.grid tbody {
  display: block;
}

table.grid td, table.grid th {
  float: left;
}

table.grid td:nth-child(1), table.grid th:nth-child(1) {
  width: 5%;
}

table.grid th:nth-child(2) {
  width: 39%;
}

table.grid td:nth-child(2) {
  width: 40%;
}

table.grid th:nth-child(3) {
  width: 14.5%;
}

table.grid td:nth-child(3) {
  width: 15%;
}

table.grid th:nth-child(4) {
  width: 14%;
}

table.grid td:nth-child(4) {
  width: 15%;
}

table.grid td:nth-child(5), table.grid th:nth-child(5) {
  width: 10%;
}

table.grid td:nth-child(6), table.grid th:nth-child(6) {
  width: 15%;
}

table.grid thead {
  background-color: $red;
  color: $white;
}

table.grid tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}
