<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>Requisito</th>
      <th>Clave</th>
      <th>Tipo</th>
      <th>Ejemplo</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Datos del solicitante o Representante legal</td>
      <td>APT-1</td>
      <td>FORMATO</td>
      <td>pdf</td>
      <td>eliminar <br> cambiar
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Documentación que acredite la propiedad o posesión de la superfice <br> o autorización para su aprovechamiento
      </td>
      <td></td>
      <td>PAGO</td>
      <td>pdf</td>
      <td>eliminar <br> cambiar
      </td>
    </tr>
    <tr>
      <td>13</td>
      <td>Plano con medidas y colindancias en el que se delimite la ubicación del predio</td>
      <td>DKL-33</td>
      <td>OFICIO</td>
      <td>pdf</td>
      <td>eliminar <br> cambiar
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Comprobante que acredite el pago de derechos</td>
      <td>PETRO-BRAS-333</td>
      <td>PAGO</td>
      <td>pdf</td>
      <td>eliminar <br> cambiar
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>Documento que contenga la información del uso que se <br> dará al predio objeto del acceso
      </td>
      <td>KLOP</td>
      <td>FORMULSARIO</td>
      <td>pdf</td>
      <td>eliminar <br> cambiar
      </td>
    </tr>
    <tr>
      <td>6</td>
      <td>Documento que contenga la información del uso que se <br> dará al predio objeto del acceso
      </td>
      <td>KLOP</td>
      <td>FORMULSARIO</td>
      <td>pdf</td>
      <td>eliminar <br> cambiar
      </td>
    </tr>
  </tbody>
</table>
