<div class="editor-container editor-container-style">
  <div class="header">
    <div class="close-button right-position" (click)="onClose()">&times;</div>
    <div class="title">{{selectedTask.name}} </div>
    <div class="subtitle"><b>{{task.project.name}}</b>
    </div>
  </div>
  <div *ngIf="isCloseTaskEditorVisible">
    <task-close [task]="task" (onCloseEvent)="onCloseTaskEditorIsClosed()"></task-close>
  </div>
  <div *ngIf="!isCloseTaskEditorVisible">
    <table class="form">
      <tr>
        <td class="form-title form-title-text" colspan="2">Información General</td>
      </tr>
      <tr>
        <td>Nombre:</td>
        <td>{{selectedTask.name}}</td>
      </tr>
      <tr>
        <td>Observaciones:</td>
        <td>{{selectedTask.notes}}</td>
      </tr>
    </table>
    <table class="form">
      <tr>
        <td class="form-title form-title-text" colspan="2">Asignado y solicitado</td>
      </tr>
      <tr>
        <td>Solicitado:</td>
        <td>{{task.requestedBy.name}}</td>
      </tr>
      <tr>
        <td>Responsable:</td>
        <td><select class="select-box" style="width:380px" [(ngModel)]="selectedTask.responsibleUID">
               <option value="">( Seleccionar )</option>
               <option *ngFor="let responsible of responsiblesList" 
                       [value]="responsible.uid">{{responsible.name}}</option>            
               </select>
        </td>
      </tr>
    </table>
    <table class="form">
      <tr>
        <td class="form-title form-title-text" colspan="2">Fechas importantes</td>
      </tr>
      <tr>
        <td>Fecha de termino:</td>
        <td>
          <input type="text" id="endDateCalendar" class="text-box" style="width:100px">
          <button id="endDateCalendarButton">..</button>
          <!--[ngModel]="activity.estimatedEnd | date:'dd-MM-yyyy'" (target)="activity.estimatedEnd=$event"-->
        </td>
      </tr>
      <tr>
        <td>Fecha Legal:</td>
        <td>{{task.dueDate | date: 'dd-MMM-yyyy'}}</td>
      </tr>
    </table>
    <table class="form">
      <tr>
        <td class="form-title form-title-text" colspan="3">Progreso</td>
      </tr>
      <tr>
        <td>Progreso:</td>
        <td>
          <select class="select-box" style="width:60px">
          <option value="10">10%</option>
          <option value="20">20%</option>
          <option value="30">30%</option>
          <option value="40">40%</option>
          <option value="50">50%</option>
          <option value="60">60%</option>
          <option value="70">70%</option>
          <option value="80">80%</option>
          <option value="90">90%</option>
          <option value="100">100%</option>
          </select>
        </td>
        <td class="text-align-right">
          <button class="btn" (click)="onCloseTask()">Concluir la tarea</button>
        </td>
      </tr>

    </table>
    <div class="form-footer ">
      <table class="form">
        <tr>
          <td class="text-align-center ">
            <button class="btn" [disabled]="disabled" (click)="cancel() ">Cancelar</button>
          </td>

          <td *ngIf="!disabled " class="text-align-right ">
            <button class="btn-warning" (click)="onUpdateTask()">Actualizar tarea</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
