<div class="explorer"
    [class.remove-min-width]="!displayEditor">

  <div class="explorer-panel primary">

    <ng-container *ngIf="currentView.name === 'Projects.Tasks'">
      <emp-steps-activity-timeline
          groupBy='timeline'
          [activities]="allActivities | applyFilter: filter"
          (activitySelected)="showEditor($event)">
      </emp-steps-activity-timeline>
    </ng-container>

    <ng-container *ngIf="currentView.name === 'Projects.Gantt'">

    </ng-container>

    <ng-container *ngIf="currentView.name === 'Projects.Files'">
      <emp-steps-files-grid>

      </emp-steps-files-grid>
    </ng-container>

  </div>

  <div *ngIf="displayEditor" class="explorer-panel secondary">

    <emp-steps-activity-editor
         [activity]="selectedActivity"
         (update)="onActivityUpdated($event)"
         (close)="onEditorClosed()">
    </emp-steps-activity-editor>

  </div>

</div>
