@import "../../../../styles/grid";
@import "../../../../styles/editor-window-style";
.editor-container {
  width: 60%;
}

.container {
  width: 100%;
}

table.grid tbody tr {
  height: 80px;
}

table.grid tbody tr {
  display: block;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  margin: auto;
  margin-top: 0px;
  width: 140px;
  height: 270px;
  z-index: 0;
}

.option-list {
  position: absolute;
  padding: 0;
  width: 140px;
  height: 270px;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
}

ul {
  list-style-type: none;
}
