@import "../../../styles/general-styles";

.mat-form-field {
  display: block;
}

.mat-dialog-title {
  border-bottom: 2px solid $primary-color;
  color: $primary-color;
  font-size: 14pt;
  font-weight: 600;
  padding: 8pt;
}

.mat-dialog-actions {
  border-top: 1px solid $secondary-color;
}
