@import "../../../styles/activity";


.form-section {
  border-bottom: 1px solid $border-color;
  font-size: 10pt;

  * {
    margin: 4pt;
  }
}


.what-if-section {
  min-height: 380px;
  margin-top: 6px;
}


.activity-container {
  margin-left: 14pt;
}


.activity-row {
  max-width: 600px;
}


.select-box {
  max-width: 600px;
  width:90%;
}
