<div class="list-header">
  <div class="list-item-column" i18n>
    Requisite / Type
  </div>

  <div class="list-item-right-column expand" i18n>

  </div>
</div>

<div *ngFor="let requirement of requirementsList"
      class="list-item" matRipple [matRippleTrigger]="trigger">

  <mat-icon class="material-icons-outlined" (click)="onSelectRequirement(requirement)">insert_drive_file_outline</mat-icon>

  <div class="list-item-container">

    <div class="list-item-name">
      <a #trigger (click)="onSelectRequirement(requirement)">{{requirement.name}}</a>
    </div>

    <div class="list-item-columns">
      <div class="list-item-column">
        {{requirement?.dataObject?.type}}
      </div>

      <div class="list-item-right-column expand" *ngIf="!readonly">
        <mat-icon class="material-icons-outlined" (click)="onDeleteRequirement(requirement)">delete_outline</mat-icon>
      </div>
    </div>

  </div>

</div>

<div *ngIf="requirementsList && requirementsList.length === 0" class="list-item-container">
  <div class="list-item-column" i18n>
    There are not defined requisites for this obligation.
  </div>
</div>
