<div class="outer form-container-text">

  <div class="login-div">

    <div class="left-column">
      <div>
        <img class="logo" src="../../assets/img/customer-logo.png" alt="COVAR Energy Consulting" />
      </div>
    </div>

    <div class="central-column"></div>

    <div class="right-column">

      <div class="authentication-section-welcome">
        <span><b>Bienvenidos</b></span><br>
        <span class="hint">Ingresar el nombre de usuario y la contraseña registrada:</span>
      </div>

      <form [class.submitted]="submitted" [formGroup]="form" (ngSubmit)="onSubmit()"
            (keydown)="keyboardHandler($event)">

        <div class="authentication-section-form">

          <label for="userID">Usuario:</label>
          <input type="text" class="text-box" id="userID"
                 autocomplete="username" autofocus required
                 formControlName="userID">

          <label for="password">Contraseña:</label>
          <input type="password" class="text-box" id="password"
                 autocomplete="current-password" required
                 formControlName="password">

          <div *ngIf="showExceptionMsg"
                class="inline-error">{{exceptionMsg}}</div>

          <button type="submit" class="btn-action" style="width:84px" (click)="setCommand('authenticate')">Ingresar</button>

          <spinner></spinner>

        </div>

      </form>

      <!--
      <div class="authentication-section-footer">
        <a href="#" (click)="onResetCredentials();">Olvidé la contraseña</a><br>
        <a href="#">Crear una cuenta</a>
      </div>
      !-->

    </div>


  </div>

</div>
