@import "../../../styles/grid";
.procedure {
  margin-left: 20px;
  margin-right: 30px;
  padding: 2px;
  background-color: gray;
  color: black;
  text-align: justify;
}

.procedures-table {
  margin-left: 20px;
  margin-right: 30px;
}

.selected-procedure {
  margin-left: 20px;
  margin-right: 30px;
}

ul li {
  color: red;
}

table.grid td:nth-child(1), table.grid th:nth-child(1) {
  width: 40%;
}

table.grid td:nth-child(2), table.grid th:nth-child(2) {
  width: 10%;
}

table.grid td:nth-child(3), table.grid th:nth-child(3) {
  width: 30%;
}

table.grid td:nth-child(4), table.grid th:nth-child(4) {
  width: 20%;
}
