<div class="main-container">
  <table class="grid-search-table">
    <tr>
      <td>Contrato:</td>
      <td>
        <select #contract class="select-box" style="width:210px;" (change)="onChangeContract(contract.value)">
                   <option value="">( Seleccionar un contrato )</option>
                   <option *ngFor="let contract of contractsList" [value]="contract.uid">{{contract.name}}</option>
                </select>
      </td>
      <td>Buscar:</td>
      <td>
        <input style="width:364px;" type="search " class="text-box ">
      </td>
      <td>
        <button class="btn" style="width:55px;" (click)="search()">Buscar</button>
      </td>
      <td class="text-align-center">
        <button style="width:140px" class="btn-warning" (click)="onClickAddClause()">+Agregar cláusula</button>
      </td>
    </tr>
  </table>
  <div class="left-panel" *ngIf="isVisibleLeftPanel" [ngStyle]="{'width' : leftPanelWidth }">
    <contract-clause-selector (selectedClause)="onSelectedClause($event)"></contract-clause-selector>
  </div>
  <div class="left-resize" *ngIf="!isHideLeftPanel" (mousedown)='onResize($event)' [style.width.px]="leftResizeWidth"></div>
  <div class="center-panel" [ngStyle]="{'width' : centerPanelWidth }">


    <div style="overflow-y: scroll; height:470px; width:100%;">

      <!-- <button type="button" (click)="onHideLeftPanel()">Ocultar el panel izquierdo</button>-->
      <div *ngIf="isSelectedClause">
        <selected-clause [clause]="clause"></selected-clause>
      </div>
      <!-- -->
    </div>
  </div>
