@import "../../../styles/form";
div {
  float: left;
  margin: 0px;
  outline: none;
  padding: 0;
  vertical-align: top;
}

.main-container {
  background-color: #204060;
  height: 550px;
  min-height: 30%;
  width: 100%;
}

.left-panel {
  background-color: #f8f8f8;
  border: 2px solid #9b1b1f;
  display: inline-block;
  height: 100%;
}

.center-panel {
  background-color: #f8f8f8;
  border: 2px solid #9b1b1f;
  display: inline-block;
  height: 100%;
}

.left-resize {
  background-color: white;
  cursor: w-resize;
  display: inline-block;
  height: 100%;
}
