<div style="width:80%;padding-left:32px" [formGroup]="form">
  <input type="text" class='text-box' formControlName="title" placeholder="Title" />
  <textarea class="text-area" rows="3" cols="20" formControlName="body" placeholder="Annotation text"></textarea>
  <!-- <input type="text" class='text-box' formControlName="fileName" placeholder="Attached document (optional)" /> -->
  <div>
    <button mat-stroked-button color="primary" [disabled]="!form.valid" (click)="onSave()">Save</button>
  </div>
</div>
