<mat-expansion-panel expanded>

  <mat-expansion-panel-header i18n>
    Regulators
  </mat-expansion-panel-header>

  <mat-selection-list [(ngModel)]="selectedOptions">
    <mat-list-option checkboxPosition='before' value='all' (click)="onSelected('all')" i18n>All regulators</mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option *ngFor="let entity of entities" checkboxPosition='before'
                     [value]="entity" (click)="onSelected(entity)">
      {{entity}}
    </mat-list-option>
  </mat-selection-list>

</mat-expansion-panel>
